@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: block;

  &.full-width section {
    max-width: p2r(1000);
  }
}

sh-stepper {
  max-width: p2r(500);
  margin: p2r(40) auto;
}

section {
  max-width: p2r(500);
  margin: 0 auto p2r(40);
}
