<sh-form-field>
  <input type="text" i18n-placeholder placeholder="Search for destination..." [(ngModel)]="destinationSearchTerm" />
</sh-form-field>

<div class="list">
  @for (option of destinationTypeOptionsFocused(); track $index) {
    <app-destination-list-item
      [destination]="option"
      tabindex="0"
      (click)="setDestination.emit(option.customKey ?? option.key)"
      (keydown.enter)="$any($event.target).click()"
      (keydown.space)="$any($event.target).click()">
      <button shButton tabindex="-1" i18n type="button">
        Choose
        <sh-icon>arrow-right</sh-icon>
      </button>
    </app-destination-list-item>
  }
</div>
