@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(16);
  height: 100%;
  overflow: hidden;
  padding: p2r(4);
}

.list {
  display: flex;
  flex-direction: column;
  gap: p2r(16);
  height: 100%;
  overflow: auto;
  padding: p2r(4 6 16 6);
  width: calc(100% + #{p2r(8)});
  margin-left: p2r(-6);
  border-bottom: p2r(1) solid var(--base-4);
}
