<form [formGroup]="encryptionForm" (submit)="next()">
  <sh-form-field>
    <label for="password" i18n>Password</label>
    <input
      type="password"
      id="password"
      i18n-placeholder
      placeholder="Enter backup passphrase if defined."
      formControlName="passphrase" />
  </sh-form-field>

  <sh-toggle-card>
    <ng-container title i18n>Advanced options</ng-container>

    <app-options-list [(options)]="settings" [hasFreeTextSettings]="true" />
  </sh-toggle-card>

  <div class="form-actions">
    <button shButton type="button" (click)="back()" i18n>
      <sh-icon>arrow-left</sh-icon>
      Back
    </button>

    <button shButton class="raised primary" type="submit" i18n>
      <sh-icon>arrow-right</sh-icon>
      Continue
    </button>
  </div>
</form>
