@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(24);
  padding: p2r(0 40);
}

h3 {
  font: var(--title-30);
}

code {
  background: darken(var(--base-8), 70%);
  color: #fff;
  padding: p2r(16 24);
  border-radius: var(--shape-3);
  overflow: auto;
  white-space: pre;
}
