@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: block;
}

sh-select {
  --miw: p2r(120);
}

sh-toggle {
  sh-icon {
    font-size: p2r(16);
  }
}

.placeholder {
  color: var(--base-9);
  text-align: center;
  padding: p2r(32 16);
}

.field-row {
  display: flex;
  align-items: center;
  gap: p2r(8);
  position: relative;
  z-index: 1;
  max-width: p2r(520);
  width: 100%;

  .remove-btn {
    align-self: flex-end;
  }

  > *:first-child {
    max-width: p2r(448);
    width: 100%;
  }

  &.align-remove-start {
    .remove-btn {
      align-self: flex-start;
    }
  }
}

.option-col {
  display: flex;
  flex-direction: column;
}

.form-column {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
  gap: p2r(4);
}

sh-icon {
  font-size: p2r(16);
}

.form-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: p2r(8);
  align-items: flex-end;
}

.actions {
  display: flex;
  gap: p2r(8);
  justify-content: flex-end;
}

.deprecated {
  text-decoration: line-through;
}

.raw-text-area {
  min-height: 12rem;
  white-space: pre;
}
