<header>
  <h3 i18n>Throttle network speed</h3>
  <p i18n>We will round bits to the nearest byte value.</p>
</header>

<div content>
  <div class="column">
    <div class="field-row">
      <label i18n>Max upload speed</label>

      <sh-form-field>
        <input
          type="number"
          (paste)="cleanupInputAfterPasting($event)"
          (keydown)="blockDecimalKeys($event)"
          [(ngModel)]="maxUpload" />
      </sh-form-field>

      <sh-select [isClearable]="false" [options]="sizeOptions()">
        <input type="text" [(ngModel)]="maxUploadUnit" />
      </sh-select>
    </div>

    <div class="field-row">
      <label i18n>Max download speed</label>

      <sh-form-field>
        <input
          type="number"
          (paste)="cleanupInputAfterPasting($event)"
          (keydown)="blockDecimalKeys($event)"
          [(ngModel)]="maxDownload" />
      </sh-form-field>

      <sh-select [isClearable]="false" [options]="sizeOptions()">
        <input type="text" [(ngModel)]="maxDownloadUnit" />
      </sh-select>
    </div>
  </div>
</div>

<footer footer>
  <button shButton (click)="closed.emit(false)" i18n>Cancel</button>
  <button shButton class="raised primary" [class.loader]="isSubmitting()" (click)="submit()" i18n>
    Update settings
  </button>
</footer>
