@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: block;
  width: 100%;
  max-width: p2r(640);
  padding: p2r(40);
  display: flex;
  flex-direction: column;
  gap: p2r(24);
  padding-bottom: p2r(24);
}

.toggle-wrap {
  display: flex;
  flex-direction: column;
  gap: p2r(4);
}

.schedule-summary {
  display: flex;
  flex-direction: column;
  gap: p2r(12);
  padding: p2r(16);
  border: p2r(1) solid var(--base-4);
  border-radius: p2r(8);
  background: var(--base-1);

  h4,
  p,
  dl,
  dd {
    margin: 0;
  }

  dl {
    display: grid;
    gap: p2r(8);
  }

  dl > div {
    display: grid;
    grid-template-columns: minmax(p2r(100), 1fr) 2fr;
    gap: p2r(12);
  }

  dt {
    color: var(--base-8);
  }
}

.row-inputs {
  display: flex;
  align-items: flex-end;
  gap: p2r(8);

  > * {
    flex: 1 0;
  }
}

.days-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: p2r(16);
}

.form-actions {
  display: flex;
  justify-content: space-between;
}
