<div class="filters">
  <spk-button-group>
    <button type="button" routerLink="/about/logs/stored" routerLinkActive="active" i18n>
      <spk-icon>archive</spk-icon>
      Stored
    </button>

    <button type="button" routerLink="/about/logs/live" routerLinkActive="active" i18n>
      <spk-icon>play</spk-icon>
      Live
    </button>
  </spk-button-group>

  @if (currentUrl().startsWith('/about/logs/live')) {
    <spk-menu [openIndicator]="true">
      <button spk-button type="button" i18n>Log level: {{ logLevelByLabel() }}</button>

      <ng-container menu>
        <button spk-button type="button" class="small" (click)="updateLogLevel('Disabled')" i18n>
          <spk-icon>bell-simple-slash</spk-icon>
          Disabled
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('Verbose')" i18n>
          <spk-icon>megaphone-simple</spk-icon>
          Verbose
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('ExplicitOnly')" i18n>
          <spk-icon>flow-arrow</spk-icon>
          Explicit only
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('Profiling')" i18n>
          <spk-icon>speedometer</spk-icon>
          Profiling
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('Retry')" i18n>
          <spk-icon>arrow-arc-left</spk-icon>
          Retry
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('Information')" i18n>
          <spk-icon>info</spk-icon>
          Information
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('DryRun')" i18n>
          <spk-icon>person-simple-run</spk-icon>
          Dry run
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('Warning')" i18n>
          <spk-icon>warning</spk-icon>
          Warning
        </button>

        <button spk-button type="button" class="small" (click)="updateLogLevel('Error')" i18n>
          <spk-icon>warning-octagon</spk-icon>
          Error
        </button>
      </ng-container>
    </spk-menu>
  }
</div>

<router-outlet />
