<div class="filters">
  <sh-button-group>
    <button type="button" routerLink="/about/logs/stored" routerLinkActive="active" i18n>
      <sh-icon>archive</sh-icon>
      Stored
    </button>

    <button type="button" routerLink="/about/logs/live" routerLinkActive="active" i18n>
      <sh-icon>play</sh-icon>
      Live
    </button>
  </sh-button-group>

  @if (currentUrl().startsWith('/about/logs/live')) {
    <sh-menu [openIndicator]="true">
      <button shButton type="button" i18n>Log level: {{ logLevelByLabel() }}</button>

      <ng-container menu>
        <button shButton type="button" class="small" (click)="updateLogLevel('Disabled')" i18n>
          <sh-icon>bell-simple-slash</sh-icon>
          Disabled
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('Verbose')" i18n>
          <sh-icon>megaphone-simple</sh-icon>
          Verbose
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('ExplicitOnly')" i18n>
          <sh-icon>flow-arrow</sh-icon>
          Explicit only
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('Profiling')" i18n>
          <sh-icon>speedometer</sh-icon>
          Profiling
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('Retry')" i18n>
          <sh-icon>arrow-arc-left</sh-icon>
          Retry
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('Information')" i18n>
          <sh-icon>info</sh-icon>
          Information
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('DryRun')" i18n>
          <sh-icon>person-simple-run</sh-icon>
          Dry run
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('Warning')" i18n>
          <sh-icon>warning</sh-icon>
          Warning
        </button>

        <button shButton type="button" class="small" (click)="updateLogLevel('Error')" i18n>
          <sh-icon>warning-octagon</sh-icon>
          Error
        </button>
      </ng-container>
    </sh-menu>
  }
</div>

<router-outlet />
