@use '@ship-ui/core/styles/helpers' as *;

:host {
  --dialog-p: #{p2r(24)};
  display: flex;
  flex-direction: column;
  gap: p2r(16);
}

header {
  display: flex;
  padding: p2r(24 24 0);
}

section {
  display: flex;
  flex-direction: column;
  gap: p2r(16);
}
