<header>
  <h3 class="title-30" i18n>Remote source</h3>
</header>

<section content>
  @let hasDestination = !!targetUrlModel();

  @if (!hasDestination) {
    <app-destination-list
      [showAsSources]="true"
      [moduleType]="moduleType()"
      (setDestination)="setDestination($event)"></app-destination-list>
  }

  @if (hasDestination) {
    <app-destination-list-item [targetUrl]="targetUrlModel()" class="current-destination">
      <button shButton i18n (click)="removeDestination()" type="button">Change</button>
    </app-destination-list-item>

    <app-test-url
      [(targetUrl)]="targetUrlModel"
      [(testSignal)]="testSignal"
      [suppressErrorDialogs]="suppressErrorDialogs()"
      [askToCreate]="askToCreate()"
      [testExpectation]="expectedResult()"
      [moduleType]="moduleType()"></app-test-url>

    <app-single-destination [(targetUrl)]="targetUrlModel" />
  }
</section>

<footer footer class="sticky">
  <button shButton type="button" (click)="closed.emit(null)" i18n>Cancel</button>
  <button
    shButton
    type="button"
    class="raised primary"
    [disabled]="!hasDestination || testSignal() === null || testSignal() === 'testing'"
    [class.loading]="testSignal() === 'testing'"
    (click)="submit()"
    i18n>
    @if (moduleType() === 'Backend') {
      Use storage destination
    } @else if (moduleType() === 'SourceProvider') {
      Use remote source
    } @else if (moduleType() === 'RestoreDestinationProvider') {
      Use remote destination
    } @else {
      Use remote URL
    }
  </button>
</footer>
