@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: p2r(400);
  overflow: hidden;
  gap: p2r(16);
  padding-top: p2r(32);
  padding-bottom: p2r(24);
}

.loading-state,
.empty-state {
  padding: p2r(32 0);
  display: flex;
  flex-direction: column;
  gap: p2r(16);
}

.version-picker {
  .label {
    color: var(--base-9);
  }
}

.search-container {
  display: flex;
  align-items: flex-end;
  gap: p2r(8);

  sh-form-field {
    flex: 1;
  }
}

.search-results-info {
  color: var(--base-8);
  font-size: var(--small);
}

.form-actions {
  display: flex;
  justify-content: space-between;
}
