<div class="nav">
  <button spk-button class="raised" routerLink="/about/general" routerLinkActive="primary">General</button>

  <button spk-button class="raised" routerLink="/about/changelog" routerLinkActive="primary">Changelog</button>

  <button spk-button class="raised" routerLink="/about/libraries" routerLinkActive="primary">Libraries</button>

  <button spk-button class="raised" routerLink="/about/system-info" routerLinkActive="primary">System info</button>

  <button spk-button class="raised" routerLink="/about/logs" routerLinkActive="primary">Logs</button>
</div>

<section>
  <router-outlet />
</section>
