<spk-tabs class="primary">
  <button tab routerLink="/about/general" routerLinkActive="active" i18n>General</button>
  <button tab routerLink="/about/changelog" routerLinkActive="active" i18n>Changelog</button>
  <button tab routerLink="/about/libraries" routerLinkActive="active" i18n>Libraries</button>
  <button tab routerLink="/about/system-info" routerLinkActive="active" i18n>System info</button>
  <button tab routerLink="/about/logs" routerLinkActive="active" i18n>Logs</button>
  <button tab routerLink="/about/crashlogs" routerLinkActive="active" i18n>Crash log</button>
</spk-tabs>

<section>
  <router-outlet />
</section>
