@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: p2r(16 0);

  sh-tabs {
    margin: p2r(0 32 32);
  }

  section {
    padding: 0;
  }
}

section {
  display: flex;
  flex-direction: column;
  padding: p2r(32 32);
}
