<sh-sidenav [class]="sidenavType()" [(isOpen)]="isNavOpen" [disableDrag]="true">
  @if (isMobile()) {
    <ng-container sidenav-closed-topbar>
      <button shButton class="small toggle-sidebar" (click)="toggleNav()">
        @if (isNavOpen()) {
          <sh-icon class="cross">x-bold</sh-icon>
        } @else {
          <sh-icon class="burger">list-bold</sh-icon>
        }
      </button>
    </ng-container>
  }

  <div sidenav>
    <header>
      <app-logo />

      <button shButton class="icon small" (click)="toggleBodyClass()">
        @if (isDarkMode()) {
          <sh-icon>sun</sh-icon>
        } @else {
          <sh-icon>moon</sh-icon>
        }
      </button>
    </header>

    <sh-list class="base-1 primary">
      <button action routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" i18n>
        <sh-icon>house</sh-icon>
        Home
      </button>

      <button action routerLink="/add-backup" routerLinkActive="active" i18n>
        <sh-icon>database</sh-icon>
        Add backup
      </button>

      <button action routerLink="/restore" routerLinkActive="active" i18n>
        <sh-icon>clock-counter-clockwise</sh-icon>
        Restore
      </button>

      <!-- <button action routerLink="/status" routerLinkActive="active" i18n>
        <sh-icon>pulse</sh-icon>
        Status
      </button> -->

      <button action routerLink="/settings" routerLinkActive="active" i18n>
        <sh-icon>gear</sh-icon>
        Settings
      </button>

      <!-- <sh-divider /> -->
    </sh-list>

    <div class="spacer"></div>

    <sh-list class="base-1l primary">
      <!-- <button action (click)="changeDefaultClientTo('ngax')" i18n>
          <sh-icon>skip-back</sh-icon>
          Use old UI
        </button> -->

      <div action class="machine-name" title="{{ machineName() }}">
        <sh-icon>desktop</sh-icon>
        {{ machineName() }}
      </div>

      <sh-divider />

      <button action routerLink="/about" routerLinkActive="active" i18n>
        <sh-icon>info</sh-icon>
        About Duplicati
      </button>

      <a href="https://docs.duplicati.com" target="_blank" action i18n>
        <sh-icon>files</sh-icon>
        Documentation

        <sh-icon suffix>arrow-square-out</sh-icon>
      </a>

      <a href="https://forum.duplicati.com" target="_blank" action i18n>
        <sh-icon>chats-circle</sh-icon>
        Visit forum

        <sh-icon suffix>arrow-square-out</sh-icon>
      </a>

      @if (!relayIsEnabled()) {
        <button action (click)="logout()" i18n>
          <sh-icon>sign-out</sh-icon>
          Log out
        </button>
      }
    </sh-list>
  </div>

  <router-outlet />

  <app-service-hub></app-service-hub>
</sh-sidenav>
