@use '@ship-ui/core/styles/helpers' as *;

:host {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: p2r(20);
  gap: p2r(12);
}

.toggle-sidebar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .cross,
  .burger {
    opacity: 1;
    transition: opacity 124ms linear;
    margin: 0;

    &.hidden {
      opacity: 0;
    }
  }

  .burger {
    position: absolute;
    inset: auto;
  }
}

h3[title] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div[sidenav] {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
