<sh-select [options]="expressionOptions()" [isClearable]="false" value="value" label="key">
  <input
    type="text"
    i18n-placeholder
    placeholder="Select an option..."
    [(ngModel)]="pathType"
    (ngModelChange)="updateFilter()" />
</sh-select>

@if (currentExpressionOption()?.value == '-FileGroup' || currentExpressionOption()?.value == '+FileGroup') {
  <sh-select
    class="expression-input"
    [options]="fileGroupOptions()"
    [isClearable]="false"
    [selectMultiple]="true"
    value="value"
    label="key">
    <input type="text" [(ngModel)]="internalPath" (ngModelChange)="updateFilter()" />
  </sh-select>
} @else {
  <sh-form-field class="expression-input">
    <input type="text" [(ngModel)]="internalPath" (ngModelChange)="updateFilter()" />
    @if (currentExpressionOption()?.startsWith?.length) {
      <ng-container prefix>{{ currentExpressionOption()?.startsWith }}</ng-container>
    }

    @if (currentExpressionOption()?.endsWith?.length) {
      <ng-container suffix>{{ currentExpressionOption()?.endsWith }}</ng-container>
    }
  </sh-form-field>
}

<div class="filter-removal" (click)="removeFilter()">
  <sh-icon class="sh-primary">x-circle</sh-icon>
</div>
