<header>
  <h3 i18n>
    Import backup configuration

    <div class="actions">
      <button spk-button type="button" class="outlined" [routerLink]="['/']">
        <spk-icon>arrow-left</spk-icon>
        Back
      </button>

      <button
        spk-button
        type="submit"
        class="raised primary"
        (click)="submit()"
        [disabled]="isImporting()"
        [class.loader]="isImporting()">
        <spk-icon>download-simple</spk-icon>
        Import
      </button>
    </div>
  </h3>
</header>

<form [formGroup]="importForm" autocomplete="off">
  <spk-file-upload [files]="selectedFile()" (filesChange)="onFileDropped($event)" accept=".json,.aes" />

  @if (isSecureFile()) {
    <spk-form-field>
      <label for="passphrase" i18n>Passphrase</label>
      <input type="password" formControlName="passphrase" />
    </spk-form-field>
  }

  <spk-toggle class="primary raised">
    <label for="importMetadata" i18n>Import Metadata</label>
    <input type="checkbox" formControlName="importMetadata" />
  </spk-toggle>

  <spk-toggle class="primary raised">
    <label for="direct" i18n>Save now</label>
    <input type="checkbox" formControlName="direct" />
  </spk-toggle>
</form>
