<app-status-bar />

@if (!isProgressPage()) {
  <sh-stepper class="primary">
    @if (isFileRestore()) {
      <div step routerLinkActive="active" [routerLink]="['/restore-from-files/destination']" i18n>
        <sh-radio />
        Destination
      </div>
      <div step routerLinkActive="active" [routerLink]="['/restore-from-files/encryption']" i18n>
        <sh-radio />
        Encryption
      </div>
      <div step routerLinkActive="active" class="inactive" [routerLink]="['/restore-from-files/select-files']" i18n>
        <sh-radio />
        Select files
      </div>
      <div step routerLinkActive="active" class="inactive" [routerLink]="['/restore-from-files/options']" i18n>
        <sh-radio />
        Options
      </div>
    } @else {
      <div step routerLinkActive="active" [routerLink]="['/restore', backupId(), 'select-files']" i18n>
        <sh-radio />
        Select files
      </div>
      <div step routerLinkActive="active" [routerLink]="['/restore', backupId(), 'options']" i18n>
        <sh-radio />
        Options
      </div>
    }
  </sh-stepper>
}

<section>
  <router-outlet />
</section>
