<div class="label">
  <ng-content select="label" ngProjectAs="label" />
</div>

<sh-form-field [attr.readonly]="readonly() || undefined">
  <input type="number" [id]="customId()" [(ngModel)]="timespan" [disabled]="readonly()" />

  <ng-content select="[prefix]" />
  <ng-content select="[suffix]" />
</sh-form-field>

<sh-select
  [options]="sizeOptions()"
  value="value"
  label="label"
  [style.--miw]="0"
  [readonly]="readonly()"
  [isClearable]="false">
  <input type="text" [(ngModel)]="unit" />

  <ng-template let-option>{{ option.label }}{{ hasPerSecond() ? '/s' : '' }}</ng-template>
</sh-select>
