@if (isVisible()) {
  <div class="progress-section">
    @if (isActive()) {
      <div>
        @if (backupId() === null) {
          {{ statusData()!.actionText }} -
        }
        {{ statusData()!.statusText }}
      </div>

      @if (statusData()?.BackendFileSize) {
        <div class="file-status-text" [shTooltip]="fileStatusTooltip">
          {{ statusData()!.fileStatusText }}
        </div>

        <ng-template #fileStatusTooltip>
          <div class="tooltip-status-content">
            <button
              shButton
              size="small"
              [color]="copied() ? 'success' : null"
              (click)="copyToClipboard($event, tooltipText())">
              @if (copied() === true) {
                <sh-icon>check</sh-icon>
              } @else {
                <sh-icon>copy</sh-icon>
              }
              Copy
            </button>

            <p class="tooltip-file-status-text">{{ tooltipText() }}</p>
          </div>
        </ng-template>
      }

      <sh-progress-bar class="raised primary" [value]="statusData()!.progress * 100" />
    } @else if (!backupId() && (nextBackup().backup || nextBackup().time)) {
      <div class="label" i18n>
        {{ nextBackup().backup?.Backup?.Name }} -
        <sh-icon>clock</sh-icon>
        {{ nextBackup().time | relativeTime }} at
        {{ nextBackup().time | date: 'shortTime' }}
      </div>
    } @else if (!backupId() && !serverState()?.ActiveTask) {
      <div class="label" i18n>No scheduled tasks</div>
    } @else if (!backupId()) {
      <div class="label label-loading" i18n>
        Loading
        <sh-spinner [style.--spinner-size]="'12px'" [style.--spinner-thickness]="'2px'"></sh-spinner>
      </div>
    }
  </div>
}
