@let hasDestination = !!targetUrlModel();

<form #formRef (submit)="next()">
  <header>
    <h3 class="title-30" i18n>
      Backup destination

      <div class="actions">
        @if (hasDestination) {
          <button
            shButton
            type="button"
            class="small"
            [disabled]="testSignal() == 'testing'"
            [class.loader]="testSignal() == 'testing'"
            (click)="testDestination(0, true)">
            Test destination
          </button>
        }

        <sh-menu>
          <button shButton type="button" class="small">
            <sh-icon>dots-three-vertical</sh-icon>
          </button>

          <ng-container menu>
            <button shButton type="button" class="small" (click)="openTargetUrlDialog()">
              <sh-icon>link</sh-icon>
              Edit target URL
            </button>
            @if (hasDestination) {
              <button shButton type="button" class="small" (click)="copyTargetUrl()">
                <sh-icon>copy</sh-icon>
                Copy URL to clipboard
              </button>
            }
          </ng-container>
        </sh-menu>
      </div>
    </h3>

    @if (testSignal() == 'testing') {
      <sh-alert i18n>
        <sh-icon icon>spinner</sh-icon>
        Testing connection...
      </sh-alert>
    } @else if (testSignal() == 'success') {
      <sh-alert class="success" i18n>
        <sh-icon icon>check</sh-icon>
        Connection tested successfully.
      </sh-alert>
    } @else if (testSignal() == 'warning') {
      <sh-alert class="warn" i18n>
        <sh-icon icon>warning</sh-icon>
        {{ testErrorMessage() }}
      </sh-alert>
    } @else if (testSignal() == 'error') {
      <sh-alert class="error" i18n>
        <sh-icon icon>warning</sh-icon>
        {{ testErrorMessage() }}
      </sh-alert>
    }

    @if (hasDestination) {
      <p (click)="removeDestination()" i18n>
        Current destination type
        <strong>{{ selectedDestinationType()?.displayName }}.</strong>
        <br />
        Want to select another?
        <span class="sh-primary">Click here</span>
      </p>
    }
  </header>

  @if (!hasDestination) {
    <div class="most-common-destinations">
      @for (option of destinationTypeOptionsFocused(); track $index) {
        <div class="tile" (click)="setDestination(option.key)">
          <h3>{{ option.displayName }}</h3>
          <p>{{ option.description }}</p>
        </div>
      }
    </div>

    <sh-menu [searchable]="true">
      <button shButton type="button" class="outlined" i18n>All destinations</button>

      <ng-container menu>
        @for (destination of destinationTypeOptions(); track $index) {
          <button #option type="button" (click)="setDestination(destination.key)">
            {{ destination.displayName }}
          </button>
        }
      </ng-container>
    </sh-menu>
  }

  @if (hasDestination) {
    <app-single-destination [(targetUrl)]="targetUrlModel" />
  }

  <div class="form-actions">
    <button shButton type="button" (click)="goBack()" i18n>
      <sh-icon>arrow-left</sh-icon>
      Go back
    </button>

    <button
      shButton
      class="raised primary"
      type="submit"
      [disabled]="testSignal() == 'testing' || !hasDestination"
      i18n>
      @if (testSignal() == 'testing') {
        <sh-icon class="loader">spinner</sh-icon>
      } @else {
        <sh-icon>arrow-right</sh-icon>
      }
      Continue
    </button>
  </div>
</form>

@if (targetUrlDialogOpen()) {
  <sh-dialog [(isOpen)]="targetUrlDialogOpen" [options]="{ maxWidth: '700px', width: '100%' }">
    <header header>
      <h2 i18n>Edit target URL</h2>
      <sh-alert class="warn" i18n>Be careful, this will overwrite everything you have in your destination.</sh-alert>
    </header>

    <div content>
      <sh-form-field>
        <textarea id="targetUrl" autocomplete="off" [(ngModel)]="targetUrlCtrl"></textarea>
      </sh-form-field>
    </div>

    <footer footer>
      <button shButton type="button" (click)="closeTargetUrlDialog(false)">Cancel</button>

      <button shButton class="raised primary" type="submit" (click)="closeTargetUrlDialog(true)" i18n>
        Override target URL
        <sh-icon>swap</sh-icon>
      </button>
    </footer>
  </sh-dialog>
}
