<app-status-bar />

<section>
  <h2 i18n>Where do you want to restore from?</h2>

  <sh-card class="type-a actionable" [routerLink]="['/restore-from-files']">
    <img src="assets/images/backup.png" alt="" width="48px" />
    <div class="text">
      <h3 i18n>Direct restore from backup files</h3>
      <p i18n>Point to your backup files and restore from there.</p>
    </div>
    <button shButton i18n>
      Start
      <sh-icon>play-circle</sh-icon>
    </button>
  </sh-card>

  <sh-card class="type-a actionable" [routerLink]="['/restore/from-config']">
    <img src="assets/images/restore.png" alt="" width="48px" />
    <div class="text">
      <h3 i18n>Restore from configuration</h3>
      <p i18n>Load destination from an exported job</p>
    </div>
    <button shButton i18n>
      Start
      <sh-icon>play-circle</sh-icon>
    </button>
  </sh-card>

  <sh-divider>Or existing</sh-divider>

  @defer (when !backupsLoading()) {
    @if (backups().length) {
      @for (backup of backups(); track $index) {
        <sh-card class="type-a actionable" [routerLink]="['/restore', backup.Backup.ID]">
          <img src="assets/images/folder.png" alt="" width="48px" />

          <div class="text">
            <h3 i18n>{{ backup.Backup.Name ?? 'Backup name missing' }}</h3>
            <p>
              {{ backup.Backup.Metadata?.['SourceSizeString'] ?? '-' }} /
              {{ backup.Backup.Metadata?.['BackupListCount'] ?? '-' }}
            </p>
          </div>

          <button shButton i18n>
            Restore
            <sh-icon>arrow-right</sh-icon>
          </button>
        </sh-card>
      }
    } @else {
      <ng-container i18n>No backups founds</ng-container>
    }
  } @placeholder {
    <div class="loading-list">
      <sh-progress-bar class="indeterminate primary"></sh-progress-bar>

      <div class="text">
        <h3 i18n>Loading backups...</h3>
      </div>
    </div>
  }
</section>
