@if (isLoading()) {
  <sh-progress-bar class="indeterminate primary" />
}

<section>
  <h3 i18n>General</h3>

  <p i18n>You're running Duplicati with - {{ duplicatiVersion() }}</p>

  <div class="actions">
    @if (serverState()?.UpdaterState === 'Waiting') {
      <button shButton (click)="checkForUpdates()" [class.loader]="checkingForUpdates()">Check for updates</button>

      @if (serverState()?.UpdateDownloadLink) {
        <a class="primary raised" shButton [href]="serverState()?.UpdateDownloadLink" target="_blank" i18n>
          <sh-icon>download</sh-icon>
          Download update - {{ serverState()?.UpdatedVersion }}
        </a>
      }
    } @else if (serverState()?.UpdaterState === 'Checking') {
      <button shButton (click)="checkForUpdates()">Checking for updates …</button>
    }

    @if (serverState()?.UpdaterState === 'Downloading') {
      <sh-progress-bar class="indeterminate primary"></sh-progress-bar>
    }
  </div>

  <div>{{ generalInfo() }}</div>
</section>
