@use '@sparkle-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(24);
}

.advanced-options {
  position: relative;
  z-index: 1;
}

textarea ~ grammarly-extension {
  display: none;
}

spk-select {
  --miw: p2r(120);
}

[prefix].link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-500);
}

.clickable {
  cursor: pointer;
  color: var(--primary-500);
}

label {
  display: flex;
  align-items: center;
  gap: p2r(4);

  spk-icon {
    font-size: p2r(16);
  }
}

.field-row {
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr p2r(40);
  gap: p2r(8);

  &.single-field {
    display: block;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: p2r(8);
}

.raw-text-area {
  min-height: 12rem; 
  white-space: pre;
}
