<form [formGroup]="loginForm" (submit)="submit()">
  <div class="login-row">
    <spk-form-field>
      <label for="password">
        Password

        <a
          href="https://docs.duplicati.com/detailed-descriptions/duplicati-access-password"
          target="_blank"
          rel="noopener noreferrer">
          <spk-icon>question</spk-icon>
        </a>
      </label>
      <input
        type="password"
        name="password"
        autocomplete="current-password"
        i18n-placeholder
        placeholder="Enter your password"
        tabindex="1"
        formControlName="pass" />
    </spk-form-field>

    <button spk-button class="raised primary" [class.loader]="isLoading()" type="submit">
      Login
      <spk-icon>arrow-right</spk-icon>
    </button>
  </div>
</form>
