<form [formGroup]="loginForm" (submit)="submit()">
  @if (failedLogin() && !successLogin()) {
    <spk-alert type="warning">
      Remember to enter a password, if you can't remember the password open the duplicati client on the machine in
      question and make sure you open it through the tray icon then go into settings to change the password.
    </spk-alert>
  }

  <div class="logo-login">
    <app-logo></app-logo>
  </div>

  <div class="login-row">
    <input type="text" hidden autocomplete="off" name="username" formControlName="user" />

    <spk-form-field>
      <label for="password">
        Password

        <a
          href="https://docs.duplicati.com/detailed-descriptions/duplicati-access-password"
          target="_blank"
          rel="noopener noreferrer">
          <spk-icon>question</spk-icon>
        </a>
      </label>

      <input
        #passwordInput
        type="password"
        name="password"
        autocomplete="current-password"
        i18n-placeholder
        placeholder="Enter your password"
        tabindex="1"
        formControlName="pass" />
    </spk-form-field>

    <button spk-button class="raised primary" [class.loader]="isLoading()" type="submit">
      Login
      <spk-icon>arrow-right</spk-icon>
    </button>
  </div>
</form>
