@use '@sparkle-ui/core/styles/helpers' as *;

:host {
  display: block;
}

form {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: p2r(24);
}

spk-alert {
  max-width: p2r(320);
  margin: 0 auto;
}

h3 {
  font: var(--title-30);
}

.login-row {
  display: flex;
  align-items: flex-end;
  gap: p2r(8);
}

.logo-login {
  top: 0;
  left: 0;
  padding: p2r(20);
  position: fixed;
}
