<button spk-button [class]="alertHistory().length ? 'error' : ''" (click)="toggleAlerts()">
  <spk-icon>info</spk-icon>
</button>

<button spk-button [class]="notifications().length ? 'error' : ''" (click)="toggleNotifications()">
  @if (this.notifications().length) {
    <spk-icon>bell-ringing</spk-icon>
  } @else {
    <spk-icon>bell</spk-icon>
  }
</button>

@if (shownMessage()) {
  <div class="preview-alert-wrap">
    <spk-alert [class]="shownMessage()?.type ?? 'error'">
      <div sparkle-alert-title>{{ shownMessage()?.title }}</div>

      @if (shownMessage()?.content) {
        <div sparkle-alert-content>
          {{ shownMessage()?.content }}
        </div>
      }
    </spk-alert>
  </div>
}

@if (isNotificationsOpen()) {
  <div class="alert-stream-modal">
    <div class="alert-stream-modal-content">
      <h6 class="paragraph-20" i18n>
        Notifications

        <button spk-button (click)="toggleNotifications()">
          <spk-icon>x-circle</spk-icon>
        </button>
      </h6>

      <div class="alert-stream-modal-list-scroller" #scroller>
        <div class="alert-stream-modal-list">
          <app-notifications />
        </div>
      </div>
    </div>
  </div>
}

@if (isAlertsOpen()) {
  <div class="alert-stream-modal">
    <div class="alert-stream-modal-content">
      <h6 class="paragraph-20" i18n>
        Alerts

        <button spk-button (click)="toggleAlerts()">
          <spk-icon>x-circle</spk-icon>
        </button>
      </h6>

      <div class="alert-stream-modal-list-scroller" #scroller>
        <div class="alert-stream-modal-list">
          @for (alert of alertHistory(); track $index) {
            <spk-alert #alerts [class]="alert.type" [id]="alert.id">
              <div title>{{ alert.title }}</div>

              @if (alert.content) {
                <div content>
                  {{ alert.content }}
                </div>
              }
            </spk-alert>
          } @empty {
            <p i18n>No alerts yet</p>
          }
        </div>
      </div>
    </div>
  </div>
}
