@let isLoading =
  state() === 'unknown' || (typeParam() !== 'link' && state() === 'inactive') || state() === 'registering';
@let readyToAddLink = typeParam() === 'link' && state() === 'inactive';
@let isConnected = state() === 'connected' || state() === 'disabled' || state() === 'connecting';
@let failedToConnect = state() === 'registeringfaulted';

<sh-card
  class="main-card type-b"
  [class]="{
    'loading-state': isLoading,
    'ready-to-add-link': readyToAddLink,
    'is-connected': isConnected,
    'failed-to-connect': failedToConnect,
    'is-registered': state() === 'registered',
  }">
  @if (isLoading) {
    <div class="loader-content">
      <p i18n>
        @if (state() === 'unknown') {
          Loading...
        } @else {
          Connecting to console
        }
      </p>
      <sh-progress-bar class="primary indeterminate" />

      @if ((registeringCounter() ?? 0) >= 5 && state() === 'registering') {
        <button shButton (click)="cancel()">Cancel registration</button>
      }
    </div>
  }

  @if (readyToAddLink) {
    <sh-form-field>
      <label i18n for="remoteControlRegisterUrl">Paste registration URL here</label>
      <input
        type="text"
        id="remoteControlRegisterUrl"
        name="remoteControlRegisterUrl"
        [(ngModel)]="customRegisterUrl" />
    </sh-form-field>

    <button
      type="button"
      shButton
      [disabled]="!customRegisterUrlValid()"
      class="raised"
      (click)="registerViaCustomUrl()"
      i18n>
      Connect machine to console
    </button>
  }

  @if (state() === 'registered') {
    @if (claimUrl() !== null) {
      <p i18n>We're now connecting you to the console</p>

      <sh-progress-bar class="primary indeterminate" />

      <button shButton (click)="retryWhenFaulted()">Cancel</button>
    } @else {
      <p i18n>Something failed during registration we're missing claimUrl, please try again</p>
      <button shButton (click)="retryWhenFaulted()">Retry</button>
    }
  }

  @if (failedToConnect) {
    <sh-alert class="error" i18n>
      Failed to register

      @if (typeParam() === 'link') {
        <p>
          Check if the connection link are correct, alternatively it could be your internet connection or the service
          might be down
        </p>
      } @else {
        <p>
          There might be a problem with your internet connection or the service might be down, please try again later
        </p>
      }
    </sh-alert>

    <button shButton (click)="retryWhenFaulted()">
      Retry
      <sh-icon>arrow-arc-left</sh-icon>
    </button>
  }

  @if (isConnected) {
    <h3>Successfully connected</h3>
    <p>We're going to redirect you to the home page</p>
  }
</sh-card>
