<header>
  <h3>
    Export backup configuration

    <div class="actions">
      <button spk-button class="outlined" [routerLink]="['/']" i18n>
        <spk-icon>arrow-left</spk-icon>
        Back
      </button>

      <button
        spk-button
        class="raised primary"
        (click)="submit()"
        i18n
        i18n-spkTooltip
        spkTooltip="Remember to copy the password"
        [class.loading]="isExporting()"
        [disabled]="exportForm.invalid || (showCopyPassword() && !copiedPassword())">
        <spk-icon>export</spk-icon>
        Export
      </button>
    </div>
  </h3>

  <p>#{{ activeBackup()?.Backup?.ID }}: {{ activeBackup()?.Backup?.Name }}</p>
</header>

<form [formGroup]="exportForm" autocomplete="off">
  <spk-button-group>
    <button type="button" [class.active]="exportType() === 'cmd'" (click)="exportType.set('cmd')" i18n>
      <spk-icon>terminal-window</spk-icon>
      As command line
    </button>

    <button type="button" [class.active]="exportType() === 'file'" (click)="exportType.set('file')" i18n>
      <spk-icon>file</spk-icon>
      To file
    </button>
  </spk-button-group>

  <spk-toggle class="raised primary" i18n>
    Export passwords
    <input type="checkbox" formControlName="exportPasswords" />
  </spk-toggle>

  @if (exportType() === 'file') {
    <spk-toggle class="primary raised" i18n>
      Encrypt file
      <input type="checkbox" formControlName="encryption" />
    </spk-toggle>
  }

  @if (encryptionFieldSignal()) {
    <div class="passwords">
      <spk-form-field>
        <label for="password" i18n>
          Create a password
          <sup>*</sup>
        </label>

        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="password"
          tabindex="4"
          autocomplete="off"
          i18n-placeholder
          placeholder="Password"
          formControlName="password" />

        @if (exportForm.controls.password.errors?.['required']) {
          <span error i18n>Passwords are required</span>
        } @else if (exportForm.controls.password.errors?.['minlength']) {
          <span error i18n>
            Passwords must be at least
            {{ exportForm.controls.password.errors?.['minlength'].requiredLength }} characters long
          </span>
        }
      </spk-form-field>

      @if (exportForm.value.password) {
        <spk-progress-bar
          class="raised"
          [class.error]="calculatePasswordStrength() === 1"
          [class.warn]="calculatePasswordStrength() === 2"
          [class.primary]="calculatePasswordStrength() === 4"
          [class.success]="calculatePasswordStrength() === 5"
          [value]="calculatePasswordStrength() * (100 / 5)"></spk-progress-bar>
      }

      <spk-form-field>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="repeatPassword"
          tabindex="5"
          autocomplete="off"
          i18n-placeholder
          placeholder="Repeat password"
          formControlName="repeatPassword" />

        @if (exportForm.value.repeatPassword && exportForm.value.repeatPassword !== exportForm.value.password) {
          <span error i18n>Passwords do not match</span>
        } @else if (exportForm.controls.repeatPassword.errors?.['required']) {
          <span error i18n>Passwords are required</span>
        } @else if (exportForm.controls.repeatPassword.errors?.['minlength']) {
          <span error i18n>
            Passwords must be at least
            {{ exportForm.controls.repeatPassword.errors?.['minlength'].requiredLength }} characters long
          </span>
        }
      </spk-form-field>

      <div class="password-actions">
        <button spk-button type="button" class="small" (click)="showPassword.set(!showPassword())" i18n>
          @if (showPassword()) {
            <spk-icon>eye-slash</spk-icon>
            hide
          } @else {
            <spk-icon>eye</spk-icon>
            show
          }
        </button>

        <button spk-button type="button" class="small" (click)="generatePassword()" i18n>
          <spk-icon>password</spk-icon>
          Generate password
        </button>

        @if (showCopyPassword()) {
          <button spk-button type="button" class="small copy" (click)="copyPassword()" i18n>
            @if (copiedPassword()) {
              <spk-icon class="spk-success">check</spk-icon>
              Copied password
            } @else {
              <spk-icon>copy</spk-icon>
              Copy password
            }
          </button>
        }
      </div>

      @if (exportForm.value.password && exportForm.value.password === exportForm.value.repeatPassword) {
        <spk-alert class="primary" i18n>
          Tip: Be sure to save your password. If you loose it you will lose access to your backups.
        </spk-alert>
      }
    </div>
  }

  @if (exportedCmd()) {
    <div class="cmd-output">
      <code>{{ exportedCmd() }}</code>
    </div>
  }
</form>
