@use '@sparkle-ui/core/styles/helpers' as *;

:host {
  display: block;
}

h3 {
  font: var(--title-30);
}

.column {
  display: flex;
  flex-direction: column;
  gap: p2r(16);
}

.field-row {
  display: grid;
  grid-template-areas:
    'label label label'
    'checkbox input select';
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: p2r(8);
  width: 100%;

  label {
    grid-area: label;
  }

  spk-form-field {
    grid-area: input;
  }

  spk-select {
    grid-area: select;
  }
}
