<!-- <pre>{{ sourceDataForm.value.path!.split('\0') | json }}</pre> -->

<form [formGroup]="sourceDataForm" #formRef (submit)="next()">
  <div class="left">
    <h3 class="title-30" i18n>Source Data</h3>

    <app-file-tree class="fill" [multiSelect]="true" [startingPath]="getPath()" [showFiles]="true">
      <label for="path" i18n>Folder path</label>
      <input type="text" id="path" tabindex="4" i18n-placeholder placeholder="Path" formControlName="path" />
    </app-file-tree>

    <div class="form-actions">
      <button shButton type="button" (click)="goBack()" i18n>
        <sh-icon>arrow-left</sh-icon>
        Go back
      </button>

      <button shButton class="raised primary" type="submit" i18n>
        <sh-icon>arrow-right</sh-icon>
        Continue
      </button>
    </div>
  </div>

  <div class="right">
    <app-toggle-card [disallowToggle]="true">
      <ng-container title>
        <span i18n>Paths</span>
        <div class="spacer"></div>
        <button shButton type="button" (click)="openRemoteDestinationDialog()" i18n>
          <sh-icon>cloud-arrow-down</sh-icon>
          Add remote path
        </button>
        <sh-menu>
          <button shButton type="button">
            <sh-icon>dots-three-vertical</sh-icon>
          </button>

          <ng-container menu>
            <button shButton type="button" class="small" (click)="togglePathBulkEdit()" i18n>
              <sh-icon>link</sh-icon>
              @if (bulkPathEditMode()) {
                Edit contents as list
              } @else {
                Edit contents as text
              }
            </button>
          </ng-container>
        </sh-menu>
      </ng-container>
      <p description i18n>Add a path directly from your machine.</p>

      <div class="paths">
        @if (bulkPathEditMode()) {
          <sh-form-field>
            <textarea
              wrap="off"
              class="bulk-textarea"
              [(ngModel)]="bulkPaths"
              [ngModelOptions]="{ updateOn: 'blur', standalone: true }"
              rows="10"
              (ngModelChange)="savePathBulkEdit()"></textarea>
          </sh-form-field>
        } @else {
          @for (path of nonFilterPaths(); track $index) {
            <div class="path">
              @if (oldPath() === path) {
                <sh-form-field class="small">
                  <input
                    type="text"
                    i18n-placeholder
                    placeholder="Edit path"
                    [(ngModel)]="editingPath"
                    [ngModelOptions]="{ standalone: true }" />
                </sh-form-field>

                <button shButton type="button" class="small" (click)="updatePath()">
                  <sh-icon>floppy-disk</sh-icon>
                </button>

                <button shButton type="button" class="small" (click)="cancelEditPath()">
                  <sh-icon>x-bold</sh-icon>
                </button>
              } @else {
                @if (path.startsWith('@')) {
                  <sh-chip>
                    <img class="provider-icon" [src]="getBackendIcon(path)" alt="" />
                    {{ getRemotePathDisplayName(path) }}
                  </sh-chip>
                } @else {
                  <sh-form-field class="small" [attr.readonly]="true">
                    <input type="text" [ngModel]="path" [ngModelOptions]="{ standalone: true }" />
                  </sh-form-field>
                }

                <button shButton type="button" class="small" (click)="editPath(path)">
                  <sh-icon>pen</sh-icon>
                </button>
                <button shButton type="button" class="small" (click)="removePath(path)">
                  <sh-icon>trash-simple</sh-icon>
                </button>
              }
            </div>
          }

          <div class="row-inputs">
            <sh-form-field>
              <input type="text" i18n-placeholder placeholder="Add a direct path" [formControl]="newPathCtrl" />
            </sh-form-field>

            <button shButton class="raised primary" type="button" (click)="addNewPath()">
              <sh-icon>plus</sh-icon>
            </button>
          </div>
        }
      </div>
    </app-toggle-card>

    <app-toggle-card [disallowToggle]="true">
      <ng-container title>
        <span i18n>Filters</span>
        <div class="spacer"></div>
        <button type="button" shButton (click)="addFilter()" i18n>
          <sh-icon>plus</sh-icon>
          Add filter
        </button>
        <sh-menu>
          <button shButton type="button">
            <sh-icon>dots-three-vertical</sh-icon>
          </button>

          <ng-container menu>
            <button shButton type="button" class="small" (click)="toggleBulkFilterEdit()" i18n>
              <sh-icon>link</sh-icon>
              @if (bulkFilterEditMode()) {
                Edit contents as list
              } @else {
                Edit contents as text
              }
            </button>
          </ng-container>
        </sh-menu>
      </ng-container>
      <p description i18n>Customize your filters.</p>

      @if (bulkFilterEditMode()) {
        <sh-form-field>
          <textarea
            class="bulk-textarea"
            wrap="off"
            [(ngModel)]="bulkFilters"
            [ngModelOptions]="{ updateOn: 'blur', standalone: true }"
            rows="10"
            (ngModelChange)="saveBulkFilterEdit()"></textarea>
        </sh-form-field>
      } @else {
        <div class="filters">
          @if (pathSignal()?.length) {
            @for (path of pathArray(); track $index) {
              <app-new-filter
                [path]="path"
                [osType]="osType() ?? ''"
                (pathChange)="patchPathAt($event, $index)"
                (remove)="removePathAt($index)"></app-new-filter>
            }
          }
        </div>
      }
    </app-toggle-card>

    <app-toggle-card formGroupName="excludes" [disallowToggle]="true">
      <ng-container title i18n>Exclude</ng-container>
      <p description i18n>Choose if there’s any files you want to exclude.</p>

      <sh-toggle class="raised primary" i18n>
        Files with the Hidden attribute
        <input type="checkbox" i18n-placeholder placeholder="Hidden files" formControlName="hidden" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Files with the System attribute
        <input type="checkbox" i18n-placeholder placeholder="System files" formControlName="system" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Files with the Temporary attribute
        <input type="checkbox" i18n-placeholder placeholder="Temporary files" formControlName="temporary" />
      </sh-toggle>

      <sh-toggle class="raised primary" [class.active]="filesLargerThan()" (click)="toggleFilesLargerThan()" i18n>
        Files larger than
      </sh-toggle>

      @if (filesLargerThan()) {
        <div class="row-inputs">
          <app-size
            [ngModel]="filesLargerThan()"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="updateFilesLargerThan($event)"></app-size>
        </div>
      }
    </app-toggle-card>
  </div>
</form>
