<app-status-bar />

<section>
  <div class="back">
    <button type="button" class="small" spk-button routerLink="/" i18n>
      <spk-icon>arrow-left</spk-icon>
      Back
    </button>
  </div>

  <article>
    <h1 i18n>Local database for {{ activeBackup()?.Backup?.Name }}</h1>
    <p i18n>
      Each backup has a local database associated with it, which stores information about the remote backup on the local
      machine. This makes it faster to perform many operations, and reduces the amount of data that needs to be
      downloaded for each operation.
    </p>
  </article>

  <article>
    <h2 i18n>Maintenance</h2>
    <p i18n>
      If the backup and the remote storage is out of sync, Duplicati will require that you perform a repair operation to
      synchronize the database. If the repair is unsuccessful, you can delete the local database and re-generate.
    </p>

    <div class="actions maintenance">
      <button
        spk-button
        i18n
        [class.loader]="isRepairing()"
        [disabled]="!isValidatedPath() || pathHasChanged()"
        (click)="repairDatabase()">
        <spk-icon>wrench</spk-icon>
        Repair
      </button>

      <button
        spk-button
        i18n
        [class.loader]="isDeleting()"
        [disabled]="!isValidatedPath() || pathHasChanged()"
        (click)="deleteDatabase()">
        <spk-icon>trash</spk-icon>
        Delete
      </button>

      <button spk-button i18n [class.loader]="isRestoring()" [disabled]="pathHasChanged()" (click)="restoreDatabase()">
        <spk-icon>clock-counter-clockwise</spk-icon>
        Restore (delete and repair)
      </button>
    </div>
  </article>

  <article>
    <h2 i18n>Placement</h2>

    <spk-form-field [class]="isValidatedPath() ? 'success' : 'error'">
      <input type="text" [(ngModel)]="backupFilePath" />
      @if (isWaitingForValidation()) {
        <spk-icon class="primary" prefix>spinner</spk-icon>
      } @else if (isValidatedPath()) {
        <spk-icon prefix>check</spk-icon>
      } @else {
        <spk-icon prefix [spkTooltip]="'File not found'">warning</spk-icon>
      }
    </spk-form-field>

    <div class="actions placement">
      <button spk-button i18n [disabled]="!pathHasChanged()" (click)="resetDatabasePath()">
        <spk-icon>backspace</spk-icon>
        Reset
      </button>
      <button spk-button i18n [disabled]="!pathHasChanged() || isWaitingForValidation()" (click)="saveDatabasePath()">
        <spk-icon>floppy-disk</spk-icon>
        Save
      </button>
      <button
        spk-button
        i18n
        [disabled]="!pathHasChanged() || isWaitingForValidation()"
        (click)="saveAndRepairDatabasePath()">
        <spk-icon>wrench</spk-icon>
        Save & Repair
      </button>
      <button
        spk-button
        i18n
        [disabled]="!pathHasChanged() || isValidatedPath() || isWaitingForValidation()"
        (click)="moveDatabasePath()">
        <spk-icon>flow-arrow</spk-icon>
        Move existing database
      </button>
    </div>
  </article>
</section>
