@let hasDestination = !!targetUrlModel();

<form #formRef (submit)="next()">
  <header>
    <h3 class="title-30" i18n>
      Backup destination

      <div class="actions">
        @if (hasDestination) {
          <button
            spk-button
            type="button"
            class="small"
            [class.loader]="testLoading()"
            [class.success]="successfulTest()"
            (click)="testDestination()">
            @if (successfulTest()) {
              Connected
              <spk-icon>check</spk-icon>
            } @else {
              Test destination
            }
          </button>
        }

        <spk-menu>
          <button spk-button type="button" class="small">
            <spk-icon>dots-three-vertical</spk-icon>
          </button>

          <ng-container menu>
            <button spk-button type="button" class="small" (click)="openTargetUrlDialog()">
              <spk-icon>link</spk-icon>
              Edit target URL
            </button>
          </ng-container>
        </spk-menu>
      </div>
    </h3>

    @if (hasDestination) {
      <p (click)="removeDestination()" i18n>
        Current destination type
        <strong>{{ selectedDestinationType()?.displayName }}.</strong>
        <br />
        Want to select another?
        <span class="spk-primary">Click here</span>
      </p>
    }
  </header>

  @if (!hasDestination) {
    <div class="most-common-destinations">
      @for (option of destinationTypeOptionsFocused(); track $index) {
        <div class="tile" (click)="setDestination(option.key)">
          <h3>{{ option.displayName }}</h3>
          <p>{{ option.description }}</p>
        </div>
      }
    </div>

    <spk-menu [searchable]="true">
      <button spk-button type="button" class="outlined" i18n>Other destinations</button>

      <ng-container menu>
        @for (destination of destinationTypeOptionsNotFocused(); track $index) {
          <button #option type="button" (click)="setDestination(destination.key)">
            {{ destination.displayName }}
          </button>
        }
      </ng-container>
    </spk-menu>
  }

  @if (hasDestination) {
    <app-single-destination [(targetUrl)]="targetUrlModel" />
  }

  <div class="form-actions">
    <button spk-button type="button" (click)="goBack()" i18n>
      <spk-icon>arrow-left</spk-icon>
      Go back
    </button>

    <button spk-button class="raised primary" type="submit" i18n>
      <spk-icon>arrow-right</spk-icon>
      Continue
    </button>
  </div>
</form>

@if (targetUrlDialogOpen()) {
  <spk-dialog [(isOpen)]="targetUrlDialogOpen" [options]="{ maxWidth: '700px', width: '100%' }">
    <header header>
      <h2 i18n>Edit target URL</h2>
      <spk-alert class="warning" i18n>
        Be careful, this will overwrite everything you have in your destination.
      </spk-alert>
    </header>

    <div content>
      <spk-form-field>
        <textarea id="targetUrl" autocomplete="off" [(ngModel)]="targetUrlCtrl"></textarea>
      </spk-form-field>
    </div>

    <footer footer>
      <button spk-button type="button" (click)="closeTargetUrlDialog(false)">Cancel</button>

      <button spk-button class="raised primary" type="submit" (click)="closeTargetUrlDialog(true)" i18n>
        Override target URL
        <spk-icon>swap</spk-icon>
      </button>
    </footer>
  </spk-dialog>
}
