<form [formGroup]="destinationForm" #formRef (submit)="next()">
  <header>
    <h3 class="title-30" i18n>
      Backup destination

      <div class="actions">
        @if (destinationCount() > 0) {
          <button
            spk-button
            type="button"
            class="small"
            [class.loader]="testLoading()"
            [class.success]="successfulTest()"
            (click)="testDestination()">
            @if (successfulTest()) {
              Connected
              <spk-icon>check</spk-icon>
            } @else {
              Test destination
            }
          </button>
        }

        <spk-menu>
          <button spk-button type="button" class="small">
            <spk-icon>dots-three-vertical</spk-icon>
          </button>

          <ng-container menu>
            <button spk-button type="button" class="small" (click)="openTargetUrlDialog()">
              <spk-icon>link</spk-icon>
              Edit target URL
            </button>
          </ng-container>
        </spk-menu>
      </div>
    </h3>

    @if (destinationCount() > 0) {
      <p (click)="removeDestinationFormGroup(destinationCount() - 1)" i18n>
        Current destination type
        <strong>{{ selectedDestinationType()?.displayName }}.</strong>
        <br />
        Want to select another?
        <span class="spk-primary">Click here</span>
      </p>
    }
  </header>

  <!-- <pre>{{ destinationFormSignal() | json }}</pre>
    <pre>{{ targetUrl() }}</pre> -->

  @if (destinationCount() === 0) {
    <div class="most-common-destinations">
      @for (option of destinationTypeOptionsFocused(); track $index) {
        <div class="tile" (click)="addDestinationFormGroup(option.key)">
          <h3>{{ option.displayName }}</h3>
          <p>{{ option.description }}</p>
        </div>
      }
    </div>

    <spk-menu [searchable]="true">
      <button spk-button type="button" class="outlined" i18n>Other destinations</button>

      <ng-container menu>
        @for (destination of destinationTypeOptionsNotFocused(); track $index) {
          <button #option type="button" (click)="addDestinationFormGroup(destination.key)">
            {{ destination.displayName }}
          </button>
        }
      </ng-container>
    </spk-menu>
  }

  <!-- Add support for multiple destinations here -->
  @if (destinationFormSignal()?.destinations?.length) {
    <ng-container formArrayName="destinations">
      <ng-container formGroupName="0">
        @for (destination of destinationFormPair().custom; track $index) {
          <ng-container
            *ngTemplateOutlet="
              fieldTemplate;
              context: {
                $implicit: {
                  index: $index,
                  formView: destination,
                  formGroupName: 'custom',
                  destinationType: destinationFormSignal()?.destinations?.[0]?.destinationType,
                  oauthField: destinationFormPair().oauthField,
                },
              }
            "></ng-container>
        }

        @for (destination of destinationFormPair().dynamic; track $index) {
          <ng-container
            *ngTemplateOutlet="
              fieldTemplate;
              context: {
                $implicit: {
                  index: $index,
                  formView: destination,
                  formGroupName: 'dynamic',
                  destinationType: destinationFormSignal()?.destinations?.[0]?.destinationType,
                  oauthField: destinationFormPair().oauthField,
                },
              }
            "></ng-container>
        }

        <app-toggle-card [disallowToggle]="true">
          <ng-container title i18n>
            Advanced options

            <spk-menu [searchable]="true">
              <button
                spk-button
                type="button"
                class="outlined small"
                [disabled]="notSelectedAdvancedFormPair().length === 0">
                Add advanced option
                <spk-icon>plus</spk-icon>
              </button>

              <ng-container menu>
                @for (option of notSelectedAdvancedFormPair(); track $index) {
                  <button #option type="button" (click)="addAdvancedFormPair(option, 0)">
                    {{ option.name }}
                  </button>
                }
              </ng-container>
            </spk-menu>
          </ng-container>

          @for (field of selectedAdvancedFormPair(); track $index) {
            <ng-container
              *ngTemplateOutlet="
                fieldTemplate;
                context: {
                  $implicit: {
                    index: $index,
                    formView: field,
                    formGroupName: 'advanced',
                    destinationType: destinationFormSignal()?.destinations?.[0]?.destinationType,
                    oauthField: destinationFormPair().oauthField,
                  },
                }
              "></ng-container>
          }
        </app-toggle-card>

        <app-toggle-card [disallowToggle]="true">
          <ng-container title i18n>
            Http options

            <spk-menu [searchable]="true">
              <button
                spk-button
                type="button"
                class="outlined small"
                [disabled]="notSelectedHttpOptions().length === 0">
                Add http option
                <spk-icon>plus</spk-icon>
              </button>

              <ng-container menu>
                @for (option of notSelectedHttpOptions(); track $index) {
                  <button #option type="button" (click)="addHttpOption(option, 0)">
                    {{ option.name }}
                  </button>
                }
              </ng-container>
            </spk-menu>
          </ng-container>

          @for (field of selectedHttpOptions(); track $index) {
            <ng-container
              *ngTemplateOutlet="
                fieldTemplate;
                context: {
                  $implicit: {
                    index: $index,
                    formView: field,
                    formGroupName: 'advanced',
                    asHttpOptions: true,
                    destinationType: destinationFormSignal()?.destinations?.[0]?.destinationType,
                    oauthField: destinationFormPair().oauthField,
                  },
                }
              "></ng-container>
          }
        </app-toggle-card>

        <ng-template #fieldTemplate let-item>
          <div class="field-row" [class.single-field]="item.formGroupName !== 'advanced'">
            <ng-container [formGroupName]="item.formGroupName">
              @let labelContent = item.formView.shortDescription ?? item.formView.name;
              @let formFieldId =
                'destination-' + item.formGroupName + '-' + item.index + '-' + (item.asHttpOptions ? 'http' : 'other');

              @if (item.formView.type === 'FileTree') {
                <app-file-tree
                  [startingPath]="getFormFieldValue(0, item.formGroupName, item.formView.name)"
                  [accepts]="item.formView.accepts"
                  [showFiles]="true"
                  [hideShortcuts]="true"
                  [showHiddenNodes]="true"
                  [selectFiles]="true">
                  <label [for]="formFieldId">
                    {{ labelContent }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                  <input type="text" [id]="formFieldId" [formControlName]="item.formView.name" />
                </app-file-tree>
              } @else if (item.formView.type === 'FolderTree') {
                <app-file-tree
                  [hideShortcuts]="true"
                  [startingPath]="getFormFieldValue(0, item.formGroupName, item.formView.name)">
                  <label [for]="formFieldId">
                    {{ labelContent }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                  <input type="text" [id]="formFieldId" [formControlName]="item.formView.name" />
                </app-file-tree>
              } @else if (
                item.formView.type === 'String' || item.formView.type === 'Path' || item.formView.type === 'Email'
              ) {
                <spk-form-field>
                  <label [for]="formFieldId">
                    {{ labelContent }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>

                  <input
                    [type]="item.formView.type === 'Email' ? 'email' : 'text'"
                    [id]="formFieldId"
                    [formControlName]="item.formView.name" />

                  @let inputValue = getFormFieldValue(0, item.formGroupName, item.formView.name);
                  @let hasLeadingSlashes = hasDoubleLeadingSlashes(inputValue);
                  @let leadingSlashesMessage = hasLeadingSlashes && item.formView.doubleSlash?.message;
                  @let slashType = item.formView.doubleSlash?.type;

                  @if (item.formView.type === 'Path') {
                    <spk-icon
                      prefix
                      [class.error]="leadingSlashesMessage && slashType === 'error'"
                      [class.warn]="leadingSlashesMessage && slashType === 'warning'"
                      [spkTooltip]="leadingSlashesMessage">
                      link
                    </spk-icon>
                  } @else if (item.formView.type === 'Email') {
                    <spk-icon prefix>envelope</spk-icon>
                  } @else {
                    <spk-icon prefix>textbox</spk-icon>
                  }
                </spk-form-field>
              } @else if (item.formView.type === 'Password') {
                <spk-form-field>
                  <label [for]="formFieldId">
                    {{ labelContent }}
                  </label>
                  <input
                    [type]="$any(item.formView).showPassword ? 'text' : 'password'"
                    autocomplete="off"
                    [id]="formFieldId"
                    [formControlName]="item.formView.name" />

                  @if (item.oauthField === item.formView.name) {
                    <span prefix class="link" (click)="oauthStartTokenCreation(item.destinationType, item)">
                      AuthID
                    </span>
                  } @else {
                    <spk-icon prefix>password</spk-icon>
                  }
                  @if ($any(item.formView).showPassword) {
                    <spk-icon
                      class="clickable"
                      suffix
                      (click)="$any(item.formView).showPassword = !$any(item.formView).showPassword">
                      eye
                    </spk-icon>
                  } @else {
                    <spk-icon
                      class="clickable"
                      suffix
                      (click)="$any(item.formView).showPassword = !$any(item.formView).showPassword">
                      eye-slash
                    </spk-icon>
                  }
                </spk-form-field>
              } @else if (item.formView.type === 'Enumeration') {
                @let options =
                  item.formView.loadOptions ? item.formView.loadOptions(injector)() : item.formView.options;

                @if (options) {
                  <spk-select [options]="options" [isClearable]="false" [optionTemplate]="enumOptionTemplate">
                    <label [for]="formFieldId">
                      {{ labelContent }}

                      @if (item.formView.longDescription) {
                        <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                      }
                    </label>
                    <input type="text" [id]="formFieldId" [formControlName]="item.formView.name" />
                  </spk-select>

                  <ng-template let-option #enumOptionTemplate>
                    @if (item.formView.loadOptions) {
                      {{ option?.key }} ({{ option?.value }})
                    } @else {
                      {{ option }}
                    }
                  </ng-template>
                }
              } @else if (item.formView.type === 'NonValidatedSelectableString') {
                @let options =
                  item.formView.loadOptions ? item.formView.loadOptions(injector)() : item.formView.options;

                @if (options) {
                  <spk-select
                    [options]="options"
                    [asFreeText]="true"
                    [inlineSearch]="true"
                    [optionTemplate]="optionTemplate"
                    label="key"
                    value="value">
                    <label [for]="formFieldId">
                      {{ labelContent }}

                      @if (item.formView.longDescription) {
                        <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                      }
                    </label>

                    <input type="text" [id]="formFieldId" [formControlName]="item.formView.name" />
                  </spk-select>

                  <ng-template let-option #optionTemplate>
                    {{ option.key }} {{ option.value ? '(' + option.value + ')' : '' }}
                  </ng-template>
                } @else {
                  <spk-progress-bar class="indeterminate primary" />
                }
              } @else if (item.formView.type === 'Size') {
                <app-size [inputType]="item.Name" [formControlName]="item.formView.name" [customId]="formFieldId">
                  <label [for]="formFieldId">
                    {{ labelContent }}

                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                </app-size>
              } @else if (item.formView.type === 'Integer') {
                <spk-form-field>
                  <label [for]="formFieldId">
                    {{ labelContent }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                  <input type="number" [id]="formFieldId" [formControlName]="item.formView.name" />
                  <spk-icon prefix>numpad</spk-icon>
                </spk-form-field>
              } @else if (item.formView.type === 'Boolean') {
                <spk-toggle class="primary raised">
                  <label [for]="formFieldId">
                    {{ labelContent }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                  <input type="checkbox" [id]="formFieldId" [formControlName]="item.formView.name" />
                </spk-toggle>
              } @else if (item.formView.type === 'Flags') {
                <spk-select
                  [options]="item.formView.options"
                  [selectMultiple]="true"
                  class="primary raised"
                  [optionTemplate]="optionTemplate">
                  <label for="destination-{{ item.formGroupName }}-{{ item.index }}">
                    {{ labelContent }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                  <input type="text" id="text" [formControlName]="item.formView.name" />
                </spk-select>

                <ng-template let-option #optionTemplate>
                  {{ option }}
                </ng-template>
              } @else if (item.formView.type === 'Timespan' || item.formView.type === 'DateTime') {
                <app-timespan
                  [inputType]="item.formView.name"
                  [formControlName]="item.formView.name"
                  [customId]="formFieldId">
                  <label [for]="formFieldId">
                    {{ labelContent }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                </app-timespan>
              } @else if (item.formView.type === 'FreeText') {
                <app-file-drop-textarea
                  [formControlName]="item.formView.name"
                  [customId]="formFieldId"
                  [placeholder]="item.formView.longDescription">
                  <label>
                    {{ item.formView.shortDescription ?? item.formView.name }}
                    @if (item.formView.longDescription) {
                      <spk-icon class="primary" [spkTooltip]="item.formView.longDescription">question</spk-icon>
                    }
                  </label>
                </app-file-drop-textarea>
              }
            </ng-container>

            @if (item.formGroupName === 'advanced') {
              <button spk-button class="outlined" type="button" (click)="removeFormView(item.formView, 0)">
                <spk-icon>x-circle</spk-icon>
              </button>
            }
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  }

  <div class="form-actions">
    <button spk-button type="button" (click)="goBack()" i18n>
      <spk-icon>arrow-left</spk-icon>
      Go back
    </button>

    <button spk-button class="raised primary" type="submit" i18n>
      <spk-icon>arrow-right</spk-icon>
      Continue
    </button>
  </div>
</form>

@if (targetUrlDialogOpen()) {
  <spk-dialog [(isOpen)]="targetUrlDialogOpen" [options]="{ maxWidth: '700px', width: '100%' }">
    <header header>
      <h2 i18n>Edit target URL</h2>
      <spk-alert class="warning" i18n>
        Be careful, this will overwrite everything you have in your destination.
      </spk-alert>
    </header>

    <div content>
      <spk-form-field>
        <textarea id="targetUrl" autocomplete="off" [formControl]="targetUrlCtrl"></textarea>
      </spk-form-field>
    </div>

    <footer footer>
      <button spk-button type="button" (click)="closeTargetUrlDialog(false)">Cancel</button>

      <button spk-button class="raised primary" type="submit" (click)="closeTargetUrlDialog(true)" i18n>
        Override target URL
        <spk-icon>swap</spk-icon>
      </button>
    </footer>
  </spk-dialog>
}
