<section>
  <h3 class="title-30" i18n>Options</h3>

  <div class="remote-volume-wrap">
    <app-size [customId]="'size'" [(ngModel)]="optionsFields.remoteVolumeSize">
      <label for="size" i18n>
        Remote volume size
        @if (exceededVolumeSize()) {
          <spk-icon class="warning">warning</spk-icon>
        }
      </label>
    </app-size>

    @if (exceededVolumeSize()) {
      <p class="warn" i18n>
        The chosen size is outside the recommended range. This may cause performance issues, excessively large temporary
        files or other problems.
      </p>
    }
    <p i18n>
      The backups will be split up into multiple files called volumes. Here you can set the maximum size of the
      individual volume files.
      <a href="https://forum.duplicati.com/t/choosing-sizes-in-duplicati/17683" target="_blank" class="spk-primary">
        Read more
        <spk-icon suffix>arrow-square-out</spk-icon>
      </a>
    </p>
  </div>

  <spk-select [options]="retentionOptions()" [inlineSearch]="true" [isClearable]="false" value="value" label="name">
    <label for="size" i18n>Backup retention</label>
    <input type="text" [(ngModel)]="optionsFields.backupRetention" />
  </spk-select>

  @if (optionsFields.backupRetention() === 'all') {
    <p i18n>Nothing will be deleted. The backup size will grow with each change.</p>
  } @else if (optionsFields.backupRetention() === 'time') {
    <p i18n>If at least one newer backup is found, all backups older than this date are deleted.</p>
    <app-timespan [customId]="'backupRetentionTime'" [(ngModel)]="optionsFields.backupRetentionTime">
      <label for="backupRetentionTime" i18n>Time to keep versions</label>
    </app-timespan>
  } @else if (optionsFields.backupRetention() === 'versions') {
    <p i18n>Once there are more backups than the specified number, the oldest backups are deleted.</p>
    <spk-form-field>
      <label for="backupRetentionVersions" i18n>Number of versions</label>
      <input type="number" id="backupRetentionVersions" [(ngModel)]="optionsFields.backupRetentionVersions" />
    </spk-form-field>
  } @else if (optionsFields.backupRetention() === 'smart') {
    <p i18n>
      Over time backups will be deleted automatically. There will remain one backup for each of the last 7 days, each of
      the last 4 weeks, each of the last 12 months. There will always be at least one remaining backup.
    </p>
  } @else if (optionsFields.backupRetention() === 'custom') {
    <p i18n>
      Enter a retention strategy manually. Placeholders are D/W/Y for days/weeks/years and U for unlimited. The syntax
      is: 7D:1D,4W:1W,36M:1M. This example keeps one backup for each of the next 7 days, one for each of the next 4
      weeks, and one for each of the next 36 months. This can also be written as 1W:1D,1M:1W,3Y:1M.
    </p>
    <spk-form-field>
      <p i18n>Once there are more backups than the specified number, the oldest backups are deleted.</p>
      <label for="backupRetentionCustom" i18n>Retention expression</label>
      <input type="text" id="backupRetentionCustom" [(ngModel)]="optionsFields.backupRetentionCustom" />
    </spk-form-field>
  }

  <app-options-list
    [(options)]="settings"
    [applicationOptions]="applicationOptions()"
    [hasFreeTextSettings]="true"
    [hiddenOptions]="[
      '--skip-files-larger-than',
      'dblock-size',
      'encryption-module',
      'no-encryption',
      '--no-encryption',
      'compression-module',
      '--exclude-files-attributes',
      'keep-time',
      'keep-versions',
      'retention-policy',
    ]" />

  <div class="form-actions">
    <button spk-button type="button" (click)="goBack()" i18n>
      <spk-icon>arrow-left</spk-icon>
      Go back
    </button>

    <button spk-button class="raised primary" [class.loader]="isSubmitting()" (click)="submit()" i18n>
      <spk-icon>arrow-right</spk-icon>
      Submit
    </button>
  </div>
</section>
