<header header>
  <h3 i18n>Change passphrase</h3>
</header>

<div content>
  <sh-alert type="warning" i18n>
    Duplicati needs to be secured with a passphrase and a random passphrase has been generated for you.
    <br />
    <br />
    If you open Duplicati from the tray icon, you do not need a passphrase, but if you plan to open it from another
    location you need to set a passphrase you know. Do you want to set a passphrase now?
  </sh-alert>

  <sh-form-field>
    <label for="password" i18n>Passphrase</label>
    <input
      type="password"
      name="password"
      autocomplete="disabled"
      i18n-placeholder
      placeholder="Enter new password"
      tabindex="1"
      [(ngModel)]="passphrase" />
  </sh-form-field>

  <sh-form-field>
    <label for="repeatPassword" i18n>Repeat passphrase</label>
    <input
      type="password"
      name="repeatPassword"
      autocomplete="disabled"
      i18n-placeholder
      placeholder="Repeat password"
      tabindex="2"
      [disabled]="passphrase().length === 0"
      [(ngModel)]="repeatPassphrase" />

    @if (passphrase().length !== 0 && passphrase() === repeatPassphrase()) {
      <sh-icon suffix class="sh-success">check</sh-icon>
    } @else {
      <sh-icon suffix>prohibit</sh-icon>
    }
  </sh-form-field>
</div>

<footer footer>
  <button shButton [class.loader]="isUpdating()" (click)="cancel()" i18n>Not now thanks</button>

  @if (passphrase().length !== 0 && passphrase() === repeatPassphrase()) {
    <button shButton class="raised primary" [class.loader]="isUpdating()" (click)="updatePassphrase()" i18n>
      Yes, update passphrase now
    </button>
  } @else {
    <button
      shButton
      class="raised primary"
      [class.loader]="isUpdating()"
      [disabled]="true"
      i18n-shTooltip
      shTooltip="Password have to be filled and have to match"
      (click)="updatePassphrase()"
      i18n>
      Yes, update passphrase now
    </button>
  }
</footer>
