@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: block;
  margin-top: p2r(40);
}

form {
  display: flex;
  flex-direction: column;
  gap: p2r(24);
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.partial {
  color: var(--base-9);
  font-style: italic;
}

.search-container {
  display: flex;
  align-items: flex-end;
  gap: p2r(8);

  sh-form-field {
    flex: 1;
  }
}

.search-results-info {
  color: var(--base-8);
  font-size: var(--small);
}
