@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  margin-top: p2r(40);
  flex: 1 0;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  gap: p2r(24);
  flex: 1 0;
  overflow: hidden;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.partial {
  color: var(--base-9);
  font-style: italic;
}

.label {
  color: var(--base-9);
}

.search-container {
  display: flex;
  align-items: flex-end;
  gap: p2r(8);

  sh-form-field {
    flex: 1;
  }
}

.search-results-info {
  color: var(--base-8);
  font-size: var(--small);
}
