<form [formGroup]="selectFilesForm" #formRef (submit)="next()">
  <h3 class="title-30" i18n>Select files</h3>
  @if (versionOptionsLoading()) {
    <sh-progress-bar class="indeterminate primary"></sh-progress-bar>
  } @else {
    <sh-select [options]="versionOptions()" [isClearable]="false" value="Version" (cleared)="abortLoading()">
      <input
        type="text"
        i18n-placeholder
        placeholder="Select an option..."
        [(ngModel)]="selectOption"
        [ngModelOptions]="{ standalone: true }" />

      <ng-template let-option>
        <div class="custom-option">
          {{ option.Version }}: {{ option.Time | date: 'medium' }}
          @if (option.FileSizes) {
            ({{ option.FileSizes | bytes }})
          }
          @if (option.IsFullBackup === false) {
            <span class="partial" i18n>(partial)</span>
          }
        </div>
      </ng-template>
    </sh-select>

    @if (isRepairing() || versionOptionsLoading() || loadingRootPath()) {
      <sh-progress-bar class="indeterminate primary"></sh-progress-bar>
    }

    @if (showFileTree()) {
      <!-- <pre>{{ rootPaths() }}</pre> -->
      <app-file-tree
        [rootPaths]="rootPaths()"
        [initialNodes]="initialNodes()"
        [backupSettings]="backupSettings()"
        [multiSelect]="true"
        [showFiles]="true"
        [loadExtendedData]="true"
        (hasExtendedData)="extendedDataType.set($event)">
        <label for="path" i18n>Path</label>
        <input type="text" id="path" formControlName="filesToRestore" />
      </app-file-tree>
    }
  }

  <div class="form-actions">
    <button shButton type="button" (click)="back()" i18n>
      <sh-icon>arrow-left</sh-icon>
      {{ isFileRestore() ? 'Back' : 'Exit' }}
    </button>

    <button shButton class="raised primary" type="submit" i18n>
      <sh-icon>arrow-right</sh-icon>
      Continue
    </button>
  </div>
</form>
