@use '@sparkle-ui/core/styles/helpers' as *;

:host {
  display: block;
  width: 100%;
  max-width: p2r(520);
  padding: p2r(40);
}

form {
  display: flex;
  flex-direction: column;
  gap: p2r(24);
  padding-bottom: p2r(24);
}

sup {
  padding: p2r(0 2);
  color: var(--error-8);
}

.passwords {
  display: flex;
  flex-direction: column;
  gap: p2r(8);
}

.password-actions {
  display: flex;
  gap: p2r(8);
  align-items: center;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.copy {
  spk-icon.spk-success {
    color: var(--success-8);
  }
}
