<form [formGroup]="generalForm" autocomplete="off" #formRef (submit)="next()">
  <h3 class="title-30" i18n>General backup settings</h3>

  <spk-form-field>
    <label for="backupName" i18n>
      Backup name
      <sup>*</sup>
    </label>
    <input type="text" tabindex="1" i18n-placeholder placeholder="Your backup name" formControlName="name" />
  </spk-form-field>

  <spk-form-field>
    <label for="backupDescription" i18n>Backup description</label>
    <textarea
      id="backupDescription"
      tabindex="2"
      i18n-placeholder
      placeholder="Your backup description"
      formControlName="description"></textarea>
  </spk-form-field>

  @if (isNew()) {
    <spk-select-new [options]="encryptionOptions()" [isClearable]="false" value="Key" label="DisplayName">
      <label for="encryption" i18n>Encryption</label>
      <input
        type="text"
        id="encryption"
        tabindex="3"
        i18n-placeholder
        placeholder="Encryption"
        formControlName="encryption" />

      <ng-template let-option>
        {{ option.DisplayName }}
      </ng-template>
    </spk-select-new>

    @if (encryptionFieldSignal() !== '') {
      <div class="passwords">
        <spk-form-field>
          <label for="password" i18n>
            Create a password
            <sup>*</sup>
          </label>

          <input
            [type]="showPassword() ? 'text' : 'password'"
            id="password"
            tabindex="4"
            autocomplete="off"
            i18n-placeholder
            placeholder="Password"
            formControlName="password" />
        </spk-form-field>

        @if (generalForm.value.password) {
          <spk-progress-bar
            class="raised"
            [class.error]="calculatePasswordStrength() === 1"
            [class.warn]="calculatePasswordStrength() === 2"
            [class.primary]="calculatePasswordStrength() === 4"
            [class.success]="calculatePasswordStrength() === 5"
            [value]="calculatePasswordStrength() * (100 / 5)"></spk-progress-bar>
        }

        <spk-form-field>
          <input
            [type]="showPassword() ? 'text' : 'password'"
            id="repeatPassword"
            tabindex="5"
            autocomplete="off"
            i18n-placeholder
            placeholder="Repeat password"
            formControlName="repeatPassword" />

          @if (generalForm.value.repeatPassword && generalForm.value.repeatPassword !== generalForm.value.password) {
            <span error i18n>Passwords do not match</span>
          }
        </spk-form-field>

        <div class="password-actions">
          <button spk-button type="button" class="small" (click)="showPassword.set(!showPassword())" i18n>
            @if (showPassword()) {
              <spk-icon>eye-slash</spk-icon>
              hide
            } @else {
              <spk-icon>eye</spk-icon>
              show
            }
          </button>

          <button spk-button type="button" class="small" (click)="generatePassword()" i18n>
            <spk-icon>password</spk-icon>
            Generate password
          </button>

          @if (showCopyPassword()) {
            <button spk-button type="button" class="small copy" (click)="copyPassword()" i18n>
              @if (copiedPassword()) {
                <spk-icon class="spk-success">check</spk-icon>
                Copied password
              } @else {
                <spk-icon>copy</spk-icon>
                Copy password
              }
            </button>
          }
        </div>

        @if (generalForm.value.password && generalForm.value.password === generalForm.value.repeatPassword) {
          <spk-alert type="primary" i18n>
            Tip: Be sure to save your password. If you loose it you will lose access to your backups.
          </spk-alert>
        }
      </div>
    }
  }

  <div class="form-actions">
    <button type="button" spk-button (click)="exit()" i18n>
      <spk-icon>arrow-left</spk-icon>
      Exit
    </button>

    @if (encryptionFieldSignal() === '') {
      <button spk-button class="raised primary" type="submit" [disabled]="generalForm.invalid" i18n>
        Continue
        <spk-icon>arrow-right</spk-icon>
      </button>
    } @else {
      <spk-tooltip
        message="Remember to copy the password"
        class="primary"
        [disabled]="!(showCopyPassword() && !copiedPassword())">
        <button
          spk-button
          class="raised primary"
          type="submit"
          i18n
          [disabled]="generalForm.invalid || (showCopyPassword() && !copiedPassword())">
          Continue
          <spk-icon>arrow-right</spk-icon>
        </button>
      </spk-tooltip>
    }
  </div>
</form>
