@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: block;
  width: 100%;
  max-width: p2r(600);
  padding: p2r(40);
}

section {
  display: flex;
  flex-direction: column;
  gap: p2r(24);
  padding-bottom: p2r(24);
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-wrap {
  display: grid;
  grid-template-columns: 2fr p2r(40);
  gap: p2r(8);
  align-items: flex-end;
}

.remote-volume-wrap {
  display: flex;
  flex-direction: column;
  gap: p2r(4);
  p.warning {
    color: rgb(125, 125, 0);
  }
}

.row-inputs {
  display: flex;
  align-items: flex-end;
  gap: p2r(8);
}

.advanced-option {
  display: grid;
  gap: p2r(8);
  grid-template-columns: 1fr 1fr p2r(40);
  align-items: flex-end;
}

sh-select {
  --miw: p2r(120);
}
