@use '@ship-ui/core/styles/helpers' as *;
@use '@ship-ui/core/styles' as * with (
  $useInterTight: false,
  $useApexcharts: false
);

// html,
// body,
// app-root {
//   overflow: hidden;
// }

body {
  .spacer {
    flex: 1 0;
  }

  h2 {
    font: var(--title-30);
    margin: 0;
  }

  h3 {
    font: var(--paragraph-20);
    margin: 0;
  }
}

.ship-popup-menu {
  min-width: initial;

  &.right {
    button {
      justify-content: flex-end;
    }
  }
}

.cmd-output,
.markdown-output {
  h1 {
    margin: p2r(40 0 24);
  }

  h2 {
    margin: p2r(0 0 20);
  }

  h3 {
    margin: p2r(0 0 16);
  }

  h4,
  h5,
  h6,
  p {
    margin: p2r(0 0 12);
  }

  code {
    padding: p2r(4 8);
    border-radius: var(--shape-2);
    background-color: var(--base-8);
    color: var(--base-1);
    display: inline-block;
    font-size: 85%;
  }

  h1 code {
    padding: 0;
    text-decoration: underline;
    background-color: transparent;
    color: var(--base-12);
    font-size: 100%;
  }
}

ol.line-numbers-ol {
  list-style: none;
  counter-reset: my-counter;

  li {
    counter-increment: my-counter;
    padding-left: p2r(4);

    &::marker {
      content: counter(my-counter) ' ';
    }
  }
}
