<button shButton [class]="alertHistory().length ? 'error' : ''" (click)="toggleAlerts()">
  <sh-icon>info</sh-icon>
</button>

<button shButton [class]="notifications().length ? 'error' : ''" (click)="toggleNotifications()">
  @if (this.notifications().length) {
    <sh-icon>bell-ringing</sh-icon>
  } @else {
    <sh-icon>bell</sh-icon>
  }
</button>

@let _shownMessage = shownMessage();
@if (_shownMessage) {
  <div class="preview-alert-wrap">
    @if (_shownMessage.type === 'notification') {
      <app-notification [index]="0" [notification]="_shownMessage.content"></app-notification>
    } @else {
      <sh-alert [class]="_shownMessage.content.type || 'error'">
        <div ship-alert-title>{{ _shownMessage.content.title }}</div>

        @if (_shownMessage.content.content) {
          <div ship-alert-content>
            {{ _shownMessage.content.content }}
          </div>
        }
      </sh-alert>
    }
  </div>
}

@if (isNotificationsOpen()) {
  <div class="alert-stream-modal">
    <div class="alert-stream-modal-content">
      <h6 class="paragraph-20" i18n>
        Notifications

        <button shButton (click)="toggleNotifications()">
          <sh-icon>x-circle</sh-icon>
        </button>
      </h6>

      <div class="alert-stream-modal-list-scroller" #scroller>
        <div class="alert-stream-modal-list">
          <app-notifications />
        </div>
      </div>
    </div>
  </div>
}

@if (isAlertsOpen()) {
  <div class="alert-stream-modal">
    <div class="alert-stream-modal-content">
      <h6 class="paragraph-20" i18n>
        Alerts

        <button shButton (click)="toggleAlerts()">
          <sh-icon>x-circle</sh-icon>
        </button>
      </h6>

      <div class="alert-stream-modal-list-scroller" #scroller>
        <div class="alert-stream-modal-list">
          @for (alert of alertHistory(); track $index) {
            <sh-alert #alerts [class]="alert.type" [id]="alert.id" (click)="deleteAlertByIndex(alert.id)">
              <div title>{{ alert.title }}</div>

              @if (alert.content) {
                <div content>
                  {{ alert.content }}
                </div>
              }
            </sh-alert>
          } @empty {
            <p i18n class="no-alerts">No alerts yet</p>
          }
        </div>
      </div>
    </div>
  </div>
}
