@if (resource.isLoading()) {
  <sh-progress-bar class="indeterminate primary" />
}

@for (item of resource.value(); track $index) {
  <article class="log-entry">
    <header (click)="toggleOpenEntry(item.id)">
      <h3>{{ item.timestamp | date: 'medium' }}: {{ item.operation }} {{ item.path }}</h3>

      <div class="actions">
        <sh-icon class="toggle-indicator" [class.open]="item.id === openEntry()">caret-down</sh-icon>
      </div>
    </header>

    @if (item.id === openEntry()) {
      <section class="log-content">
        <button
          shButton
          class="small"
          [class.success]="copiedFromIndex() === $index"
          (click)="copyToClipboard(item.data, $index)"
          i18n>
          @if (copiedFromIndex() === $index) {
            <sh-icon>check</sh-icon>
            Copied
          } @else {
            <sh-icon>copy</sh-icon>
            Copy to clipboard
          }
        </button>
        <code>{{ item.data | json }}</code>
      </section>
    }
  </article>
}
