<header>
  <h3>
    Export backup configuration

    <div class="actions">
      <button shButton class="outlined" [routerLink]="['/']" i18n>
        <sh-icon>arrow-left</sh-icon>
        Back
      </button>

      <button
        shButton
        class="raised primary"
        (click)="submit()"
        i18n
        i18n-shTooltip
        [shTooltip]="encryptionFieldSignal() ? 'Remember to copy the password' : ''"
        [class.loading]="isExporting()"
        [disabled]="
          exportForm.invalid ||
          (showCopyPassword() && !copiedPassword()) ||
          (encryptionFieldSignal() && exportForm.value.repeatPassword !== exportForm.value.password)
        ">
        <sh-icon>export</sh-icon>
        Export
      </button>
    </div>
  </h3>

  <p>#{{ activeBackup()?.Backup?.ID }}: {{ activeBackup()?.Backup?.Name }}</p>
</header>

<form [formGroup]="exportForm" autocomplete="off">
  <sh-button-group>
    <button type="button" [class.active]="exportType() === 'cmd'" (click)="exportType.set('cmd')" i18n>
      <sh-icon>terminal-window</sh-icon>
      As command line
    </button>

    <button type="button" [class.active]="exportType() === 'file'" (click)="exportType.set('file')" i18n>
      <sh-icon>file</sh-icon>
      To file
    </button>
  </sh-button-group>

  <sh-toggle class="raised primary" i18n>
    Export passwords
    <input type="checkbox" formControlName="exportPasswords" />
  </sh-toggle>

  @if (exportType() === 'file') {
    <sh-toggle class="primary raised" i18n>
      Encrypt file
      <input type="checkbox" formControlName="encryption" />
    </sh-toggle>
  }

  @if (encryptionFieldSignal()) {
    <div class="passwords">
      <sh-form-field>
        <label for="password" i18n>
          Create a password
          <sup>*</sup>
        </label>

        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="password"
          tabindex="4"
          autocomplete="off"
          i18n-placeholder
          placeholder="Password"
          formControlName="password" />

        @if (exportForm.controls.password.errors?.['required']) {
          <span error i18n>Passwords are required</span>
        } @else if (exportForm.controls.password.errors?.['minlength']) {
          <span error i18n>
            Passwords must be at least
            {{ exportForm.controls.password.errors?.['minlength'].requiredLength }} characters long
          </span>
        }
      </sh-form-field>

      @if (exportForm.value.password) {
        <sh-progress-bar
          class="raised"
          [class.error]="calculatePasswordStrength() === 1"
          [class.warn]="calculatePasswordStrength() === 2"
          [class.primary]="calculatePasswordStrength() === 4"
          [class.success]="calculatePasswordStrength() === 5"
          [value]="calculatePasswordStrength() * (100 / 5)"></sh-progress-bar>
      }

      <sh-form-field>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          id="repeatPassword"
          tabindex="5"
          autocomplete="off"
          i18n-placeholder
          placeholder="Repeat password"
          formControlName="repeatPassword" />

        @if (exportForm.value.repeatPassword && exportForm.value.repeatPassword !== exportForm.value.password) {
          <span error i18n>Passwords do not match</span>
        } @else if (exportForm.controls.repeatPassword.errors?.['required']) {
          <span error i18n>Passwords are required</span>
        } @else if (exportForm.controls.repeatPassword.errors?.['minlength']) {
          <span error i18n>
            Passwords must be at least
            {{ exportForm.controls.repeatPassword.errors?.['minlength'].requiredLength }} characters long
          </span>
        }
      </sh-form-field>

      <div class="password-actions">
        <button shButton type="button" class="small" (click)="showPassword.set(!showPassword())" i18n>
          @if (showPassword()) {
            <sh-icon>eye-slash</sh-icon>
            Hide
          } @else {
            <sh-icon>eye</sh-icon>
            Show
          }
        </button>

        <button shButton type="button" class="small" (click)="generatePassword()" i18n>
          <sh-icon>password</sh-icon>
          Generate password
        </button>

        @if (showCopyPassword()) {
          <button shButton type="button" class="small copy" (click)="copyPassword()" i18n>
            @if (copiedPassword()) {
              <sh-icon class="sh-success">check</sh-icon>
              Copied password
            } @else {
              <sh-icon>copy</sh-icon>
              Copy password
            }
          </button>
        }
      </div>

      @if (exportForm.value.password && exportForm.value.password === exportForm.value.repeatPassword) {
        <sh-alert class="primary" i18n>
          Tip: Be sure to save your password. If you lose it, you will not be able to import the configuration.
        </sh-alert>
      }
    </div>
  }

  @if (exportedCmd()) {
    <div class="cmd-output">
      <code>{{ exportedCmd() }}</code>
    </div>
  }
</form>
