<app-status-bar />

<section>
  <h2>Where do you want to restore from?</h2>

  <!-- <spk-card class="type-a">
    <img src="assets/images/backup.png" alt="" width="48px" />
    <div class="text">
      <h3>Direct restore from backup files</h3>
      <p>Point to your backup files and restore from there.</p>
    </div>
    <button spk-button [routerLink]="['/restore-flow']">
      Start
      <spk-icon>play-circle</spk-icon>
    </button>
  </spk-card> -->

  <!-- <spk-card class="type-a">
    <img src="assets/images/restore.png" alt="" width="48px" />
    <div class="text">
      <h3>Restore from configuration</h3>
      <p>Load destination from an exported job or a storage provider</p>
    </div>
    <button spk-button>
      Start
      <spk-icon>play-circle</spk-icon>
    </button>
  </spk-card>

  <spk-divider>Or existing</spk-divider> -->

  @if (backupsLoading()) {
    <spk-progress-bar class="indeterminate primary"></spk-progress-bar>
  } @else if (backups().length) {
    @for (backup of backups(); track $index) {
      <spk-card class="type-a">
        <img src="assets/images/folder.png" alt="" width="48px" />

        <div class="text">
          <h3>Restore {{ backup.Backup?.Name ?? 'Backup name missing' }}</h3>
          <p>
            {{ backup.Backup?.Metadata?.['SourceSizeString'] ?? '-' }} /
            {{ backup.Backup?.Metadata?.['BackupListCount'] ?? '-' }}
          </p>
        </div>

        <button spk-button [routerLink]="['/restore-flow', backup.Backup?.ID]">
          Restore
          <spk-icon>arrow-right</spk-icon>
        </button>
      </spk-card>
    }
  } @else {
    No backups found
  }
</section>
