<app-status-bar />

<section>
  <h2 i18n>Where do you want to restore from?</h2>

  <spk-card class="type-a">
    <img src="assets/images/backup.png" alt="" width="48px" />
    <div class="text">
      <h3>Direct restore from backup files</h3>
      <p>Point to your backup files and restore from there.</p>
    </div>
    <button spk-button [routerLink]="['/restore-from-files']">
      Start
      <spk-icon>play-circle</spk-icon>
    </button>
  </spk-card>

  <spk-card class="type-a">
    <img src="assets/images/restore.png" alt="" width="48px" />
    <div class="text">
      <h3>Restore from configuration</h3>
      <p>Load destination from an exported job or a storage provider</p>
    </div>
    <button spk-button [routerLink]="['/restore/from-config']">
      Start
      <spk-icon>play-circle</spk-icon>
    </button>
  </spk-card>

  <spk-divider>Or existing</spk-divider>

  @defer (when !backupsLoading()) {
    @if (backups().length) {
      @for (backup of backups(); track $index) {
        <spk-card class="type-a">
          <img src="assets/images/folder.png" alt="" width="48px" />

          <div class="text">
            <h3 i18n>{{ backup.Backup?.Name ?? 'Backup name missing' }}</h3>
            <p>
              {{ backup.Backup?.Metadata?.['SourceSizeString'] ?? '-' }} /
              {{ backup.Backup?.Metadata?.['BackupListCount'] ?? '-' }}
            </p>
          </div>

          <button spk-button [routerLink]="['/restore', backup.Backup?.ID]" i18n>
            Restore
            <spk-icon>arrow-right</spk-icon>
          </button>
        </spk-card>
      }
    } @else {
      <ng-container i18n>No backups founds</ng-container>
    }
  } @placeholder {
    <div class="loading-list">
      <spk-progress-bar class="indeterminate primary"></spk-progress-bar>

      <div class="text">
        <h3 i18n>Loading backups...</h3>
      </div>
    </div>
  }
</section>
