@let _logs = logs();

<spk-table class="type-b" [data]="_logs" [loading]="logsIsLoading()" [style.grid-template-columns]="'1fr 1fr 1fr auto'">
  <tr table-header>
    <th i18n>Timestamp</th>
    <th i18n>Backup ID</th>
    <th i18n>Message</th>
    <th></th>
  </tr>

  @for (row of _logs; track $index) {
    <tr (click)="toggleRow($index)">
      <td>{{ row['Timestamp'] | date: 'MMM dd. hh:mm' }}</td>
      <td class="id">{{ row['BackupID'] >= 0 ? row['BackupID'] : '-' }}</td>
      <td>{{ row['Message'] }}</td>
      <td>
        <button spk-button class="outlined small" [class.rotated-icon]="$index === openRowIndex()" type="button">
          <spk-icon>caret-down</spk-icon>
        </button>
      </td>
    </tr>

    @if ($index === openRowIndex()) {
      <tr>
        <td [style.grid-column]="'1 / -1'" [style.height]="'auto'" style="white-space: pre-wrap">
          <code>
            <ol class="line-numbers-ol">
              @for (line of breakIntoLines(row['Exception']); track $index) {
                <li>{{ line }}</li>
              }
            </ol>
          </code>
        </td>
      </tr>
    }
  }

  <div table-no-rows i18n>No data available</div>
</spk-table>

<footer>
  <button spk-button class="primary raised" i18n (click)="loadMore()" [disabled]="logsIsLoading() || noMoreItems()">
    @if (noMoreItems()) {
      No more items
    } @else {
      Load more
    }
  </button>
</footer>
