@if (resource.isLoading()) {
  <spk-progress-bar class="indeterminate primary" />
}

@for (item of resource.value(); track $index) {
  @let errorCount = item.data?.ErrorsActualLength || 0;
  @let warningCount = item.data?.WarningsActualLength || 0;
  @let result = item.data?.ParsedResult || 'Unknown';

  <article class="log-entry">
    <header (click)="toggleOpenEntry(item.id!)">
      @if (result == 'Fatal') {
        <div class="status error"></div>
      } @else if (result == 'Error') {
        <div class="status error"></div>
      } @else if (result == 'Warning') {
        <div class="status warn"></div>
      } @else {
        <div class="status"></div>
      }
      <h3>{{ item.timestamp | date: 'medium' }}</h3>
      <p>
        {{ item.data?.MainOperation }}

        {{ getLocalizedSummary(item) }}
      </p>

      <div class="spacer"></div>

      <div class="action">
        <spk-icon class="toggle-indicator" [class.open]="item.id === openEntry()">caret-down</spk-icon>
      </div>
    </header>

    @if (item.id === openEntry()) {
      <section class="log-content">
        <app-toggle-card [disallowToggle]="true">
          <ng-container title>
            <h3 i18n>Time</h3>
          </ng-container>

          <ng-container content>
            <p i18n>Start: {{ item.data?.BeginTime | date: 'medium' }}</p>
            <p i18n>End: {{ item.data?.EndTime | date: 'medium' }}</p>
            <p i18n>Duration: {{ item.data?.Duration | durationFormat }}</p>
          </ng-container>
        </app-toggle-card>

        <app-toggle-card [disallowToggle]="true">
          <ng-container title>
            <h3 i18n>Source files</h3>
          </ng-container>

          <ng-container content>
            <p i18n>
              Evaluated: {{ item.data?.ExaminedFiles }} ({{ item.data?.SizeOfExaminedFiles | bytes: true : true }})
            </p>
            <p i18n>Opened: {{ item.data?.OpenedFiles }} ({{ item.data?.SizeOfOpenedFiles | bytes: true : true }})</p>
            <p i18n>Added: {{ item.data?.AddedFiles }} ({{ item.data?.SizeOfAddedFiles | bytes: true : true }})</p>
            <p i18n>
              Modified: {{ item.data?.ModifiedFiles }} ({{ item.data?.SizeOfModifiedFiles | bytes: true : true }})
            </p>
            <p i18n>Deleted: {{ item.data?.DeletedFiles }}</p>
            <p i18n>Too large: {{ item.data?.TooLargeFiles }}</p>
            <p i18n>Files with error: {{ item.data?.FilesWithError }}</p>
          </ng-container>
        </app-toggle-card>

        <div class="extra-info">
          <spk-divider />

          @if (item.data?.TestResults) {
            <details name="details">
              <summary i18n>
                <spk-icon>circle-half-tilt</spk-icon>
                Test phase

                <div class="actions">
                  <spk-icon class="toggle-indicator">caret-down</spk-icon>
                </div>
              </summary>

              <div class="content">
                <p i18n>Start: {{ item.data?.TestResults?.BeginTime | date: 'medium' }}</p>
                <p i18n>End: {{ item.data?.TestResults?.EndTime | date: 'medium' }}</p>
                <p i18n>Duration: {{ item.data?.TestResults?.Duration | durationFormat }}</p>
                <p i18n>Verifications: {{ item.data?.TestResults?.VerificationsActualLength }}</p>
                <spk-divider />
                <p i18n>Warnings: {{ item.data?.TestResults?.WarningsActualLength }}</p>
                <p i18n>Errors: {{ item.data?.TestResults?.ErrorsActualLength }}</p>
              </div>
            </details>

            <details name="details">
              <summary i18n>
                <spk-icon>file-archive</spk-icon>
                Compact phase

                <div class="actions">
                  <spk-icon class="toggle-indicator">caret-down</spk-icon>
                </div>
              </summary>

              <div class="content">
                <p i18n>Start: {{ item.data?.CompactResults?.BeginTime | date: 'medium' }}</p>
                <p i18n>End: {{ item.data?.CompactResults?.EndTime | date: 'medium' }}</p>
                <p i18n>Duration: {{ item.data?.CompactResults?.Duration | durationFormat }}</p>
                <spk-divider />
                <p i18n>
                  Deleted files: {{ item.data?.CompactResults?.DeletedFileCount }} ({{
                    item.data?.CompactResults?.DeletedFileSize | bytes: true : true
                  }})
                </p>
                <p i18n>
                  Downloaded files: {{ item.data?.CompactResults?.DownloadedFileCount }} ({{
                    item.data?.CompactResults?.DownloadedFileSize | bytes: true : true
                  }})
                </p>
                <p i18n>
                  Uploaded files: {{ item.data?.CompactResults?.UploadedFileCount }} ({{
                    item.data?.CompactResults?.UploadedFileSize | bytes: true : true
                  }})
                </p>
                <spk-divider />
                <p i18n>Warnings: {{ item.data?.CompactResults?.WarningsActualLength }}</p>
                <p i18n>Errors: {{ item.data?.CompactResults?.ErrorsActualLength }}</p>
              </div>
            </details>
          }

          @if (item.data?.MainOperation === 'Test') {
            <details name="details">
              <summary i18n>
                <spk-icon>warning-circle</spk-icon>
                Verifications {{ $any(item.data).VerificationsActualLength }}

                <div class="actions">
                  <spk-icon class="toggle-indicator">caret-down</spk-icon>
                </div>
              </summary>

              <div class="content">
                @for (item of $any(item.data).Verifications; track $index) {
                  <code>{{ item | json }}</code>
                }
              </div>
            </details>
          }

          <details name="details">
            <summary i18n>
              <spk-icon>warning-circle</spk-icon>
              Warnings {{ item.data?.WarningsActualLength }}

              <div class="actions">
                <spk-icon class="toggle-indicator">caret-down</spk-icon>
              </div>
            </summary>

            <div class="content">
              @for (item of item.data?.Warnings; track $index) {
                <code>{{ item | json }}</code>
              }
            </div>
          </details>

          <details name="details">
            <summary i18n>
              <spk-icon>warning</spk-icon>
              Errors {{ item.data?.ErrorsActualLength }}

              <div class="actions">
                <spk-icon class="toggle-indicator">caret-down</spk-icon>
              </div>
            </summary>

            <div class="content">
              @if (item.data?.Errors?.length === 0) {
                <p>No errors</p>
              }

              @for (item of item.data?.Errors; track $index) {
                <code>{{ item | json }}</code>
              }
            </div>
          </details>
          <spk-divider />

          <details>
            <summary i18n>
              <spk-icon>notepad</spk-icon>
              Complete log

              <div class="actions">
                <spk-icon class="toggle-indicator">caret-down</spk-icon>
              </div>
            </summary>

            <code>
              <button spk-button class="small">Copy</button>

              {{ item.data | json }}
            </code>
          </details>
        </div>
      </section>
    }
  </article>
}
