<form [formGroup]="selectFilesForm" #formRef (submit)="next()">
  <h3 class="title-30" i18n>Select files</h3>

  @if (versionOptionsLoading()) {
    <spk-progress-bar class="indeterminate primary"></spk-progress-bar>
  } @else {
    <spk-select [options]="versionOptions()" [isClearable]="true" value="Version" (cleared)="abortLoading()">
      <input type="text" i18n-placeholder placeholder="Select an option..." formControlName="selectedOption" />

      <ng-template let-option>
        <div class="custom-option">{{ option.Version }}: {{ option.Time | date: 'medium' }}</div>
      </ng-template>
    </spk-select>

    @if ((isDraft() && isRepairing()) || versionOptionsLoading() || loadingRootPath()) {
      <spk-progress-bar class="indeterminate primary"></spk-progress-bar>
    }

    <!-- This is to reset the file tree on backupSettings change -->
    @if (showFileTree()) {
      @if (((isDraft() && !isRepairing()) || !isDraft()) && backupSettings()) {
        <pre>{{ rootPaths() }}</pre>
        <app-file-tree
          [rootPaths]="rootPaths()"
          [backupSettings]="backupSettings()"
          [multiSelect]="true"
          [showFiles]="true">
          <label for="path" i18n>Path</label>
          <input type="text" id="path" formControlName="filesToRestore" />
        </app-file-tree>
      }
    }
  }

  <div class="form-actions">
    <button spk-button type="button" (click)="back()" i18n>
      <spk-icon>arrow-left</spk-icon>
      {{ isFileRestore() ? 'Back' : 'Exit' }}
    </button>

    <button spk-button class="raised primary" type="submit" i18n>
      <spk-icon>arrow-right</spk-icon>
      Continue
    </button>
  </div>
</form>
