<form [formGroup]="selectFilesForm" #formRef (submit)="next()">
  <h3 class="title-30" i18n>Select files</h3>

  @if (versionOptionsLoading()) {
    <spk-progress-bar class="indeterminate primary"></spk-progress-bar>
  } @else {
    <spk-select [displayFn]="displayFn()">
      <input type="number" i18n-placeholder placeholder="Select an option..." formControlName="selectedOption" />

      <ng-container options>
        @for (option of versionOptions(); track $index) {
          <option [value]="option.Version">{{ option.Version }}: {{ option.Time | date: 'd MMM y, h:mm' }}</option>
        }
      </ng-container>
    </spk-select>

    @if (rootPathLoaded()) {
      <app-file-tree
        [rootPath]="rootPath()"
        [backupSettings]="backupSettings()"
        [multiSelect]="true"
        [showFiles]="true">
        <label for="path" i18n>Path</label>
        <input type="text" id="path" formControlName="filesToRestore" />
      </app-file-tree>
    }
  }

  <!-- <pre>{{ selectFilesFormSignal() | json }}</pre> -->

  <div class="form-actions">
    <button spk-button type="button" (click)="exit()" i18n>
      <spk-icon>arrow-left</spk-icon>
      Exit
    </button>

    <button spk-button class="raised primary" type="submit" i18n>
      <spk-icon>arrow-right</spk-icon>
      Continue
    </button>
  </div>
</form>
