@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: block;

  button {
    white-space: nowrap;
  }
}

.field-row {
  display: flex;
  gap: p2r(8);
  width: 100%;

  sh-form-field,
  sh-select {
    flex: 1 0;
  }
}

.reporting-url {
  cursor: pointer;
  user-select: none;
  margin-top: p2r(4);
}
