<header>
  <h3 i18n>
    Restore from config

    <div class="actions">
      <button shButton type="button" class="outlined" [routerLink]="['/']">
        <sh-icon>arrow-left</sh-icon>
        Back
      </button>

      <button
        shButton
        type="submit"
        class="raised primary"
        (click)="submit()"
        [disabled]="isRestoring()"
        [class.loader]="isRestoring()">
        <sh-icon>download-simple</sh-icon>
        Restore
      </button>
    </div>
  </h3>
</header>

<form [formGroup]="importForm" autocomplete="off">
  <sh-form-field shDragDrop (fileDropped)="onFileDropped($event)">
    <label for="file" i18n>Select a configuration file</label>
    <input type="file" accept=".json,.aes" (change)="onFileDropped($event)" />

    <sh-icon suffix>upload</sh-icon>
  </sh-form-field>

  @if (isSecureFile()) {
    <sh-form-field>
      <label for="passphrase" i18n>Passphrase</label>
      <input type="password" autocomplete="disabled" formControlName="passphrase" />
    </sh-form-field>
  }
</form>
