<form [formGroup]="scheduleForm" #formRef (submit)="next()">
  <h3 class="title-30">Schedule</h3>

  <div class="toggle-wrap">
    <spk-toggle class="raised primary">
      Automatically run backups
      <input type="checkbox" formControlName="autoRun" />
    </spk-toggle>

    <p>If a date was missed, the job will run as soon as possible.</p>
  </div>

  @if (!scheduleFormSignal()?.autoRun) {
    <div class="row-inputs" formGroupName="nextTime">
      <spk-form-field>
        <label for="time">Next time</label>
        <input type="time" id="time" #timeRef formControlName="time" (focus)="timeRef.showPicker()" />
        <spk-icon spkSuffix>clock</spk-icon>
      </spk-form-field>

      <spk-form-field>
        <label for="date"></label>
        <input type="date" id="date" #dateRef formControlName="date" (focus)="dateRef.showPicker()" />
        <spk-icon spkSuffix>calendar</spk-icon>
      </spk-form-field>
    </div>

    <ng-container formGroupName="runAgain">
      <div class="row-inputs">
        <spk-form-field>
          <label for="repeatValue">Run again every</label>
          <input type="number" id="repeatValue" formControlName="repeatValue" />
        </spk-form-field>

        <spk-select [displayFn]="displayFn">
          <input type="text" id="repeatUnit" formControlName="repeatUnit" />

          <ng-container options>
            @for (unit of unitOptions; track $index) {
              <option [value]="unit.key">{{ unit.label }}</option>
            }
          </ng-container>
        </spk-select>
      </div>

      <app-toggle-card formGroupName="allowedDays" [disallowToggle]="true">
        <ng-container title>Allowed days</ng-container>

        <div class="days-wrap">
          <spk-toggle class="raised primary">
            Monday
            <input type="checkbox" formControlName="mon" />
          </spk-toggle>

          <spk-toggle class="raised primary">
            Tuesday
            <input type="checkbox" formControlName="tue" />
          </spk-toggle>

          <spk-toggle class="raised primary">
            Wednesday
            <input type="checkbox" formControlName="wed" />
          </spk-toggle>

          <spk-toggle class="raised primary">
            Thursday
            <input type="checkbox" formControlName="thu" />
          </spk-toggle>

          <spk-toggle class="raised primary">
            Friday
            <input type="checkbox" formControlName="fri" />
          </spk-toggle>

          <spk-toggle class="raised primary">
            Saturday
            <input type="checkbox" formControlName="sat" />
          </spk-toggle>

          <spk-toggle class="raised primary">
            Sunday
            <input type="checkbox" formControlName="sun" />
          </spk-toggle>
        </div>
      </app-toggle-card>
    </ng-container>
  }

  <div class="form-actions">
    <button spk-button type="button" (click)="goBack()">
      <spk-icon>arrow-left</spk-icon>
      Go back
    </button>

    <button spk-button class="raised primary" type="submit">
      <spk-icon>arrow-right</spk-icon>
      Continue
    </button>
  </div>
</form>

<!-- <pre>{{ scheduleForm.value | json }}</pre> -->
