<app-status-bar />

<div class="content">
  <header>
    <div class="title">
      <h2 i18n>Settings</h2>
      <p i18n>Configure your backup settings.</p>
    </div>
  </header>

  <section>
    <div class="left">
      <h3 i18n>Remote access control</h3>
      <p>{{ remoteControlStatus() }}</p>
    </div>

    <div class="right">
      <app-remote-control></app-remote-control>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Color theme</h3>
      <p i18n>Customize your application theme</p>
    </div>

    <div class="right">
      <div class="themes">
        <img
          src="assets/images/light-theme.png"
          [class.active]="!isDarkMode()"
          alt="light theme"
          (click)="setLightMode()" />

        <img
          src="assets/images/dark-theme.png"
          [class.active]="isDarkMode()"
          alt="dark theme"
          (click)="setDarkMode()" />
        <!-- <img src="assets/images/system-theme.png" alt="system theme" /> -->
      </div>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Passwords</h3>
      <p i18n>Change server passphrase</p>
    </div>

    <div class="right passphrase-form">
      @if (showPassphraseForm()) {
        <sh-form-field>
          <label for="password" i18n>Passphrase</label>
          <input
            type="password"
            name="password"
            autocomplete="disabled"
            i18n-placeholder
            placeholder="Enter new password"
            tabindex="1"
            [(ngModel)]="passphrase" />
        </sh-form-field>

        <sh-form-field>
          <label for="repeatPassword" i18n>Repeat passphrase</label>
          <input
            type="password"
            name="repeatPassword"
            autocomplete="disabled"
            i18n-placeholder
            placeholder="Repeat password"
            tabindex="2"
            [disabled]="passphrase().length === 0"
            [(ngModel)]="repeatPassphrase" />

          @if (passphrase().length !== 0 && passphrase() === repeatPassphrase()) {
            <sh-icon suffix class="sh-success">check</sh-icon>
          } @else {
            <sh-icon suffix>prohibit</sh-icon>
          }
        </sh-form-field>

        <div class="actions">
          <button shButton [class.loader]="isUpdating()" (click)="cancelPasswordChange()" i18n>Cancel</button>

          @if (passphrase().length !== 0 && passphrase() === repeatPassphrase()) {
            <button shButton class="raised primary" [class.loader]="isUpdating()" (click)="updatePassphrase()" i18n>
              Update passphrase
            </button>
          } @else {
            <button
              shButton
              class="raised primary"
              [class.loader]="isUpdating()"
              [disabled]="true"
              i18n-shTooltip
              shTooltip="Password have to be filled and have to match"
              (click)="updatePassphrase()"
              i18n>
              Update passphrase
            </button>
          }
        </div>
      } @else {
        <div class="actions">
          <button shButton i18n (click)="openPassphraseForm()" i18n>Change password</button>

          @if (passwordUpdated()) {
            <sh-icon class="sh-success">check</sh-icon>
          }
        </div>
      }
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Language</h3>
      <p i18n>Select a language for the platform</p>
    </div>

    <div class="right">
      <sh-select [options]="languageOptions()" value="value" label="label" [isClearable]="false" [inlineSearch]="true">
        <input
          type="text"
          [ngModel]="langCtrl()"
          (ngModelChange)="updateLocale($event)"
          [ngModelOptions]="{ standalone: true }" />
      </sh-select>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Allow remote access (requires restart)</h3>
      <p i18n>
        By allowing remote access, the server listens to requests from any machine on your network. If you enable this
        option, make sure you are always using the computer on a secure firewall protected network.
      </p>
    </div>

    <div class="right remote-access-form">
      <sh-toggle class="primary raised" [class.active]="allowRemoteAccess()" (click)="updateRemoteAccess()">
        <label i18n>Allow remote access</label>
      </sh-toggle>

      @if (allowRemoteAccess()) {
        <sh-form-field>
          <label for="allowedHostnames" i18n>Allowed hostnames</label>
          <textarea type="text" id="allowedHostnames" [(ngModel)]="allowedHostnames"></textarea>
        </sh-form-field>

        <sh-alert type="primary" i18n>
          To prevent various DNS based attacks, Duplicati limits the allowed hostnames to the ones listed here. Direct
          IP access and localhost is always allowed. Multiple hostnames can be supplied with a semicolon separator. If
          any of the allowed hostnames is an asterisk (*), all hostnames are allowed and this feature is disabled. If
          the field is empty, only IP address and localhost access is allowed.
        </sh-alert>

        <button
          shButton
          class="raised primary"
          [class.loader]="updatingAllowedHosts()"
          (click)="updateAllowedHostnames()"
          i18n>
          Update allowed hostnames
        </button>
      }
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Prevent tray icon automatic log-in</h3>
      <p i18n>
        By default, the tray icon will open the user interface with a token that unlocks the user interface. This
        ensures that you can access the user interface from the tray icon, while requiring others to enter a password.
        If you prefer having to type in the password, even when accessing the user interface from the tray icon, enable
        this option.
      </p>
    </div>

    <div class="right">
      <sh-toggle class="primary raised" [class.active]="disableTrayIconLogin()" (click)="saveDisableTrayIconLogin()">
        <label i18n>Prevent tray icon automatic log-in</label>
      </sh-toggle>
    </div>
  </section>

  @if (powerModeOptions().length > 0) {
    <section>
      <div class="left">
        <h3 i18n>Power mode provider</h3>
        <p i18n>
          The power mode provider monitors the system for when it enters a low power state and pauses Duplicati. When
          the system resumes, Duplicati will resume as well. Choosing the None option disables detection of low power
          states and Duplicati will run all the time.
        </p>
      </div>

      <div class="right">
        <sh-select [options]="powerModeOptions()" value="value" label="label" [isClearable]="false">
          <input
            type="text"
            [ngModel]="powerModeCtrl()"
            (ngModelChange)="updatePowerMode($event)"
            [ngModelOptions]="{ standalone: true }" />
        </sh-select>
      </div>
    </section>
  }

  <section>
    <div class="left">
      <h3 i18n>Update channel</h3>
      @if (sysinfo()?.ServerVersion) {
        <p i18n>Installed version: {{ sysinfo()?.ServerVersionName }}</p>
      }

      @if (updatingChannel()) {
        <sh-progress-bar class="indeterminate primary" />
      }
    </div>

    <div class="right radios">
      <div class="radio-option" (click)="setNewChannel('')">
        <sh-radio class="primary raised" [class.active]="updateChannel() === ''" i18n>
          Default ({{ sysinfo()?.DefaultUpdateChannel }})
        </sh-radio>

        <p i18n>Same as the base install version: {{ sysinfo()?.ServerVersionType }}</p>
      </div>

      <div class="radio-option" (click)="setNewChannel('stable')">
        <sh-radio class="primary raised" [class.active]="updateChannel() === 'stable'" i18n>Stable</sh-radio>

        <p i18n>Official stable release.</p>
      </div>

      <div class="radio-option" (click)="setNewChannel('beta')">
        <sh-radio class="primary raised" [class.active]="updateChannel() === 'beta'" i18n>Beta</sh-radio>

        <p i18n>
          Try out the new features that we are working on. Test a backup and restore before using this in production
          environments.
        </p>
      </div>

      <div class="radio-option" (click)="setNewChannel('experimental')">
        <sh-radio class="primary raised" [class.active]="updateChannel() === 'experimental'" i18n>
          Experimental
        </sh-radio>

        <p i18n>Early previews of new features. Not for use with important data.</p>
      </div>

      <div class="radio-option" (click)="setNewChannel('canary')">
        <sh-radio class="primary raised" [class.active]="updateChannel() === 'canary'" i18n>Canary</sh-radio>

        <p i18n>Builds for developers and testers only. Not for use with important data.</p>
      </div>
    </div>
  </section>
</div>

<sh-divider />

<div class="content">
  <section>
    <div class="left">
      <h3 i18n>Pause after startup or hibernation</h3>
      <p i18n>
        Duplicati will run when started, but will remain in paused state for the duration. Duplicati will occupy minimal
        system resources and no backups will be run.
      </p>
    </div>

    <div class="right">
      <div class="field-row">
        <sh-range-slider [unit]="timeType() === 'none' ? 's' : timeType()" class="raised primary">
          <input
            type="range"
            [min]="timeRange()[0]"
            [max]="timeRange()[1]"
            [disabled]="timeType() === 'none'"
            [(ngModel)]="timeValue"
            [ngModelOptions]="{ standalone: true }" />
        </sh-range-slider>

        <sh-select [options]="timeTypeOptions()" [isClearable]="false" label="label" value="value">
          <input type="text" [ngModel]="timeType()" (ngModelChange)="updateTimeType($event)" />

          <ng-template let-option>
            {{ option.label }}
          </ng-template>
        </sh-select>
      </div>
    </div>
  </section>

  @if (!usageStatisticsDisabled()) {
    <section>
      <div class="left">
        <h3 i18n>Usage statistics</h3>
        <p i18n>
          Usage reports help us improve the user experience and evaluate impact of new features. We use them to generate
          <a href="#">public usage statistics.</a>
          <br />
          <br />
          All usage reports are sent anonymously and do not contain any personal information. They contain information
          about hardware and operating system, the type of backend, backup duration, overall size of source data and
          similar data. They do not contain paths, filenames, usernames, passwords or similar sensitive information.
        </p>
      </div>

      <div class="right">
        <sh-select
          [options]="usageStatisticsOptions()"
          [isLoading]="updatingUsageStatistics()"
          label="label"
          value="value">
          <input
            type="text"
            [ngModel]="usageStatistics()"
            (ngModelChange)="updateUsageStatistics($event)"
            [ngModelOptions]="{ standalone: true }" />

          <ng-template let-option>
            {{ option.label }}
          </ng-template>
        </sh-select>
      </div>
    </section>
  }
</div>

<div class="content">
  <section>
    <div class="advanced-settings">
      <h3 i18n>Advanced options</h3>
      <app-advanced-options-settings />
    </div>
  </section>
</div>
