@if (!multiSelect()) {
  <spk-button-group>
    <button
      type="button"
      [class.active]="pathDiscoveryMethod() === 'browse'"
      (click)="pathDiscoveryMethod.set('browse')"
      i18n>
      Browser path
    </button>

    <button
      type="button"
      [class.active]="pathDiscoveryMethod() === 'path'"
      (click)="pathDiscoveryMethod.set('path')"
      i18n>
      Manually type path
    </button>
  </spk-button-group>
}

<div class="section" [class.hidden]="pathDiscoveryMethod() !== 'browse'">
  <ng-content select="label" ngProjectAs="label"></ng-content>

  <div class="browse-files" [class.visualize-accepted]="accepts()" #treeContainer>
    @if (isLoading()) {
      <spk-progress-bar class="indeterminate primary" />
    }

    <ng-template #recursiveTree let-data>
      <spk-list [style.padding-left.rem]="data.level * 0.25">
        @for (node of data.children; track node.id) {
          @if ((node.hidden && _showHiddenNodes()) || !node.hidden) {
            <div
              action
              #treeNode
              [class.accepted]="node.accepted === true"
              [class.active]="node.evalState === TreeEvalEnum.Included"
              [class.indeterminate]="node.isIndeterminate"
              [class.open]="node.children.length"
              [class.usually-hidden]="node.hidden"
              (click)="toggleNode(node.id, node)">
              <div class="icon" [class.file]="node.cls === 'file'">
                @if (node.id !== '/') {
                  @if (node.children.length) {
                    <spk-icon class="small">caret-down</spk-icon>
                    <spk-icon class="spk-primary">folder-open</spk-icon>
                  } @else if (node.cls === 'file') {
                    <spk-icon>file</spk-icon>
                  } @else {
                    <spk-icon class="small">caret-right</spk-icon>
                    <spk-icon class="spk-primary">folder</spk-icon>
                  }
                } @else {
                  <spk-icon class="spk-primary">desktop-tower</spk-icon>
                }
              </div>

              <div class="text" (click)="toggleSelectedNode($event, node)">
                {{ node.text }}
              </div>
            </div>

            @if (node.children.length > 0) {
              <ng-container
                *ngTemplateOutlet="
                  recursiveTree;
                  context: { $implicit: { children: node.children, level: data.level + 1 } }
                "></ng-container>
            }
          }
        }
      </spk-list>
    </ng-template>

    <ng-container
      *ngTemplateOutlet="recursiveTree; context: { $implicit: { children: treeStructure(), level: 0 } }"></ng-container>
  </div>

  @if (!accepts()) {
    <spk-toggle
      [class.active]="_showHiddenNodes()"
      class="primary raised browse-files-toggle"
      (click)="_showHiddenNodes.set(!_showHiddenNodes())"
      i18n>
      Show hidden {{ showFiles() ? 'files' : 'folders' }}
    </spk-toggle>
  }
</div>

<div #formRef class="form-field" [class.hidden]="pathDiscoveryMethod() !== 'path'">
  <spk-form-field>
    <ng-content select="label" ngProjectAs="label"></ng-content>
    <ng-content select="input" ngProjectAs="input"></ng-content>
  </spk-form-field>

  <!-- <pre>{{ selectedPaths() | json }}</pre> -->
  <!-- <pre>{{ currentPath() }}</pre> -->
</div>
