<spk-sidenav>
  <div sidenav>
    <header>
      <app-logo />

      <button spk-button class="icon small" (click)="toggleBodyClass()">
        @if (isDarkMode()) {
          <spk-icon>sun</spk-icon>
        } @else {
          <spk-icon>moon</spk-icon>
        }
      </button>
    </header>

    <spk-list class="base-level-20 primary">
      <button action routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" i18n>
        <spk-icon>house</spk-icon>
        Home
      </button>

      <button action routerLink="/add-backup" routerLinkActive="active" i18n>
        <spk-icon>database</spk-icon>
        Add backup
      </button>

      <button action routerLink="/restore" routerLinkActive="active" i18n>
        <spk-icon>clock-counter-clockwise</spk-icon>
        Restore
      </button>

      <button action routerLink="/settings" routerLinkActive="active" i18n>
        <spk-icon>gear</spk-icon>
        Settings
      </button>
    </spk-list>

    <div class="spacer"></div>

    <spk-list class="base-level-20 primary">
      @if (!relayIsEnabled()) {
        <button action (click)="changeDefaultClientTo('ngax')" i18n>
          <spk-icon>skip-back</spk-icon>
          Revert to NGAX client
        </button>

        <button action (click)="logout()" i18n>
          <spk-icon>sign-out</spk-icon>
          Log out
        </button>
      }

      <spk-divider />

      <button action routerLink="/about" routerLinkActive="active" i18n>
        <spk-icon>info</spk-icon>
        About duplicati
      </button>

      <a href="https://docs.duplicati.com" action i18n>
        <spk-icon>files</spk-icon>
        Documentation

        <spk-icon suffix>arrow-square-out</spk-icon>
      </a>

      <a href="https://forum.duplicati.com" action i18n>
        <spk-icon>chats-circle</spk-icon>
        Visit forum

        <spk-icon suffix>arrow-square-out</spk-icon>
      </a>
    </spk-list>
  </div>

  <router-outlet />

  <app-service-hub></app-service-hub>
</spk-sidenav>
