<spk-sidenav>
  <div sidenav>
    <header>
      <app-logo />

      <button spk-button class="icon small" (click)="toggleBodyClass()">
        @if (isDarkMode()) {
          <spk-icon>sun</spk-icon>
        } @else {
          <spk-icon>moon</spk-icon>
        }
      </button>
    </header>

    <spk-list class="base-level-20 primary">
      <button spk-action-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <spk-icon>house</spk-icon>
        Home
      </button>

      <button spk-action-item routerLink="/add-backup" routerLinkActive="active">
        <spk-icon>database</spk-icon>
        Add backup
      </button>

      <button spk-action-item routerLink="/restore" routerLinkActive="active">
        <spk-icon>clock-clockwise</spk-icon>
        Restore
      </button>

      <button spk-action-item routerLink="/settings" routerLinkActive="active">
        <spk-icon>gear</spk-icon>
        Settings
      </button>
    </spk-list>

    <div class="spacer"></div>

    <spk-list class="base-level-20 primary">
      <!-- <button spk-action-item (click)="">Refresh login</button> -->

      <button spk-action-item routerLink="/about" routerLinkActive="active">
        <spk-icon>info</spk-icon>
        About duplicati
      </button>

      <button spk-action-item>
        <spk-icon>files</spk-icon>
        Documentation

        <spk-icon suffix>arrow-square-out</spk-icon>
      </button>

      <button spk-action-item>
        <spk-icon>chats-circle</spk-icon>
        Visit forum

        <spk-icon suffix>arrow-square-out</spk-icon>
      </button>
    </spk-list>
  </div>

  <router-outlet />
</spk-sidenav>
