@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: p2r(24);
}

.advanced-options {
  position: relative;
  z-index: 1;
}

textarea ~ grammarly-extension {
  display: none;
}

sh-select {
  --miw: p2r(120);
}

[prefix].link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-8);
}

.clickable {
  cursor: pointer;
  color: var(--primary-8);
}

label {
  display: flex;
  align-items: center;
  gap: p2r(4);

  sh-icon {
    font-size: p2r(16);
  }
}

.field-row {
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr p2r(40);
  gap: p2r(8);

  &.single-field {
    display: block;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: p2r(8);
}

.raw-text-area {
  min-height: 12rem;
  white-space: pre;
}
.duplicati-backup-id,
.filen-2fa-setup {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  sh-select {
    width: 100%;
  }
}
.duplicati-backup-id-console {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
