@let item = destinationItem();
@let connectionStringItem = connectionString();

@if (item) {
  <sh-card [variant]="variant()">
    <div class="icon">
      <img [src]="item.icon" [attr.alt]="item.displayName" />
    </div>

    <div class="name">
      <div class="projected"><ng-content select="[displayName]"></ng-content></div>
      <div class="default">
        @if (connectionStringItem && connectionStringItem.Name) {
          {{ connectionStringItem.Name }}
        } @else {
          {{ item.displayName }}
        }
      </div>

      @if ((item.sortOrder ?? 0) == -2) {
        <sh-chip class="small simple primary">Special</sh-chip>
      } @else if ((item.sortOrder ?? 0) < 0) {
        <sh-chip class="small simple warn">Deprecated</sh-chip>
      }
    </div>

    <div class="description">
      <div class="projected"><ng-content select="[description]"></ng-content></div>
      <div class="default">
        @let path = getSimplePath(connectionStringItem?.BaseUrl);

        @if (path && path.length > 0) {
          {{ path }}
        } @else {
          {{ item.description }}
        }
      </div>
    </div>

    <div class="actions">
      <ng-content></ng-content>
    </div>
  </sh-card>
}
