
:host {
    display: grid;
    grid-template-areas:
        'label browsebtn'
        'input input';
    grid-template-columns: 8fr 1fr;
    gap: 8px;
    align-items: flex-end;

    .browse-btn {
        grid-area: browsebtn;
        padding: 0px;
        height: 30px;;
    }

    .label {
        grid-area: label;
        grid-column: 1 / -1;
    }

    .textarea-wrap {
        grid-area: input;
        width: 100%;
        border: none;
        resize: vertical;
        font-family: monospace;
        font-size: 0.95rem;

        textarea {
            width: 100%;
            color: var(--base-8);    
            background-color: var(--base-1);
            border: 1px solid var(--base-4);
            border-radius: var(--shape-3);
            padding: 8px;
            box-shadow: var(--shadow-1);
            .dark {
                background-color: var(--base-2);
            }            
        }
    }

    .hidden {
        display: none;
    }
}

