<!-- <button (click)="showComplete.set(!showComplete())" i18n>Toggle complete</button> -->
<section>
  @if (restoreResult() != '') {
    <!-- @if (showComplete()) { -->
    <sh-card class="progress type-a">
      <ng-container title i18n>Restore completed</ng-container>
      @if (restoreResult() == 'success') {
        <div class="complete-success">
          <svg class="border-svg">
            <circle class="border-circle" cx="50" cy="50" r="45" />
          </svg>
          <sh-icon class="success" i18n>check-bold</sh-icon>
        </div>
      } @else {
        <div class="complete-failure">
          <svg class="border-svg">
            <circle class="border-circle" cx="50" cy="50" r="45" />
          </svg>
          <sh-icon class="error" i18n>warning-octagon</sh-icon>
        </div>
      }
    </sh-card>
  } @else {
    <sh-card class="progress type-a">
      <h3 i18n>
        Restore progress: {{ statusData()?.statusText }}

        <sh-spinner class="primary" />
      </h3>

      <div class="progress-content">
        <sh-progress-bar [value]="statusData()?.OverallProgress"></sh-progress-bar>

        <p>
          <span i18n>Files processed:</span>
          @if (statusData()?.ProcessedFileCount) {
            {{ statusData()?.ProcessedFileCount | number }} of {{ statusData()?.TotalFileCount | number }}
          } @else {
            <ng-container i18n>N/A</ng-container>
          }
        </p>

        <p>
          <span i18n>Size processed:</span>
          @if (statusData()?.ProcessedFileSize) {
            {{ statusData()?.ProcessedFileSize | bytes }} of {{ statusData()?.TotalFileSize | bytes }}
          } @else {
            <ng-container i18n>N/A</ng-container>
          }
        </p>
      </div>
    </sh-card>
  }

  <sh-card class="notifications type-a">
    <h3 i18n>Notifications</h3>

    <div class="notification-list">
      <app-notifications [notificationFilterPredicate]="notificationFilterPredicate()" />
    </div>
  </sh-card>

  <sh-card class="logs type-a">
    <h3 i18n>Logs</h3>

    <app-logs-live
      [asSimpleList]="true"
      [polling]="restoreResult() == ''"
      [whenFilter]="lastRestoreStarted()?.getTime()"
      [backupIdFilter]="backupId()"></app-logs-live>
  </sh-card>
</section>
