<!-- <button (click)="showComplete.set(!showComplete())" i18n>Toggle complete</button> -->
<section>
  @if (statusData()?.task?.Status === 'Completed') {
    <!-- @if (showComplete()) { -->
    <spk-card class="progress type-a">
      <ng-container title i18n>Restore completed</ng-container>
      <div class="complete-check">
        <svg class="border-svg">
          <circle class="border-circle" cx="50" cy="50" r="45" />
        </svg>

        <spk-icon>check-bold</spk-icon>
      </div>
    </spk-card>
  } @else {
    <spk-card class="progress type-a">
      <h3 i18n>
        Restore progress: {{ statusData()?.statusText }}

        <spk-spinner class="primary" />
      </h3>

      <div class="progress-content">
        <spk-progress-bar [value]="statusData()?.OverallProgress"></spk-progress-bar>

        <p>
          <span i18n>Files processed:</span>
          @if (statusData()?.ProcessedFileCount) {
            {{ statusData()?.ProcessedFileCount | number }} of {{ statusData()?.TotalFileCount | number }}
          } @else {
            <ng-container i18n>N/A</ng-container>
          }
        </p>

        <p>
          <span i18n>Size processed:</span>
          @if (statusData()?.ProcessedFileSize) {
            {{ statusData()?.ProcessedFileSize | bytes }} of {{ statusData()?.TotalFileSize | bytes }}
          } @else {
            <ng-container i18n>N/A</ng-container>
          }
        </p>
      </div>
    </spk-card>
  }

  <spk-card class="notifications type-a">
    <h3 i18n>Notifications</h3>

    <div class="notification-list">
      <app-notifications [notificationFilterPredicate]="notificationFilterPredicate()" />
    </div>
  </spk-card>

  <spk-card class="logs type-a">
    <h3 i18n>Logs</h3>

    <app-logs-live
      [asSimpleList]="true"
      [polling]="isPolling()"
      [whenFilter]="lastRestoreStarted()?.getTime()"
      [backupIdFilter]="backupId()"></app-logs-live>
  </spk-card>
</section>
