@if (!multiSelect()) {
  <sh-button-group class="type-b small">
    <button
      type="button"
      [class.active]="pathDiscoveryMethod() === 'browse'"
      (click)="pathDiscoveryMethod.set('browse')"
      i18n>
      Browse path
    </button>

    <button
      type="button"
      [class.active]="pathDiscoveryMethod() === 'path'"
      (click)="pathDiscoveryMethod.set('path')"
      i18n>
      Manually type path
    </button>
  </sh-button-group>
}

<div class="section" [class.hidden]="pathDiscoveryMethod() !== 'browse'">
  <ng-content select="label" ngProjectAs="label"></ng-content>

  <div class="browse-files" [class.visualize-accepted]="accepts()" #treeContainer>
    @if (isLoading()) {
      <sh-progress-bar class="indeterminate primary" />
    }

    <ng-template #recursiveTree let-data>
      <sh-list [style.padding-left.rem]="data.level * 0.25">
        @for (node of data.children; track node.id) {
          @if ((node.hidden && _showHiddenNodes()) || !node.hidden) {
            <div
              action
              #treeNode
              [class.accepted]="node.accepted === true"
              [class.active]="node.evalState === TreeEvalEnum.Included"
              [class.indeterminate]="node.isIndeterminate"
              [class.open]="node.children.length"
              [class.usually-hidden]="node.hidden"
              [class.root]="data.level === 0"
              (click)="toggleNode(node.id, node)">
              <div class="icon" [class.file]="node.cls === 'file'">
                @if (node.id !== '/') {
                  @if (node.children.length) {
                    <sh-icon class="small">caret-down</sh-icon>
                  } @else if (node.cls === 'file') {
                    <sh-icon class="small"></sh-icon>
                  } @else {
                    <sh-icon class="small">caret-right</sh-icon>
                  }
                  @if (node.children.length) {
                    <sh-icon class="primary">folder-open</sh-icon>
                  } @else if (node.id === '%HOME%') {
                    <sh-icon class="primary">folder-user</sh-icon>
                  } @else if (node.cls === 'file') {
                    <sh-icon class="primary">file</sh-icon>
                  } @else {
                    <sh-icon class="primary">folder</sh-icon>
                  }
                } @else {
                  <sh-icon class="primary">desktop-tower</sh-icon>
                }
              </div>

              <div class="text" (click)="toggleSelectedNode($event, node)">
                {{ node.text }}
              </div>
            </div>

            @if (node.children.length > 0) {
              <ng-container
                *ngTemplateOutlet="
                  recursiveTree;
                  context: { $implicit: { children: node.children, level: data.level + 1 } }
                "></ng-container>
            }
          }
        }
      </sh-list>
    </ng-template>

    <ng-container
      *ngTemplateOutlet="recursiveTree; context: { $implicit: { children: treeStructure(), level: 0 } }"></ng-container>
  </div>

  <div class="footer">
    @if (!accepts() && !isByBackupSettings()) {
      <sh-toggle
        [class.active]="_showHiddenNodes()"
        class="primary raised browse-files-toggle"
        (click)="_showHiddenNodes.set(!_showHiddenNodes())"
        i18n>
        Show hidden {{ showFiles() ? 'files' : 'folders' }}
      </sh-toggle>
    }

    @if (enableCreateFolder()) {
      <button
        shButton
        type="button"
        (click)="openCreateFolderDialog()"
        [disabled]="!isCurrentPathFolder()"
        class="small create-folder"
        i18n>
        Create folder
      </button>
    }
  </div>
</div>

<div #formRef class="form-field" [class.hidden]="pathDiscoveryMethod() !== 'path'">
  <sh-form-field>
    <ng-content select="label" ngProjectAs="label"></ng-content>
    <ng-content select="input" ngProjectAs="input"></ng-content>
  </sh-form-field>

  <!-- <pre>{{ selectedPaths() | json }}</pre> -->
  <!-- <pre>{{ currentPath() }}</pre> -->
</div>

@if (createFolderDialogOpen()) {
  <sh-dialog [(isOpen)]="createFolderDialogOpen" [options]="{ maxWidth: '700px', width: '100%' }">
    <header header>
      <h2 i18n>Enter new folder path</h2>
    </header>

    <div content>
      <div>
        Folder will be created under
        <pre>{{ currentPath() }}</pre>
      </div>
      <sh-form-field>
        <textarea id="targetUrl" autocomplete="off" [(ngModel)]="createFolderPath"></textarea>
      </sh-form-field>
    </div>

    <footer footer>
      <button shButton type="button" (click)="closeCreateFolderDialog(false)">Cancel</button>

      <button
        shButton
        class="raised primary"
        (click)="closeCreateFolderDialog(true)"
        [disabled]="!createFolderPath()?.length"
        i18n>
        Create folder
        <sh-icon>folder-plus</sh-icon>
      </button>
    </footer>
  </sh-dialog>
}
