<div class="current-backup">
  <div class="current-backup-progress">
    @if (serverState()?.ActiveTask && statusData()?.task?.Status && statusData()?.task?.Status !== 'Completed') {
      <div>{{ statusData()!.actionText }} - {{ statusData()!.statusText }}</div>
      <sh-progress-bar class="raised primary" [value]="statusData()!.progress * 100" />
    } @else if (nextBackup().backup || nextBackup().time) {
      <div class="label">
        {{ nextBackup().backup?.Backup?.Name }} -
        <sh-icon>clock</sh-icon>
        {{ nextBackup().time | relativeTime }} at
        {{ nextBackup().time | date: 'shortTime' }}
      </div>
    } @else if (!serverState()?.ActiveTask) {
      <div class="label" i18n>No scheduled tasks</div>
    } @else {
      <div class="label label-loading" i18n>
        Loading
        <sh-spinner [style.--spinner-size]="'12px'" [style.--spinner-thickness]="'2px'"></sh-spinner>
      </div>
    }
  </div>

  <div class="current-backup-actions">
    @if (runningTask()) {
      @if (isStopping()) {
        <button shButton i18n (click)="abort()">
          <sh-icon>skull</sh-icon>
          Abort
        </button>
      } @else {
        <button shButton i18n (click)="stop()">
          <sh-icon>stop</sh-icon>
          Stop
        </button>
      }
    }

    <button shButton i18n [class.loader]="isResuming()" (click)="pauseResume()">
      @if (clientIsRunning()) {
        <sh-icon>pause</sh-icon>
        Pause
      } @else {
        <sh-icon>play</sh-icon>
        Start
      }
    </button>

    <button shButton (click)="openThrottleSettingsDialog()">
      <sh-icon>speedometer</sh-icon>
    </button>
  </div>
</div>
