<div class="current-backup">
  <div class="current-backup-progress">
    @if (statusData()?.task?.Status && statusData()?.task?.Status !== 'Completed') {
      <div>{{ statusData()!.actionText }} - {{ statusData()!.statusText }}</div>
      <spk-progress-bar class="raised primary" [value]="statusData()!.progress * 100"></spk-progress-bar>
    } @else if (nextBackup().backup || nextBackup().time) {
      <div class="label">
        {{ nextBackup().backup?.Backup?.Name }} - {{ nextBackup().time | appRelativeTime }} at
        {{ nextBackup().time | date: 'shortTime' }}
      </div>
      <!-- <spk-progress-bar class="raised" [value]="3"></spk-progress-bar> -->
    } @else {
      <div class="label" i18n>Loading...</div>
    }
  </div>

  <!-- <pre>
    Relative dayjs: {{ minsAgo | appRelativeTime }}
    Duration format: {{ '10:11:12' | durationFormat }}
    Angular date pipe: {{ minsAgo | date: 'shortTime' }}
    Angular date pipe: {{ minsAgo | date: 'short' }}
    Angular date pipe: {{ minsAgo | date: 'shortDate' }}
    Angular date pipe: {{ minsAgo | date: 'long' }}
    Angular date pipe: {{ minsAgo | date }}
    Angular currency pipe: {{ 1000000.05 | currency: 'USD' }}
    Angular decimal pipe: {{ 1000000.01 | number }}
    Angular percent pipe: {{ 100.1 | percent }}
  </pre> -->

  <div class="current-backup-actions">
    <!-- <button spk-button>
      <spk-icon>play-circle</spk-icon>
      Start
    </button> -->

    <button spk-button (click)="openThrottleSettingsDialog()">
      <spk-icon>speedometer</spk-icon>
    </button>
  </div>
</div>

<!-- <div class="actions">
  <button spk-button>
    <spk-icon>gauge</spk-icon>
    Throttle settings
  </button>
</div> -->
