<div class="current-backup">
  <div class="current-backup-progress">
    @if (statusData()?.task?.Status && statusData()?.task?.Status !== 'Completed') {
      <div class="label">{{ statusData()?.task?.Status }} - {{ statusData()?.backup?.Backup?.Name }}</div>

      <spk-progress-bar
        class="raised primary"
        [value]="statusData()?.OverallProgress ? statusData()?.OverallProgress! * 100 : 3"></spk-progress-bar>
    } @else if (nextBackup().backup || nextBackup().time) {
      <div class="label">{{ nextBackup().backup?.Backup?.Name }} - {{ nextBackup().time | appRelativeTime }}</div>
      <!-- <spk-progress-bar class="raised" [value]="3"></spk-progress-bar> -->
    } @else if (!statusData() || statusData()?.task?.Status === 'Completed') {
      <div class="label" i18n>No scheduled tasks</div>
      <!-- <spk-progress-bar class="raised" [value]="3"></spk-progress-bar> -->
    } @else {
      <div class="label" i18n>Loading...</div>
      <!-- <spk-progress-bar class="raised" [value]="3"></spk-progress-bar> -->
    }
  </div>

  <!-- <div class="current-backup-actions">
    <button spk-button>
      <spk-icon>play-circle</spk-icon>
      Start
    </button>

    <button spk-button disabled>
      <spk-icon>x-circle</spk-icon>
    </button>
  </div> -->
</div>

<!-- <div class="actions">
  <button spk-button>
    <spk-icon>gauge</spk-icon>
    Throttle settings
  </button>
</div> -->
