@use '@sparkle-ui/core/styles/helpers' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: p2r(16);
  min-height: p2r(62);
  border-bottom: 1px solid var(--base-4);
}

.current-backup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: p2r(8);
}

.current-backup-progress {
  display: flex;
  flex-direction: column;
  gap: p2r(4);
  min-width: p2r(300);

  .label {
    display: flex;
    align-items: center;
    gap: p2r(4);
  }
}

.current-backup-actions {
  display: flex;
  gap: p2r(8);
}

.label-loading {
  display: inline-flex;
  align-items: center;
  gap: p2r(4);
}
