<!-- <h3 class="title-30" i18n>Schedule</h3>

<div class="toggle-wrap">
  <sh-toggle class="raised primary" i18n>
    Automatically run backups
    <input type="checkbox" [(ngModel)]="scheduleFields.autoRun" />
  </sh-toggle>

  <p i18n>If a date was missed, the job will run as soon as possible.</p>
</div>

@if (scheduleFields.autoRun()) {
  <div class="row-inputs">
    <sh-form-field>
      <label for="time" i18n>Next time</label>
      <input
        type="time"
        id="time"
        #timeRef
        [(ngModel)]="scheduleFields.nextTime().time"
        (focus)="timeRef.showPicker()" />
      <sh-icon suffix>clock</sh-icon>
    </sh-form-field>

    <sh-form-field>
      <label for="date"></label>
      <input
        type="date"
        id="date"
        #dateRef
        [(ngModel)]="scheduleFields.nextTime().date"
        (focus)="dateRef.showPicker()" />
      <sh-icon suffix>calendar</sh-icon>
    </sh-form-field>
  </div>

  <div class="row-inputs">
    <sh-form-field>
      <label for="repeatValue" i18n>Run again every</label>
      <input type="number" id="repeatValue" [(ngModel)]="scheduleFields.runAgain().repeatValue" />
    </sh-form-field>

    <sh-select [options]="unitOptions" [isClearable]="false" value="key" label="label">
      <input type="text" id="repeatUnit" [(ngModel)]="scheduleFields.runAgain().repeatUnit" />
    </sh-select>
  </div>

  <sh-toggle-card [disableToggle]="true">
    <ng-container title i18n>Allowed days</ng-container>

    <div class="days-wrap">
      <sh-toggle class="raised primary" i18n>
        Monday
        <input type="checkbox" [(ngModel)]="scheduleFields.runAgain().allowedDays.mon" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Tuesday
        <input type="checkbox" [(ngModel)]="scheduleFields.runAgain().allowedDays.tue" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Wednesday
        <input type="checkbox" [(ngModel)]="scheduleFields.runAgain().allowedDays.wed" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Thursday
        <input type="checkbox" [(ngModel)]="scheduleFields.runAgain().allowedDays.thu" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Friday
        <input type="checkbox" [(ngModel)]="scheduleFields.runAgain().allowedDays.fri" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Saturday
        <input type="checkbox" [(ngModel)]="scheduleFields.runAgain().allowedDays.sat" />
      </sh-toggle>

      <sh-toggle class="raised primary" i18n>
        Sunday
        <input type="checkbox" [(ngModel)]="scheduleFields.runAgain().allowedDays.sun" />
      </sh-toggle>
    </div>
  </sh-toggle-card>
}

<div class="form-actions">
  <button shButton type="button" (click)="goBack()" i18n>
    <sh-icon>arrow-left</sh-icon>
    Go back
  </button>

  <button shButton class="raised primary" (click)="next()" i18n>
    <sh-icon>arrow-right</sh-icon>
    Continue
  </button>
</div> -->
