<app-status-bar />

<section>
  <div class="back">
    <button type="button" class="small" shButton routerLink="/" i18n>
      <sh-icon>arrow-left</sh-icon>
      Back
    </button>
  </div>

  @if (!finishedLoading()) {
    <sh-progress-bar class="indeterminate primary"></sh-progress-bar>
  } @else {
    <form [formGroup]="baseCmdForm">
      <sh-select [options]="commandOptions() ?? ['backup']" [inlineSearch]="true" placeholder="Select a command...">
        <label for="command" i18n>
          Command
          <sh-icon shTooltip="Choose the command to execute">question</sh-icon>
        </label>
        <input type="text" id="command" formControlName="command" />
      </sh-select>

      <sh-form-field>
        <label for="targetUrl" i18n>
          TargetUrl
          <sh-icon shTooltip="Enter the URL of the backup target">question</sh-icon>
        </label>
        <textarea id="targetUrl" autocomplete="off" formControlName="targetUrl"></textarea>
      </sh-form-field>

      <sh-form-field>
        <label for="arguments" i18n>
          Commandline Arguments
          <sh-icon shTooltip="Enter one argument per line without quotes (e.g., *.txt)">question</sh-icon>
        </label>
        <textarea
          class="arguments"
          id="arguments"
          autocomplete="off"
          rows="5"
          formControlName="arguments"
          placeholder="Enter one argument per line without quotes (e.g., *.txt)"></textarea>
      </sh-form-field>
    </form>

    <sh-divider i18n>Advanced options</sh-divider>

    <form [formGroup]="standardFields">
      <sh-form-field>
        <label for="backup-id" i18n>
          Backup ID
          <sh-icon shTooltip="The ID of the backup configuration this run belongs to (can be empty)">question</sh-icon>
        </label>
        <input id="backup-id" formControlName="backup-id" />
      </sh-form-field>

      <sh-form-field>
        <label for="backup-name" i18n>
          Backup Name
          <sh-icon shTooltip="The optional name of the backup">question</sh-icon>
        </label>
        <input id="backup-name" formControlName="backup-name" />
      </sh-form-field>

      <app-toggle-card [disallowToggle]="true">
        <ng-container title i18n>Filters</ng-container>
        <ng-container content formGroupName="filters">
          @for (filterCtrl of standardFields.controls.filters.controls; track $index) {
            <sh-form-field>
              <input id="filter-{{ $index }}" [formControl]="filterCtrl" />
            </sh-form-field>
          }
        </ng-container>
      </app-toggle-card>
    </form>

    <app-options-list [(options)]="settings" [hasFreeTextSettings]="true" />

    <div class="form-actions">
      <button shButton class="raised primary" [class.loader]="isSubmitting()" (click)="submit()" i18n>
        <sh-icon>arrow-right</sh-icon>
        Run "{{ baseCmdForm.value.command }}" command now
      </button>
    </div>
  }
</section>
