<form [formGroup]="generalForm" autocomplete="off" #formRef (submit)="next()">
  <h3 class="title-30" i18n>General backup settings</h3>

  @if (!isNew() && generalFormSignal()?.encryption !== '') {
    <sh-alert class="primary" i18n>
      <sh-icon icon>lock</sh-icon>
      Encrypted backup
    </sh-alert>
  }

  <sh-form-field>
    <label for="backupName" i18n>
      Backup name
      <sup>*</sup>
    </label>
    <input type="text" tabindex="1" i18n-placeholder placeholder="Your backup name" formControlName="name" />
  </sh-form-field>

  <sh-form-field>
    <label for="backupDescription" i18n>Backup description</label>
    <textarea
      id="backupDescription"
      tabindex="2"
      i18n-placeholder
      placeholder="Your backup description"
      formControlName="description"></textarea>
  </sh-form-field>

  @if (isNew()) {
    <sh-select [options]="encryptionOptions()" [isClearable]="false" value="Key" label="DisplayName">
      <label for="encryption" i18n>Encryption</label>
      <input
        type="text"
        id="encryption"
        tabindex="3"
        i18n-placeholder
        placeholder="Encryption"
        formControlName="encryption" />

      <ng-template let-option>
        {{ option.DisplayName }}
      </ng-template>
    </sh-select>

    @if (encryptionFieldSignal() !== noneOptionKey) {
      <div class="passwords">
        <sh-form-field>
          <label for="password" i18n>
            Create a password
            <sup>*</sup>
          </label>

          <input
            [type]="showPassword() ? 'text' : 'password'"
            id="password"
            tabindex="4"
            autocomplete="off"
            i18n-placeholder
            placeholder="Password"
            formControlName="password" />
        </sh-form-field>

        @if (generalForm.value.password) {
          <sh-progress-bar
            class="raised"
            [class.error]="calculatePasswordStrength() === 1"
            [class.warn]="calculatePasswordStrength() === 2"
            [class.primary]="calculatePasswordStrength() === 4"
            [class.success]="calculatePasswordStrength() === 5"
            [value]="calculatePasswordStrength() * (100 / 5)"></sh-progress-bar>
        }

        <sh-form-field>
          <input
            [type]="showPassword() ? 'text' : 'password'"
            id="repeatPassword"
            tabindex="5"
            autocomplete="off"
            i18n-placeholder
            placeholder="Repeat password"
            formControlName="repeatPassword" />

          @if (generalForm.value.repeatPassword && generalForm.value.repeatPassword !== generalForm.value.password) {
            <span error i18n>Passwords do not match</span>
          }
        </sh-form-field>

        <div class="password-actions">
          <button shButton type="button" class="small" (click)="showPassword.set(!showPassword())" i18n>
            @if (showPassword()) {
              <sh-icon>eye-slash</sh-icon>
              hide
            } @else {
              <sh-icon>eye</sh-icon>
              show
            }
          </button>

          <button shButton type="button" class="small" (click)="generatePassword()" i18n>
            <sh-icon>password</sh-icon>
            Generate password
          </button>

          @if (showCopyPassword()) {
            <button shButton type="button" class="small copy" (click)="copyPassword()" i18n>
              @if (copiedPassword()) {
                <sh-icon class="sh-success">check</sh-icon>
                Copied password
              } @else {
                <sh-icon>copy</sh-icon>
                Copy password
              }
            </button>
          }
        </div>

        @if (generalForm.value.password && generalForm.value.password === generalForm.value.repeatPassword) {
          <sh-alert type="primary" i18n>
            Tip: Be sure to save your password. If you lose it, you will lose access to your backups.
          </sh-alert>
        }
      </div>
    }
  }

  <div class="form-actions">
    <button type="button" shButton (click)="exit()" i18n>
      <sh-icon>arrow-left</sh-icon>
      Exit
    </button>

    @if (encryptionFieldSignal() === noneOptionKey || !isNew()) {
      <button shButton class="raised primary" type="submit" [disabled]="nameAndDescriptionValid() === false" i18n>
        Continue
        <sh-icon>arrow-right</sh-icon>
      </button>
    } @else {
      <button
        shButton
        class="raised primary"
        type="submit"
        i18n
        i18n-shTooltip
        shTooltip="Remember to copy the password"
        [disabled]="generalForm.invalid || (showCopyPassword() && !copiedPassword())">
        Continue
        <sh-icon>arrow-right</sh-icon>
      </button>
    }
  </div>
</form>
