<!-- <pre>{{ sourceDataForm.value.path!.split('\0') | json }}</pre> -->

<form [formGroup]="sourceDataForm" #formRef (submit)="next()">
  <div class="left">
    <h3 class="title-30" i18n>Source Data</h3>

    <app-file-tree class="fill" [multiSelect]="true" [startingPath]="getPath()" [showFiles]="true">
      <label for="path" i18n>Folder path</label>
      <input type="text" id="path" tabindex="4" i18n-placeholder placeholder="Path" formControlName="path" />
    </app-file-tree>

    <div class="form-actions">
      <button spk-button type="button" (click)="goBack()" i18n>
        <spk-icon>arrow-left</spk-icon>
        Go back
      </button>

      <button spk-button class="raised primary" type="submit" i18n>
        <spk-icon>arrow-right</spk-icon>
        Continue
      </button>
    </div>
  </div>

  <div class="right">
    <app-toggle-card [disallowToggle]="true">
      <ng-container title i18n>Paths</ng-container>
      <p description i18n>Add a path directly from your machine.</p>

      <div class="paths">
        @for (path of nonFilterPaths(); track $index) {
          <div class="path">
            @if (oldPath() === path) {
              <spk-form-field class="small">
                <input
                  type="text"
                  i18n-placeholder
                  placeholder="Edit path"
                  [(ngModel)]="editingPath"
                  [ngModelOptions]="{ standalone: true }" />
              </spk-form-field>

              <button spk-button type="button" class="small" (click)="updatePath()">
                <spk-icon>floppy-disk</spk-icon>
              </button>

              <button spk-button type="button" class="small" (click)="cancelEditPath()">
                <spk-icon>x-bold</spk-icon>
              </button>
            } @else {
              <spk-form-field class="small" [attr.readonly]="true">
                <input type="text" [ngModel]="path" [ngModelOptions]="{ standalone: true }" />
              </spk-form-field>

              <button spk-button type="button" class="small" (click)="editPath(path)">
                <spk-icon>pen</spk-icon>
              </button>
              <button spk-button type="button" class="small" (click)="removePath(path)">
                <spk-icon>trash-simple</spk-icon>
              </button>
            }
          </div>
        }

        <div class="row-inputs">
          <spk-form-field>
            <input type="text" i18n-placeholder placeholder="Add a direct path" [formControl]="newPathCtrl" />
          </spk-form-field>

          <button spk-button class="raised primary" type="button" (click)="addNewPath()">
            <spk-icon>plus</spk-icon>
          </button>
        </div>
      </div>
    </app-toggle-card>

    <app-toggle-card [disallowToggle]="true">
      <ng-container title i18n>Filters</ng-container>
      <p description i18n>Customize your filters.</p>

      <button type="button" spk-button action (click)="addFilter()" i18n>Add filter</button>

      @if (pathSignal()?.length) {
        @for (path of pathArray(); track $index) {
          <app-new-filter
            [path]="path"
            [osType]="osType() ?? ''"
            (pathChange)="patchPathAt($event, $index)"
            (remove)="removePathAt($index)"></app-new-filter>
        }
      }
    </app-toggle-card>

    <app-toggle-card formGroupName="excludes" [disallowToggle]="true">
      <ng-container title i18n>Exclude</ng-container>
      <p description i18n>Choose if there’s any files you want to exclude.</p>

      <spk-toggle class="raised primary" i18n>
        Hidden files
        <input type="checkbox" i18n-placeholder placeholder="Hidden files" formControlName="hidden" />
      </spk-toggle>

      <spk-toggle class="raised primary" i18n>
        System files
        <input type="checkbox" i18n-placeholder placeholder="System files" formControlName="system" />
      </spk-toggle>

      <spk-toggle class="raised primary" i18n>
        Temporary files
        <input type="checkbox" i18n-placeholder placeholder="Temporary files" formControlName="temporary" />
      </spk-toggle>

      <spk-toggle class="raised primary" [class.active]="filesLargerThan()" (click)="toggleFilesLargerThan()" i18n>
        Files larger than
      </spk-toggle>

      @if (filesLargerThan()) {
        <div class="row-inputs" formGroupName="filesLargerThan">
          <spk-form-field>
            <input type="number" formControlName="size" />
          </spk-form-field>

          <spk-select [options]="sizeOptions()" [isClearable]="false">
            <input type="text" formControlName="unit" i18n-placeholder placeholder="Select an option..." />
          </spk-select>
        </div>
      }
    </app-toggle-card>
  </div>
</form>
