@let _notification = notification();

<sh-alert [class]="getAlertType(_notification.Type)">
  <div ship-alert-title>{{ _notification.Title }}</div>

  <div ship-alert-content class="content">
    @if (_notification.Action !== 'update:new' && _notification.Action !== 'update:manual') {
      {{ _notification.Message }}
    }

    @if (downloadLink()) {
      <div i18n>
        If the backup file was not downloaded automatically,
        <a [href]="downloadLink()" target="_blank">right click and choose "Save as …"</a>
      </div>
    }

    <div class="actions">
      @if (_notification.Message?.includes('please run repair')) {
        <button shButton class="small outlined" (click)="doRepair(_notification.BackupID!)" i18n>Repair</button>
      }

      @if (_notification.Action?.startsWith('bug-report:created:') && !downloadLink()) {
        <button shButton class="small outlined" (click)="doDownloadBugreport(_notification)" i18n>Download</button>
      }

      @if (_notification.Action === 'update:new') {
        <div class="message">
          <ng-container i18n>New update found:</ng-container>
          <a [href]="serverState()?.UpdateDownloadLink">{{ _notification.Message }}</a>

          @if (serverState()?.UpdaterState === 'Downloading') {
            <sh-progress-bar [value]="serverState()?.UpdateDownloadProgress" />
          }

          <button shButton class="small outlined" (click)="doShowUpdate()" i18n>Show Update</button>
        </div>
      }

      @if (_notification.Action === 'backup:show-log') {
        <button shButton class="small outlined" (click)="doShowLog(_notification.BackupID!)" i18n>Show Log</button>
      }

      @if (_notification.Action === 'config:issue:unencrypted-database') {
        <button
          shButton
          class="small outlined"
          (click)="doShowLink('https://docs.duplicati.com/detailed-descriptions/the-server-database')"
          i18n>
          Show Help
        </button>
      }

      @if (_notification.Action === 'config:issue:windows-folder-used') {
        <button
          shButton
          class="small outlined"
          (click)="doShowLink('https://docs.duplicati.com/detailed-descriptions/the-server-database')"
          i18n>
          Show Help
        </button>
      }

      <button shButton class="small outlined" (click)="deleteNotificationByIndex()" i18n>Dismiss</button>
    </div>
  </div>
</sh-alert>
