<ng-content select="label" ngProjectAs="label" />
<div class="browse-btn">
  <button shButton type="button" class="small outlined" (click)="triggerBrowse()">
    <sh-icon>upload</sh-icon>
  </button>
</div>

<div class="textarea-container textarea-wrap" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)">
  <textarea [placeholder]="placeholder()" [(ngModel)]="content" [disabled]="readonly()" rows="10"></textarea>
</div>

<input #fileInput type="file" class="hidden" (change)="onFileSelected($event)" />
