@use '@sparkle-ui/core/styles' as * with (
  $useInterTight: false,
  $useApexcharts: false
);

body {
  .spacer {
    flex: 1 0;
  }

  h2 {
    font: var(--title-30);
    margin: 0;
  }

  h3 {
    font: var(--paragraph-20);
    margin: 0;
  }
}

.sparkle-popup-menu {
  min-width: initial;

  &.right {
    button {
      justify-content: flex-end;
    }
  }
}
