<app-status-bar />

<section>
  <h2 i18n>Add a new backup</h2>

  <div class="backup-types">
    <sh-card class="type-a">
      <img src="assets/images/new-backup.png" />
      <h3 i18n>New backup</h3>

      <p i18n>Configure a new backup. Choose your destination, source data and schedule.</p>

      <button shButton class="raised primary" [routerLink]="['/backup/new']" i18n>
        Add a new backup
        <sh-icon>plus</sh-icon>
      </button>
    </sh-card>

    <sh-card class="type-a">
      <img src="assets/images/new-backup.png" />
      <h3 i18n>Import from file</h3>
      <p i18n>Import backup configuration from a file. During import, you can adjust the settings.</p>
      <button shButton class="raised primary" [routerLink]="['/backup/import']" i18n>
        Import from file
        <sh-icon>upload-simple</sh-icon>
      </button>
    </sh-card>
  </div>
</section>
