<app-status-bar />

<header>
  @if (!isNew()) {
    <p>Editing: {{ backupName() }}</p>
  }
  <sh-stepper>
    <div
      step
      routerLinkActive="active"
      [routerLink]="[isDraft() ? '/backup-draft' : '/backup', backupId(), 'general']"
      i18n>
      <sh-radio />
      General
    </div>
    <div
      step
      routerLinkActive="active"
      [routerLink]="[isDraft() ? '/backup-draft' : '/backup', backupId(), 'destination']"
      i18n>
      <sh-radio />
      Destination
    </div>
    <div
      step
      routerLinkActive="active"
      [routerLink]="[isDraft() ? '/backup-draft' : '/backup', backupId(), 'source-data']"
      i18n>
      <sh-radio />
      Source Data
    </div>
    <div
      step
      routerLinkActive="active"
      [routerLink]="[isDraft() ? '/backup-draft' : '/backup', backupId(), 'schedule']"
      i18n>
      <sh-radio />
      Schedule
    </div>
    <div
      step
      routerLinkActive="active"
      [routerLink]="[isDraft() ? '/backup-draft' : '/backup', backupId(), 'options']"
      i18n>
      <sh-radio />
      Options
    </div>
  </sh-stepper>
</header>

@if (!finishedLoading()) {
  <sh-progress-bar class="indeterminate primary"></sh-progress-bar>
} @else {
  <section>
    <router-outlet></router-outlet>
  </section>
}
