@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  padding: p2r(16 24);
  border-bottom: 1px solid var(--base-4);

  p {
    margin-bottom: p2r(8);
  }

  sh-stepper {
    width: 100%;
  }
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1 0;
  @include overflowScrolling();
}
