<form [formGroup]="optionsForm" #formRef (submit)="submit()">
  <h3 class="title-30" i18n>Restore options</h3>

  <app-toggle-card [disallowToggle]="true">
    <ng-container title i18n>Where do you want to restore files to?</ng-container>

    <spk-radio class="raised primary" i18n>
      Original location
      <input type="radio" name="restoreFrom" value="orignal" formControlName="restoreFrom" />
    </spk-radio>

    <spk-radio class="raised primary" i18n>
      Pick location
      <input type="radio" name="restoreFrom" value="pickLocation" formControlName="restoreFrom" />
    </spk-radio>

    <app-file-tree [disabled]="optionsFormSignal()?.restoreFrom !== 'pickLocation'">
      <label for="path">Path</label>
      <input type="text" id="path" formControlName="restoreFromPath" />
    </app-file-tree>
  </app-toggle-card>

  <app-toggle-card [disallowToggle]="true">
    <ng-container title i18n>How do you want to handle existing files?</ng-container>

    <spk-radio class="raised primary" i18n>
      Overwrite
      <input type="radio" name="handleExisting" value="overwrite" formControlName="handleExisting" />
    </spk-radio>

    <spk-radio class="raised primary" i18n>
      Save different versions with timestamp in file name
      <input type="radio" name="handleExisting" value="saveTimestamp" formControlName="handleExisting" />
    </spk-radio>
  </app-toggle-card>

  <app-toggle-card>
    <ng-container title i18n>Permissions</ng-container>

    <spk-toggle class="primary raised" i18n>
      Restore read/write permissions
      <input type="checkbox" formControlName="permissions" />
    </spk-toggle>
  </app-toggle-card>

  <div class="form-actions">
    <button spk-button type="button" (click)="goBack()" i18n>
      <spk-icon>arrow-left</spk-icon>
      Go back
    </button>

    <button spk-button [class.loader]="isSubmitting()" class="raised primary" type="submit" i18n>
      <spk-icon>arrow-right</spk-icon>
      Submit
    </button>
  </div>
</form>
