<form [formGroup]="optionsForm" #formRef (submit)="submit()">
  <h3 class="title-30" i18n>Restore options</h3>

  <app-toggle-card [disallowToggle]="true">
    <ng-container title i18n>Where do you want to restore files to?</ng-container>

    <sh-radio class="raised primary" i18n>
      Original location
      <input type="radio" name="restoreFrom" value="orignal" formControlName="restoreFrom" />
    </sh-radio>

    <sh-radio class="raised primary" i18n>
      Pick location
      <input type="radio" name="restoreFrom" value="pickLocation" formControlName="restoreFrom" />
    </sh-radio>

    <app-file-tree [disabled]="optionsFormSignal()?.restoreFrom !== 'pickLocation'" [enableCreateFolder]="true">
      <label for="path">Path</label>
      <input type="text" id="path" formControlName="restoreFromPath" />
    </app-file-tree>
  </app-toggle-card>

  <app-toggle-card [disallowToggle]="true">
    <ng-container title i18n>How do you want to handle existing files?</ng-container>

    <sh-radio class="raised primary" i18n>
      Overwrite
      <input type="radio" name="handleExisting" value="overwrite" formControlName="handleExisting" />
    </sh-radio>

    <sh-radio class="raised primary" i18n>
      Save different versions with timestamp in file name
      <input type="radio" name="handleExisting" value="saveTimestamp" formControlName="handleExisting" />
    </sh-radio>
  </app-toggle-card>

  <app-toggle-card>
    <ng-container title i18n>Metadata settings</ng-container>

    <sh-toggle class="primary raised" i18n>
      Restore file metadata
      <input type="checkbox" formControlName="includeMetadata" />
    </sh-toggle>

    <sh-toggle class="primary raised" i18n>
      Restore read/write permissions
      <input type="checkbox" formControlName="permissions" />
    </sh-toggle>
  </app-toggle-card>

  <div class="form-actions">
    <button shButton type="button" (click)="goBack()" i18n>
      <sh-icon>arrow-left</sh-icon>
      Go back
    </button>

    <button shButton [class.loader]="isSubmitting()" class="raised primary" type="submit" i18n>
      <sh-icon>arrow-right</sh-icon>
      Submit
    </button>
  </div>
</form>
