<spk-form-field [attr.readonly]="readonly() || undefined">
  <ng-content select="label" ngProjectAs="label" />

  <input type="number" [id]="customId()" [(ngModel)]="timespan" [disabled]="readonly()" />

  <ng-content select="[prefix]" />
  <ng-content select="[suffix]" />
</spk-form-field>

<spk-select
  i18n-placeholder
  placeholder="Select an item..."
  [options]="timeOptions()"
  value="value"
  label="label"
  [style.--miw]="0"
  [readonly]="readonly()"
  [isClearable]="false">
  <input type="text" [(ngModel)]="unit" />

  <ng-template let-option>
    {{ option.label }}
  </ng-template>
</spk-select>
