<ng-content select="label" ngProjectAs="label" />

<spk-form-field [attr.readonly]="readonly() || undefined">
  <input type="number" [id]="customId()" [(ngModel)]="timespan" [disabled]="readonly()" />

  <ng-content select="[prefix]" />
  <ng-content select="[suffix]" />
</spk-form-field>

<spk-menu [openIndicator]="true" [searchable]="true">
  <button spk-button class="trigger" type="button" i18n>{{ unitLabel() }}</button>

  <ng-container menu>
    @for (option of timeOptions(); track $index) {
      <button spk-button type="button" class="small" (click)="updateUnit(option.value)" i18n>{{ option.label }}</button>
    }
  </ng-container>
</spk-menu>
<!-- <spk-select
  i18n-placeholder
  placeholder="Select an item..."
  [options]="timeOptions()"
  value="value"
  label="label"
  [style.--miw]="0"
  [readonly]="readonly()"
  [isClearable]="false">
  <input type="text" [(ngModel)]="unit" />

  <ng-template let-option>
    {{ option.label }}
  </ng-template>
</spk-select> -->
