@use '@sparkle-ui/core/styles/helpers' as *;

:host {
  display: grid;
  grid-template-areas:
    'label label'
    'input unit';
  grid-template-columns: 3fr 1fr;
  gap: p2r(8);
  align-items: flex-end;

  .label {
    grid-area: label;
    grid-column: 1 / -1;
  }

  spk-form-field {
    grid-area: input;
  }

  spk-menu {
    grid-area: unit;

    button.trigger {
      width: 100%;
    }
  }
}
