<app-status-bar />

<section>
  <div class="back">
    <button type="button" class="small" spk-button routerLink="/" i18n>
      <spk-icon>arrow-left</spk-icon>
      Back
    </button>
  </div>

  @if (!finishedLoading()) {
    <spk-progress-bar class="indeterminate primary"></spk-progress-bar>
  } @else {
    <form [formGroup]="baseCmdForm">
      <spk-select [options]="commandOptions() ?? []" [inlineSearch]="true" placeholder="Select a command...">
        <label for="command" i18n>Command</label>
        <input type="text" id="command" formControlName="command" />
      </spk-select>

      <spk-form-field>
        <label for="targetUrl" i18n>TargetUrl</label>
        <textarea id="targetUrl" autocomplete="off" formControlName="targetUrl"></textarea>
      </spk-form-field>

      <spk-form-field>
        <label for="arguments" i18n>Commandline Arguments</label>
        <textarea id="arguments" autocomplete="off" formControlName="arguments"></textarea>
      </spk-form-field>
    </form>

    <spk-divider i18n>Advanced options</spk-divider>

    <form [formGroup]="standardFields">
      <spk-form-field>
        <label for="backup-id" i18n>Backup ID</label>
        <input id="backup-id" formControlName="backup-id" />
      </spk-form-field>

      <spk-form-field>
        <label for="backup-name" i18n>Backup Name</label>
        <input id="backup-name" formControlName="backup-name" />
      </spk-form-field>

      <app-toggle-card [disallowToggle]="true">
        <ng-container title i18n>Filters</ng-container>
        <ng-container content formGroupName="filters">
          @for (filterCtrl of standardFields.controls.filters.controls; track $index) {
            <spk-form-field>
              <input id="filter-{{ $index }}" [formControl]="filterCtrl" />
            </spk-form-field>
          }
        </ng-container>
      </app-toggle-card>
    </form>

    <form [formGroup]="optionsForm">
      <div class="remote-volume-wrap">
        <div class="row-inputs" formGroupName="remoteVolumeSize">
          <spk-form-field>
            <label for="size" i18n>Remote volume size</label>
            <input type="number" id="size" formControlName="size" />
          </spk-form-field>

          <spk-select
            i18n-placeholder
            placeholder="Select an option..."
            [options]="sizeOptions()"
            [inlineSearch]="true">
            <input type="text" formControlName="unit" />
          </spk-select>
        </div>

        <p i18n>
          The backups will be split up into multiple files called volumes. Here you can set the maximum size of the
          individual volume files.
          <a href="#" class="spk-primary">Read more</a>
        </p>
      </div>

      <app-options-list
        [(options)]="settings"
        [hasFreeTextSettings]="true"
        [hiddenOptions]="[
          '--no-encryption',
          '--exclude-files-attributes',
          '--skip-files-larger-than',
          'dblock-size',
          'no-encryption',
        ]" />

      <div class="form-actions">
        <button spk-button class="raised primary" [class.loader]="isSubmitting()" (click)="submit()" i18n>
          <spk-icon>arrow-right</spk-icon>
          Run "{{ baseCmdForm.value.command }}" command now
        </button>
      </div>
    </form>
  }
</section>
