<app-status-bar />

<section>
  <header>
    <spk-card class="type-a" [routerLink]="['/add-backup']">
      <img src="assets/images/backup.png" alt="" width="48px" />
      <div class="text">
        <h3 i18n>Backups</h3>
        <p i18n>Backups are stored in the cloud and can be restored at any time.</p>
      </div>
      <button spk-button i18n>
        Add
        <spk-icon>plus</spk-icon>
      </button>
    </spk-card>

    <spk-card class="type-a" [routerLink]="['/restore']">
      <img src="assets/images/restore.png" alt="" width="48px" />
      <div class="text">
        <h3 i18n>Restores</h3>
        <p i18n>Restores are stored in the cloud and can be restored at any time.</p>
      </div>
      <button spk-button i18n>
        Start
        <spk-icon>arrow-right</spk-icon>
      </button>
    </spk-card>
  </header>

  <div class="content">
    <h2 i18n>My backups</h2>
    <div class="backups">
      @defer (when !backupsLoading()) {
        @if (backups().length) {
          @for (backup of backups(); track $index) {
            <div class="backup">
              <div class="text">
                <h3>
                  {{ backup.Backup?.Name ?? MISSING_BACKUP_NAME }}
                  <spk-icon>database</spk-icon>
                </h3>

                <p>
                  <span i18n>Last successful backup:</span>
                  {{ backup.Backup?.Metadata?.['LastBackupDate'] | date: 'short' }}
                  @if (backup.Backup?.Metadata?.['LastBackupDuration']) {
                    -
                    <ng-container i18n>took</ng-container>
                    {{ backup.Backup?.Metadata?.['LastBackupDuration'] | durationFormat }}
                  } @else {
                    <ng-container i18n>N/A</ng-container>
                  }
                </p>

                <p>
                  <span i18n>Source:</span>
                  @if (backup.Backup?.Metadata?.['SourceFilesSize']) {
                    {{ backup.Backup?.Metadata?.['SourceFilesSize'] | bytes }}
                  } @else {
                    <ng-container i18n>N/A</ng-container>
                  }
                </p>

                <p>
                  <span i18n>Destination:</span>
                  @if (backup.Backup?.Metadata?.['TargetFilesSize']) {
                    {{ backup.Backup?.Metadata?.['TargetFilesSize'] | bytes }}
                  } @else {
                    <ng-container i18n>N/A</ng-container>
                  }
                </p>
              </div>

              @if (backup.Backup?.Metadata?.['BackupListCount']) {
                <spk-chip class="simple success" i18n>
                  {{ backup.Backup?.Metadata?.['BackupListCount'] }} Version
                </spk-chip>
              } @else {
                <spk-chip class="simple" i18n>No version yet</spk-chip>
              }

              <div class="actions">
                <button
                  spk-button
                  [class.loader]="startingBackup()"
                  (click)="startBackup($any(backup.Backup?.ID))"
                  i18n>
                  <spk-icon>play-circle</spk-icon>
                  Start
                </button>

                <button spk-button [routerLink]="['/backup', backup.Backup?.ID]">
                  <spk-icon>pencil-simple</spk-icon>
                </button>

                <spk-menu [right]="true">
                  <button spk-button><spk-icon>dots-three-vertical</spk-icon></button>

                  <ng-container menu>
                    <button #option [routerLink]="['/backup', backup.Backup?.ID, 'export']" i18n>
                      Export
                      <spk-icon>export</spk-icon>
                    </button>

                    <button
                      #option
                      [class.loader]="deletingBackup() === backup.Backup?.ID"
                      (click)="deleteBackup(backup.Backup?.ID)"
                      i18n>
                      Delete
                      <spk-icon>x-circle</spk-icon>
                    </button>
                  </ng-container>
                </spk-menu>
              </div>
            </div>
          }
        } @else {
          <ng-container i18n>No backups founds</ng-container>
        }
      } @placeholder {
        <div class="loading-list">
          <spk-progress-bar class="indeterminate primary"></spk-progress-bar>

          <div class="text">
            <h3 i18n>Loading backups...</h3>
          </div>
        </div>
      }
    </div>
  </div>
</section>
