@use '@sparkle-ui/core/styles/helpers' as *;

:host {
  display: block;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  gap: p2r(32);
  padding: p2r(32 0);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: p2r(0 32);
  gap: p2r(16);
}

spk-card {
  display: flex;
  align-items: center;
  gap: p2r(16);

  .text {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    gap: p2r(4);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: p2r(16);

  h2 {
    padding: p2r(0 32);
  }

  .table-buttons {
    min-height: 40px;
  }
}

.backups {
  display: flex;
  flex-direction: column;
  padding: p2r(0 32);
  gap: p2r(8);
}

.backup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: p2r(32);
  gap: p2r(16);
  border: 1px solid var(--base-4);
  border-radius: var(--shape-3);
  box-shadow: var(--box-shadow-10);

  .text {
    display: flex;
    flex-direction: column;
    gap: p2r(8);
    width: 100%;
    max-width: 40%;

    h3 {
      display: flex;
      align-items: center;
      gap: p2r(8);

      spk-icon {
        color: var(--base-8);
      }
    }

    p {
      font: var(--paragraph-30);
      color: var(--base-8);

      span {
        color: var(--base-12);
      }
    }
  }
}

.actions {
  display: flex;
  gap: p2r(8);
}

.sortable {
  user-select: none;

  spk-icon {
    margin-left: p2r(8);
    font-size: p2r(16);
    justify-self: flex-end;
    display: none;
  }

  &:not(.sort-asc):not(.sort-desc) spk-icon.filter {
    display: block;
  }

  &.sort-asc spk-icon.asc {
    display: block;
    color: var(--base-12);
  }

  &.sort-desc spk-icon.desc {
    display: block;
    color: var(--base-12);
  }
}
