<app-status-bar />

<section>
  <header>
    <spk-card class="type-a" [routerLink]="['/add-backup']">
      <img src="assets/images/backup.png" alt="" width="48px" />
      <div class="text">
        <h3 i18n>Backups</h3>
        <p i18n>Backups are stored in the cloud and can be restored at any time.</p>
      </div>
      <button type="button" spk-button i18n>
        Add
        <spk-icon>plus</spk-icon>
      </button>
    </spk-card>

    <spk-card class="type-a" [routerLink]="['/restore']">
      <img src="assets/images/restore.png" alt="" width="48px" />
      <div class="text">
        <h3 i18n>Restores</h3>
        <p i18n>Restores allow you to restore your data from the cloud.</p>
      </div>
      <button type="button" spk-button i18n>
        Start
        <spk-icon>arrow-right</spk-icon>
      </button>
    </spk-card>
  </header>

  <div class="content">
    <h2>
      <ng-container i18n>My backups</ng-container>

      <div class="actions">
        <spk-menu>
          <button type="button" class="small" spk-button i18n>
            Time:
            <strong>{{ timeType() }}</strong>
            <spk-icon>clock</spk-icon>
          </button>

          <ng-container menu>
            <button type="button" (click)="timeType.set('relative')" i18n>Relative time</button>
            <button type="button" (click)="timeType.set('actual')" i18n>Actual time</button>
          </ng-container>
        </spk-menu>

        <spk-menu>
          <button type="button" class="small" spk-button i18n>
            Order by:
            <strong>{{ orderBy() }}</strong>
            <spk-icon>arrows-down-up</spk-icon>
          </button>

          <ng-container menu>
            <button type="button" (click)="setOrderBy('id')" i18n>Create order</button>
            <button type="button" (click)="setOrderBy('backend')" i18n>Destination type</button>
            <button type="button" (click)="setOrderBy('lastrun')" i18n>Last run</button>
            <button type="button" (click)="setOrderBy('name')" i18n>Name</button>
          </ng-container>
        </spk-menu>
      </div>
    </h2>
    <div class="backups">
      @defer (when !backupsLoading()) {
        @if (backups().length) {
          @for (backup of backups(); track $index) {
            <div class="backup">
              <div class="text">
                <h3>
                  {{ backup.Backup?.Name ?? MISSING_BACKUP_NAME }}
                  <spk-icon>database</spk-icon>
                </h3>

                <p>
                  <span i18n>Last successful backup:</span>
                  {{ backup.Backup?.Metadata?.['LastBackupDate'] | relativeTime: timeType() === 'actual' }}
                </p>

                <p>
                  <span i18n>Duration:</span>
                  @if (backup.Backup?.Metadata?.['LastBackupDuration']) {
                    {{ backup.Backup?.Metadata?.['LastBackupDuration'] | durationFormat: timeType() === 'actual' }}
                  } @else {
                    <ng-container i18n>N/A</ng-container>
                  }
                </p>

                <p>
                  <span i18n>Source:</span>
                  @if (backup.Backup?.Metadata?.['SourceFilesSize']) {
                    {{ backup.Backup?.Metadata?.['SourceFilesSize'] | bytes }}
                  } @else {
                    <ng-container i18n>N/A</ng-container>
                  }
                </p>

                <p>
                  <span i18n>Destination:</span>
                  @if (backup.Backup?.Metadata?.['TargetFilesSize']) {
                    {{ backup.Backup?.Metadata?.['TargetFilesSize'] | bytes }}
                  } @else {
                    <ng-container i18n>N/A</ng-container>
                  }
                </p>
              </div>

              @if (backup.Backup?.Metadata?.['BackupListCount']) {
                <spk-chip class="simple success" i18n>
                  {{ backup.Backup?.Metadata?.['BackupListCount'] }} Version
                </spk-chip>
              } @else {
                <spk-chip class="simple" i18n>No version yet</spk-chip>
              }

              <div class="actions">
                <button
                  spk-button
                  [class.loader]="startingBackup()"
                  (click)="startBackup($any(backup.Backup?.ID))"
                  i18n>
                  <spk-icon>play-circle</spk-icon>
                  Start
                </button>

                <button type="button" spk-button [routerLink]="['/backup', backup.Backup?.ID]">
                  <spk-icon>pencil-simple</spk-icon>
                </button>

                <spk-menu [right]="true">
                  <button type="button" spk-button><spk-icon>dots-three-vertical</spk-icon></button>

                  <ng-container menu>
                    <h3 title>Operations</h3>

                    <button type="button" [routerLink]="['/restore', backup.Backup?.ID]" i18n>
                      <spk-icon>clock-counter-clockwise</spk-icon>
                      Restore
                    </button>

                    <button type="button" [routerLink]="['/backup', backup.Backup?.ID, 'export']" i18n>
                      <spk-icon>export</spk-icon>
                      Export
                    </button>

                    <button
                      [class.loader]="deletingBackup() === backup.Backup?.ID"
                      (click)="deleteBackup(backup.Backup?.ID!)"
                      i18n>
                      <spk-icon>x-circle</spk-icon>
                      Delete
                    </button>

                    <spk-divider />

                    <h3 title>Advanced</h3>

                    <button type="button" [routerLink]="['/backup', backup.Backup?.ID, 'database']" i18n>
                      <spk-icon>database</spk-icon>
                      Database
                    </button>

                    <button type="button" (click)="verifyFiles(backup.Backup?.ID!)" i18n>
                      <spk-icon>check-square-offset</spk-icon>
                      Verify files
                    </button>

                    <button type="button" (click)="compressBackup(backup.Backup?.ID!)" i18n>
                      <spk-icon>file-archive</spk-icon>
                      Compress now
                    </button>

                    <button type="button" [routerLink]="['/backup', backup.Backup?.ID, 'commandline']" i18n>
                      <spk-icon>terminal-window</spk-icon>
                      Commandline
                    </button>

                    <spk-divider />

                    <h3 title>Reporting</h3>

                    <button type="button" [routerLink]="['/backup', backup.Backup?.ID, 'log']" i18n>
                      <spk-icon>notepad</spk-icon>
                      Log
                    </button>

                    <button type="button" (click)="createErrorReport(backup.Backup?.ID!)" i18n>
                      <spk-icon>file-plus</spk-icon>
                      Create error report
                    </button>
                  </ng-container>
                </spk-menu>
              </div>
            </div>
          }
        } @else {
          <ng-container i18n>No backups founds</ng-container>
        }
      } @placeholder {
        <div class="loading-list">
          <spk-progress-bar class="indeterminate primary"></spk-progress-bar>

          <div class="text">
            <h3 i18n>Loading backups...</h3>
          </div>
        </div>
      }
    </div>
  </div>
</section>
