@use '@ship-ui/core/styles/helpers' as *;

:host {
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: p2r(40);
  gap: p2r(20);
}

code {
  background: darken(var(--base-8), 70%);
  color: #fff;
  padding: p2r(40 40 40 24);
  border-radius: var(--shape-3);
  overflow: auto;
  white-space: pre;
}
