<app-status-bar />

<section>
  <header>
    <sh-card class="type-a actionable" [routerLink]="['/add-backup']">
      <img src="assets/images/backup.png" alt="" width="48px" />
      <div class="text">
        <h3 i18n>Backups</h3>
        <p i18n>Backups are stored in the cloud and can be restored at any time.</p>
      </div>
      <button type="button" shButton i18n>
        Add
        <sh-icon>plus</sh-icon>
      </button>
    </sh-card>

    <sh-card class="type-a actionable" [routerLink]="['/restore']">
      <img src="assets/images/restore.png" alt="" width="48px" />
      <div class="text">
        <h3 i18n>Restores</h3>
        <p i18n>Restores allow you to restore your data from the cloud.</p>
      </div>
      <button type="button" shButton i18n>
        Start
        <sh-icon>arrow-right</sh-icon>
      </button>
    </sh-card>
  </header>

  <div class="content">
    <h2>
      <ng-container i18n>My backups</ng-container>

      <div class="actions">
        <sh-button-group class="small">
          <button type="button" [class.active]="viewMode() === 'list'" i18n (click)="viewMode.set('list')">
            <sh-icon>rows</sh-icon>
            List
          </button>

          <button type="button" [class.active]="viewMode() === 'details'" i18n (click)="viewMode.set('details')">
            <sh-icon>list</sh-icon>
            Details
          </button>
        </sh-button-group>

        <sh-menu class="table-overview">
          <button type="button" class="small" shButton i18n>
            Time:
            <strong>{{ timeType() }}</strong>
            <sh-icon>clock</sh-icon>
          </button>

          <ng-container menu>
            <button type="button" (click)="setTimeType('relative')" i18n>Relative time</button>
            <button type="button" (click)="setTimeType('actual')" i18n>Actual time</button>
          </ng-container>
        </sh-menu>

        @if (viewMode() === 'list') {
          <sh-menu class="table-overview">
            <button type="button" class="small" shButton i18n>
              Order by:
              <strong>{{ orderBy() }}</strong>
              <sh-icon>arrows-down-up</sh-icon>
            </button>

            <ng-container menu>
              @for (order of sortOrderOptions(); track $index) {
                <button
                  type="button"
                  [class.active]="orderBy() === order.value"
                  (click)="sortByColumn.set(order.value)"
                  i18n>
                  {{ order.label }}
                </button>
              }
            </ng-container>
          </sh-menu>
        }
      </div>
    </h2>

    @defer (when !backupsLoading()) {
      @if (viewMode() === 'list') {
        <div class="backups">
          @if (backups().length) {
            @for (backup of backups(); track $index) {
              <div class="backup">
                <div class="text">
                  <h3>
                    {{ backup.Backup.Name ?? MISSING_BACKUP_NAME }}
                    <sh-chip>
                      <img class="provider-icon" [src]="getBackendIcon(backup.Backup.TargetURL)" alt="" />
                      <!-- <sh-icon>{{ getBackendIcon(backup.Backup.TargetURL) }}</sh-icon> -->
                      {{ getBackendType(backup.Backup.TargetURL) }}
                    </sh-chip>
                  </h3>

                  <p>
                    <span i18n>Last successful backup:</span>
                    {{ backup.Backup.Metadata?.['LastBackupFinished'] | relativeTime: timeType() === 'actual' }}
                  </p>

                  <!-- Warning: Model says Schedule cannot be null, but it can, so dont remove the short-circuit operator -->
                  @if (backup?.Schedule?.Time) {
                    <p>
                      <span i18n>Next scheduled run:</span>
                      {{ backup.Schedule.Time | relativeTime: timeType() === 'actual' }}
                    </p>
                  }

                  <p>
                    <span i18n>Duration:</span>
                    @if (backup.Backup.Metadata?.['LastBackupDuration']) {
                      {{ backup.Backup.Metadata?.['LastBackupDuration'] | durationFormat: timeType() === 'actual' }}
                    } @else {
                      <ng-container>-</ng-container>
                    }
                  </p>

                  <p>
                    <span i18n>Source:</span>
                    @if (backup.Backup.Metadata?.['SourceFilesSize']) {
                      {{ backup.Backup.Metadata?.['SourceFilesSize'] | bytes }}
                    } @else {
                      <ng-container>-</ng-container>
                    }
                  </p>

                  <p>
                    <span i18n>Destination:</span>
                    @if (backup.Backup.Metadata?.['TargetFilesSize']) {
                      {{ backup.Backup.Metadata?.['TargetFilesSize'] | bytes }}
                    } @else {
                      <ng-container>-</ng-container>
                    }
                  </p>
                </div>
                <div class="tags">
                  @let versions = getBackupVersionCount(backup);
                  <sh-chip class="simple success" i18n>
                    {versions, plural, =0 {No version yet} =1 {1 Version} other {{{ versions }} Versions}}
                  </sh-chip>

                  @if (backup.Backup.ExternalID) {
                    <sh-chip class="simple primary" i18n>Externally managed</sh-chip>
                  }
                </div>

                <div class="actions">
                  <ng-container *ngTemplateOutlet="actions; context: { $implicit: backup }"></ng-container>
                </div>
              </div>
            }
          } @else {
            <ng-container i18n>No backups founds</ng-container>
          }
        </div>
      } @else if (viewMode() === 'details') {
        <sh-table class="type-b" [data]="backups()" [loading]="backupsLoading()" [(sortByColumn)]="sortByColumn">
          <tr table-header>
            <th i18n shSort="name">
              Backup
              <ng-container *ngTemplateOutlet="sortIcons" />
            </th>
            <th i18n shSort="type">
              Type
              <ng-container *ngTemplateOutlet="sortIcons" />
            </th>
            <th i18n shSort="lastrun">
              Last backup
              <ng-container *ngTemplateOutlet="sortIcons" />
            </th>
            <th i18n shSort="nextrun">
              Next run
              <ng-container *ngTemplateOutlet="sortIcons" />
            </th>
            <th i18n shSort="duration">
              Duration
              <ng-container *ngTemplateOutlet="sortIcons" />
            </th>
            <th i18n shSort="sourcesize">
              Source
              <ng-container *ngTemplateOutlet="sortIcons" />
            </th>
            <th i18n shSort="destinationsize">
              Destination
              <ng-container *ngTemplateOutlet="sortIcons" />
            </th>
            <th i18n>Version</th>
            <th i18n>Actions</th>
          </tr>

          @for (backup of backups(); track $index) {
            <tr>
              <td>
                {{ backup.Backup.Name ?? MISSING_BACKUP_NAME }}
              </td>
              <td>
                <sh-chip class="small">
                  <img class="provider-icon" [src]="getBackendIcon(backup.Backup.TargetURL)" alt="" />
                  <!-- <sh-icon>{{ getBackendIcon(backup.Backup.TargetURL) }}</sh-icon> -->
                  {{ getBackendType(backup.Backup.TargetURL) }}
                </sh-chip>
              </td>
              <td>
                @if (backup.Backup.Metadata?.['LastBackupDate']) {
                  {{ backup.Backup.Metadata?.['LastBackupDate'] | relativeTime: timeType() === 'actual' }}
                } @else {
                  <ng-container>-</ng-container>
                }
              </td>
              <td>
                <!-- Warning: Model says Schedule cannot be null, but it can, so dont remove the short-circuit operator -->
                @if (backup?.Schedule?.Time) {
                  {{ backup.Schedule.Time | relativeTime: timeType() === 'actual' }}
                } @else {
                  <ng-container>-</ng-container>
                }
              </td>
              <td>
                @if (backup.Backup.Metadata?.['LastBackupDuration']) {
                  {{ backup.Backup.Metadata?.['LastBackupDuration'] | durationFormat: timeType() === 'actual' }}
                } @else {
                  <ng-container>-</ng-container>
                }
              </td>
              <td>
                @if (backup.Backup.Metadata?.['SourceFilesSize']) {
                  {{ backup.Backup.Metadata?.['SourceFilesSize'] | bytes }}
                } @else {
                  <ng-container>-</ng-container>
                }
              </td>
              <td>
                @if (backup.Backup.Metadata?.['TargetFilesSize']) {
                  {{ backup.Backup.Metadata?.['TargetFilesSize'] | bytes }}
                } @else {
                  <ng-container>-</ng-container>
                }
              </td>
              <td>
                @let versions = getBackupVersionCount(backup);
                <span i18n>
                  {versions, plural, =0 {No versions} =1 {1 Version} other {{{ versions }} Versions}}
                </span>
              </td>

              <td>
                <ng-container *ngTemplateOutlet="actions; context: { $implicit: backup }"></ng-container>
              </td>
            </tr>
          }
        </sh-table>
      }
    } @placeholder {
      <div class="loading-list">
        <sh-progress-bar class="indeterminate primary"></sh-progress-bar>

        <div class="text">
          <h3 i18n>Loading backups...</h3>
        </div>
      </div>
    }
  </div>
</section>

<ng-template #actions let-backup>
  <button
    shButton
    [class.loader]="startingBackup() === backup.Backup.ID"
    (click)="startBackup($any(backup.Backup.ID))"
    i18n>
    <sh-icon>play-circle</sh-icon>
    @if (viewMode() === 'list') {
      Start
    }
  </button>

  <button type="button" shButton [routerLink]="['/backup', backup.Backup.ID]">
    <sh-icon>pencil-simple</sh-icon>
  </button>

  <sh-menu>
    <button
      type="button"
      shButton
      [class.loader]="loadingId() === backup.Backup.ID"
      [class.success]="successId() === backup.Backup.ID">
      @if (successId() === backup.Backup.ID) {
        <sh-icon>check</sh-icon>
      } @else {
        <sh-icon>dots-three-vertical</sh-icon>
      }
    </button>

    <ng-container menu>
      <h3 title>Operations</h3>

      <button type="button" [routerLink]="['/restore', backup.Backup.ID]" i18n>
        <sh-icon>clock-counter-clockwise</sh-icon>
        Restore
      </button>

      <button type="button" [routerLink]="['/backup', backup.Backup.ID, 'export']" i18n>
        <sh-icon>export</sh-icon>
        Export
      </button>

      <button type="button" [routerLink]="['/backup', backup.Backup.ID, 'delete']" i18n>
        <sh-icon>x-circle</sh-icon>
        Delete
      </button>

      <sh-divider />

      <h3 title>Advanced</h3>

      <button type="button" [routerLink]="['/backup', backup.Backup.ID, 'database']" i18n>
        <sh-icon>database</sh-icon>
        Database
      </button>

      <button type="button" (click)="verifyFiles(backup.Backup.ID!)" i18n>
        <sh-icon>check-square-offset</sh-icon>
        Verify files
      </button>

      <button type="button" (click)="compressBackup(backup.Backup.ID!)" i18n>
        <sh-icon>file-archive</sh-icon>
        Compress now
      </button>

      <button type="button" [routerLink]="['/backup', backup.Backup.ID, 'commandline']" i18n>
        <sh-icon>terminal-window</sh-icon>
        Commandline
      </button>

      <sh-divider />

      <h3 title>Reporting</h3>

      <button type="button" [routerLink]="['/backup', backup.Backup.ID, 'log']" i18n>
        <sh-icon>notepad</sh-icon>
        Log
      </button>
    </ng-container>
  </sh-menu>
</ng-template>

<ng-template #sortIcons>
  <sh-icon class="filter">funnel-simple</sh-icon>
  <sh-icon class="asc">sort-ascending</sh-icon>
  <sh-icon class="desc">sort-descending</sh-icon>
</ng-template>
