<header>
  <h3 i18n>
    Restore from config

    <div class="actions">
      <button spk-button type="button" class="outlined" [routerLink]="['/']">
        <spk-icon>arrow-left</spk-icon>
        Back
      </button>

      <button
        spk-button
        type="submit"
        class="raised primary"
        (click)="submit()"
        [disabled]="isRestoring()"
        [class.loader]="isRestoring()">
        <spk-icon>download-simple</spk-icon>
        Restore
      </button>
    </div>
  </h3>
</header>

<form [formGroup]="importForm" autocomplete="off">
  <spk-form-field spkDragDrop (fileDropped)="onFileDropped($event)">
    <label for="file" i18n>Select a configuration file</label>
    <input type="file" accept=".json,.aes" (change)="onFileDropped($event)" />

    <spk-icon suffix>upload</spk-icon>
  </spk-form-field>

  @if (isSecureFile()) {
    <spk-form-field>
      <label for="passphrase" i18n>Passphrase</label>
      <input type="password" formControlName="passphrase" />
    </spk-form-field>
  }
</form>
