<app-status-bar />

<form [formGroup]="settingsForm" class="content" (submit)="submit()">
  <header>
    <div class="title">
      <h2 i18n>Settings</h2>
      <p i18n>Configure your backup settings.</p>
    </div>

    <button type="submit" spk-button class="raised primary" i18n [disabled]="settingsForm.untouched">
      Save changes
    </button>
  </header>

  <section>
    <div class="left">
      <h3 i18n>Remote access control</h3>
      <p>{{ remoteControlStatus() }}</p>
    </div>

    <div class="right">
      <app-remote-control></app-remote-control>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Pause after startup or hibernation</h3>
      <p i18n>
        Duplicati will run when started, but will remain in paused state for the duration. Duplicati will occupy minimal
        system resources and no backups will be run.
      </p>
    </div>

    <div class="right">
      <div class="field-row" formGroupName="pauseSettings">
        <spk-select [hideClearButton]="true">
          <input type="search" formControlName="time" />

          @for (x of timeOptions(); track $index) {
            <spk-option [value]="x">{{ x }}</spk-option>
          }
        </spk-select>

        <spk-select [displayFn]="typeDisplay()" [hideClearButton]="true">
          <input type="text" formControlName="timeType" />

          @for (x of timeTypeOptions(); track $index) {
            <spk-option [value]="x.value" (click)="pauseSettings.controls.timeType.setValue(x.value)">
              {{ x.label }}
            </spk-option>
          }
        </spk-select>
      </div>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Color theme</h3>
      <p i18n>Customize your application theme</p>
    </div>

    <div class="right">
      <div class="themes">
        <img
          src="assets/images/light-theme.png"
          [class.active]="!isDarkMode()"
          alt="light theme"
          (click)="setLightMode()" />

        <img
          src="assets/images/dark-theme.png"
          [class.active]="isDarkMode()"
          alt="dark theme"
          (click)="setDarkMode()" />
        <!-- <img src="assets/images/system-theme.png" alt="system theme" /> -->
      </div>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Language</h3>
      <p i18n>Select a language for the platform</p>
    </div>

    <div class="right">
      <spk-select [displayFn]="languageDisplay()" [hideClearButton]="true" (change)="saveLocale($event)">
        <input type="search" [(ngModel)]="langCtrl" [ngModelOptions]="{ standalone: true }" />

        @for (x of languageOptions(); track $index) {
          <spk-option [value]="x.value">
            {{ x.label }}
          </spk-option>
        }
      </spk-select>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Tray icon</h3>
      <p i18n>Disable the tray icon login</p>
    </div>

    <div class="right">
      <spk-toggle class="primary raised" [class.active]="disableTrayIconLogin()" (click)="saveDisableTrayIconLogin()">
        <label for="disable-tray-icon-login" i18n>Disable the tray icon login</label>
      </spk-toggle>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Update channel</h3>
      <p>
        @if (updateChannel() !== '' && sysinfo()?.ServerVersion) {
          {{ sysinfo()?.ServerVersion }}
        }
      </p>

      @if (updatingChannel()) {
        <spk-progress-bar class="indeterminate primary" />
      }
    </div>

    <div class="right radios">
      <div class="radio-option" (click)="setNewChannel('')">
        <spk-radio class="primary raised" [class.active]="updateChannel() === ''" i18n>
          Default ({{ sysinfo()?.DefaultUpdateChannel }})
        </spk-radio>

        <p i18n>Same as the base install version: {{ sysinfo()?.ServerVersionType }}</p>
      </div>

      <div class="radio-option" (click)="setNewChannel('stable')">
        <spk-radio class="primary raised" [class.active]="updateChannel() === 'stable'" i18n>Stable</spk-radio>

        <p i18n>Official releases</p>
      </div>

      <div class="radio-option" (click)="setNewChannel('beta')">
        <spk-radio class="primary raised" [class.active]="updateChannel() === 'beta'" i18n>Beta</spk-radio>

        <p i18n>
          Try out the new features that we are working on. Currently the most stable version available. Test Restore
          data before using this in production environments.
        </p>
      </div>

      <div class="radio-option" (click)="setNewChannel('experimental')">
        <spk-radio class="primary raised" [class.active]="updateChannel() === 'experimental'" i18n>
          Experimental
        </spk-radio>

        <p i18n>Specific builds for developers only. Not for use with important data.</p>
      </div>

      <div class="radio-option" (click)="setNewChannel('canary')">
        <spk-radio class="primary raised" [class.active]="updateChannel() === 'canary'" i18n>Canary</spk-radio>

        <p i18n>Individual builds for developers only. Not for use with important data.</p>
      </div>
    </div>
  </section>

  <section>
    <div class="left">
      <h3 i18n>Usage statistics</h3>
      <p i18n>
        Usage reports help us improve the user experience and evaluate impact of new features. We use them to generate
        <a href="#">public usage statistics.</a>
        <br />
        <br />
        All usage reports are sent anonymously and do not contain any personal information. They contain information
        about hardware and operating system, the type of backend, backup duration, overall size of source data and
        similar data. They do not contain paths, filenames, usernames, passwords or similar sensitive information.
      </p>
    </div>

    <div class="right">
      <spk-select [displayFn]="usageDisplay()">
        <input type="text" formControlName="usageStatistics" />

        @for (x of usageStatisticsOptions(); track $index) {
          <spk-option [value]="x.value">
            {{ x.label }}
          </spk-option>
        }
      </spk-select>
    </div>
  </section>
</form>
